@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2"); }
@font-face {
  font-family: "SF";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf"); }
@font-face {
  font-family: "SF";
  font-weight: 500;
  src: url("../fonts/SF-Pro-Display-Medium.otf"); }
@font-face {
  font-family: "SF";
  font-weight: 600;
  src: url("../fonts/SF-Pro-Display-Semibold.otf"); }
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "SF", sans-serif; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

.block-wrapper {
  padding-left: 106px;
  padding-right: 123px;
  background-color: #111319; }

.animation-fade {
  transform: translate(0, 110%);
  opacity: 0; }
  .animation-fade._active {
    transform: translate(0, 0);
    opacity: 1; }

.block-team {
  user-select: none;
  padding: 65px 0; }
  .block-team__item {
    position: relative; }
    .block-team__item-big img {
      border-radius: 20px;
      vertical-align: bottom;
      width: 100%;
      height: 100%; }
    .block-team__item-info {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      background: #FEFEFE;
      border-radius: 2px;
      width: 250px;
      height: 50px;
      align-items: center;
      padding-left: 10px;
      box-sizing: border-box; }
    .block-team__item-img {
      margin-right: 10px; }
      .block-team__item-img img {
        vertical-align: bottom; }
    .block-team__item-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #000000; }
    .block-team__item-text {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #AFAEAC; }
  .block-team__description {
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE;
    margin-bottom: 50px; }
  .block-team__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px; }
    .block-team__header-prev {
      margin-right: 12px; }
    .block-team__header-prev, .block-team__header-next {
      position: relative;
      cursor: pointer;
      padding-bottom: 9px;
      transition: all 0.3s ease; }
      .block-team__header-prev::before, .block-team__header-prev::after, .block-team__header-next::before, .block-team__header-next::after {
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        transition: all 0.3s ease; }
      .block-team__header-prev::after, .block-team__header-next::after {
        content: "";
        background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
        left: 0;
        z-index: 1;
        opacity: 0; }
      .block-team__header-prev:hover, .block-team__header-next:hover {
        background: -webkit-linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FEA632;
        transition: all 0.3s ease; }
        .block-team__header-prev:hover::after, .block-team__header-next:hover::after {
          content: "";
          transition: all 0.3s ease;
          opacity: 1; }
    .block-team__header-nav {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #FEFEFE; }
    .block-team__header .block-title {
      margin-bottom: 0; }

.block-create {
  padding: 60px 0;
  overflow: hidden; }
  .block-create__wrap {
    display: flex;
    flex-wrap: wrap; }
  .block-create__item {
    flex: 0 0 31%;
    max-width: 31%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
    background: #191C26;
    border: 1px solid #191C26;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    transition: border 0.5s ease, opacity 1000ms ease 0ms, transform 1000ms ease 0ms; }
    .block-create__item:nth-child(2) {
      transition: border 0.5s ease, opacity 1000ms ease 100ms, transform 1000ms ease 100ms; }
    .block-create__item:nth-child(3) {
      transition: border 0.5s ease, opacity 1000ms ease 200ms, transform 1000ms ease 200ms; }
    .block-create__item:nth-child(5) {
      transition: border 0.5s ease, opacity 1000ms ease 100ms, transform 1000ms ease 100ms; }
    .block-create__item:nth-child(6) {
      transition: border 0.5s ease, opacity 1000ms ease 200ms, transform 1000ms ease 200ms; }
    .block-create__item:nth-child(3n) {
      margin-right: 0; }
    .block-create__item:hover {
      border-color: #FEA632;
      transition: all 0.3s ease; }
  .block-create__price {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE; }
  .block-create__link {
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    background: -webkit-linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FEA632;
    position: relative; }
    .block-create__link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: -webkit-linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
      left: 0;
      right: 0;
      bottom: 0px; }
  .block-create__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FEFEFE;
    margin-top: 15px;
    white-space: nowrap; }
  .block-create__more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px; }

.block-title {
  position: relative;
  margin-bottom: 55px; }
  .block-title h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FEFEFE;
    padding-left: 54px;
    position: relative; }
    .block-title h2::before {
      content: "";
      width: 42px;
      height: 3px;
      background-color: #FEA632;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 0; }

.container-site {
  max-width: 1280px;
  margin: auto; }

.button-primary {
  padding: 12px 10px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FEFEFE;
  background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
  border-radius: 60px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease; }
  .button-primary:hover, .button-primary:active {
    background: linear-gradient(309.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
    transition: all 0.3s ease; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3); }

.modal-callback {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #191C26;
  border-radius: 20px;
  width: 750px;
  z-index: 10; }
  .modal-callback__close {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px; }
  .modal-callback .button-primary {
    margin-top: 90px; }
  .modal-callback__container {
    padding: 55px 70px; }
    .modal-callback__container form {
      max-width: 430px; }

.form-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .form-row .input-block {
    max-width: 45%;
    flex: 0 0 45%; }

.input-block__error {
  opacity: 0;
  font-size: 16px;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  color: #E54322; }
.input-block label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #AFAEAC;
  padding: 0; }
.input-block input {
  height: 15px;
  border: 0;
  border-bottom: 1px solid #FEA632;
  padding: 0;
  margin: 0;
  background-color: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  outline: none;
  font-weight: 400;
  font-family: "SF", sans-serif;
  color: #AFAEAC;
  width: 100%;
  padding-bottom: 3px; }
  .input-block input::placeholder {
    color: transparent; }

.site-footer {
  background-color: #111319; }
  .site-footer__container {
    padding-top: 120px;
    padding-left: 106px;
    padding-right: 123px;
    padding-bottom: 54px; }
  .site-footer__dumbp {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .site-footer__dumbp-link {
      font-size: 14px;
      line-height: 18px;
      color: #FEFEFE; }
  .site-footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px; }
    .site-footer__social-item {
      margin-right: 55px;
      transition: all 0.3s ease; }
      .site-footer__social-item:hover {
        opacity: 0.7;
        transition: all 0.3s ease; }
      .site-footer__social-item:last-child {
        margin-right: 0; }
  .site-footer__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px; }
    .site-footer__line-item {
      max-width: 176px; }
    .site-footer__line-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #FEA632; }
    .site-footer__line-text, .site-footer__line-text a {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #FEFEFE; }

.block-callback {
  padding: 60px 0; }
  .block-callback__img {
    position: absolute;
    top: -120px;
    right: -126px; }
  .block-callback__container {
    position: relative;
    background: #191C26;
    border-radius: 20px;
    padding: 68px 88px;
    padding-bottom: 45px; }
    .block-callback__container .button-primary {
      margin-top: 110px;
      width: 237px;
      font-weight: 400;
      font-family: "SF", sans-serif;
      font-size: 16px;
      line-height: 19px;
      text-transform: none; }
  .block-callback .modal-callback__container {
    padding: 0; }
    .block-callback .modal-callback__container form {
      max-width: 530px; }

.block-products {
  user-select: none;
  padding: 60px 0; }
  .block-products__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px; }
  .block-products__link {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF; }
    .block-products__link:nth-child(2) {
      margin-left: 25px; }
  .block-products__download {
    font-size: 14px;
    line-height: 18px;
    background: -webkit-linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FEA632; }
  .block-products__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FEFEFE;
    margin-bottom: 20px; }
  .block-products__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE;
    margin-bottom: 12px; }
  .block-products__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE;
    margin-bottom: 20px; }
    .block-products__description span {
      color: #FEA632; }
  .block-products .button-primary {
    margin-bottom: 115px;
    width: 257px;
    text-align: center; }
  .block-products__nav {
    position: relative; }
  .block-products__next, .block-products__prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -23px; }
  .block-products__prev {
    left: -45px; }
  .block-products__next {
    right: -45px; }
  .block-products__wrap {
    display: flex; }
  .block-products__slider {
    flex: 0 0 500px;
    max-width: 500px;
    margin-left: 80px; }
    .block-products__slider.animation-fade {
      transition: all 0.6s ease;
      transform: translate(120%, 0); }
    .block-products__slider._active {
      transition: all 0.6s ease;
      transform: translate(0, 0); }
  .block-products__item {
    height: 150px;
    cursor: pointer; }
    .block-products__item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
      border-radius: 20px; }
  .block-products__phone {
    position: relative;
    width: 345px;
    height: 689px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box; }
    .block-products__phone.animation-fade {
      transition: all 0.6s ease;
      transform: translate(-120%, 0); }
    .block-products__phone._active {
      transition: all 0.6s ease;
      transform: translate(0, 0); }
    .block-products__phone-mask {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1; }
    .block-products__phone-img {
      height: 100%; }
      .block-products__phone-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50px; }

.banner {
  background-color: #111319;
  background-image: url(../img/bg.png); }
  .banner__container {
    padding-left: 105px;
    padding-top: 150px;
    padding-bottom: 260px; }
    .banner__container h1 {
      font-weight: normal;
      font-size: 38px;
      line-height: 49px;
      color: #FEFEFE;
      margin: 0;
      margin-bottom: 10px; }
      .banner__container h1 span {
        color: #AE88CF; }
    .banner__container p {
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FEFEFE; }
  .banner__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px; }
    .banner__inner-item {
      flex: 0 0 203px;
      max-width: 203px;
      margin-bottom: 30px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #AFAEAC; }
      .banner__inner-item:nth-child(1) {
        margin-right: 55px; }

.site-body {
  overflow: hidden; }
.site-wrap {
  display: flex; }
.site-header {
  position: sticky;
  top: 0;
  z-index: 8;
  width: 100%;
  background-color: #111319;
  padding: 35px 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(74, 75, 78, 0.18); }
  .site-header__wrap {
    box-sizing: border-box;
    padding-left: 105px;
    padding-right: 125px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .site-header__callback {
    margin-left: 150px; }
  .site-header__phone {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE;
    transition: all 0.3s ease; }
    .site-header__phone:hover, .site-header__phone:active {
      color: #FEA632;
      transition: all 0.3s ease; }
  .site-header__logo-text {
    display: none; }
  .site-header__logo .edit-path {
    transition: all 0.3s ease; }
  .site-header__logo:hover .edit-path, .site-header__logo:active .edit-path {
    fill: #fff;
    transform: translate(-2px, 1px);
    transition: all 0.3s ease; }
.site-content {
  flex: 0 0 calc(100% - 123px);
  max-width: calc(100% - 123px); }
.site-sidebar {
  height: 100%;
  position: sticky;
  top: 0;
  flex: 0 0 123px;
  max-width: 123px;
  background-color: #191C26;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 110px; }
  .site-sidebar nav a {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE; }
    .site-sidebar nav a .icon {
      display: block;
      text-align: center; }
    .site-sidebar nav a:hover, .site-sidebar nav a:active {
      background-color: #2D3241;
      transition: all 0.3s ease; }

.mobile-link {
  display: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
  color: #fff;
  border-bottom: 1px solid #fff; }

.input-block__textarea {
  display: none; }
  .input-block__textarea textarea {
    resize: none;
    width: 100%;
    background: #191C26;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #AFAEAC;
    font-family: "SF", sans-serif;
    outline: 0; }
    .input-block__textarea textarea::placeholder {
      color: #AFAEAC; }

.mobile-humburger {
  display: none; }

.mobile-menu {
  position: fixed;
  top: 107px;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: #191C26;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease; }
  .mobile-menu .button-primary {
    width: 200px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FEFEFE; }
  .mobile-menu ul {
    margin-bottom: 25px; }
    .mobile-menu ul li {
      margin-bottom: 15px; }
      .mobile-menu ul li a {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FEFEFE; }

.mobile-close {
  display: none; }

.massage-notice {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  height: 85px;
  display: none; }
  .massage-notice__close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px; }
  .massage-notice__wrap {
    display: flex; }
  .massage-notice__container {
    background-color: #EEFFCC;
    border-left: 6px solid #88CC00;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center; }
  .massage-notice__icon {
    flex: 0 0 24px;
    max-width: 24px;
    margin-right: 10px; }
  .massage-notice__block {
    flex: 0 0 calc(100% - 34px);
    max-width: calc(100% - 34px); }
  .massage-notice__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #111319;
    margin-bottom: 3px;
    max-width: 280px; }
  .massage-notice__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #111319;
    max-width: 280px; }
  .massage-notice.massage-notice--error .massage-notice__container {
    border-left-color: #E54322;
    background-color: #FADED9; }

.open__cat {
  display: none; }

.site-single-slider__next-button {
  display: none; }

.button-top {
  display: none; }

.not-founded-page {
  padding-top: 74px; }
  .not-founded-page h1 {
    font-weight: 500;
    font-size: 200px;
    line-height: 239px;
    color: #212223;
    margin: 0; }
  .not-founded-page p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 367px;
    margin: 0; }
  .not-founded-page .button-primary {
    margin-top: 25px;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0; }
  .not-founded-page__bg {
    background-image: url(../img/404.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh !important; }
    .not-founded-page__bg .block-wrapper {
      background-color: transparent !important; }

.white-theme-site .mobile-menu ul li a {
  color: #212223; }
.white-theme-site .mobile-humburger rect, .white-theme-site .mobile-humburger path {
  fill: #212223; }
.white-theme-site .mobile-close path {
  stroke: #212223; }
.white-theme-site .site-header {
  background-color: #EFEFF2; }
.white-theme-site .white-logo-color {
  fill: #212223; }
.white-theme-site .site-header__phone {
  color: #111319; }
  .white-theme-site .site-header__phone:hover {
    color: #FEA632; }
.white-theme-site .site-footer {
  background-color: #EFEFF2; }
.white-theme-site .site-body {
  min-height: 70vh;
  background-color: #EFEFF2; }
.white-theme-site .block-wrapper {
  background-color: #EFEFF2; }
.white-theme-site .site-footer__social-item svg {
  border-radius: 100px;
  border: 1px solid #000; }
.white-theme-site .site-footer__line-text, .white-theme-site .site-footer__line-text a, .white-theme-site .site-footer__dumbp-link {
  color: #191C26; }

.site-breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  .site-breadcrumbs a, .site-breadcrumbs span {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #212223; }
  .site-breadcrumbs .kb_sep {
    margin: 0 10px; }

.site-breadcrumbs-mobile {
  display: none; }

.site-title-page {
  font-weight: 500;
  font-size: 28px;
  line-height: 46px;
  color: #212223; }
  .site-title-page__wrap {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.site-nav-cat {
  margin-bottom: 50px; }
  .site-nav-cat ul {
    display: flex;
    flex-wrap: wrap; }
    .site-nav-cat ul li {
      background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
      padding: 2px;
      border-radius: 32px;
      margin-right: 15px;
      margin-bottom: 15px; }
      .site-nav-cat ul li a {
        display: block;
        border-radius: 32px;
        padding: 10px 35px;
        background-color: #EFEFF2;
        transition: all 0.5s ease;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #212223; }
        .site-nav-cat ul li a:hover, .site-nav-cat ul li a:active {
          background-color: #2D3241;
          transition: all 0.5s ease;
          color: #FEFEFE; }

.site-posts__item-more-copy {
  position: relative;
  width: 29px;
  height: 29px;
  cursor: pointer; }
  .site-posts__item-more-copy input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 100%; }

.site-posts__item-more-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer; }
  .site-posts__item-more-close svg path {
    fill: #fff; }

.site-posts__item-more {
  position: absolute;
  background-color: #111319;
  height: 80px;
  width: calc(100% - 2px);
  bottom: 0px;
  right: -500px;
  transition: all 0.3s ease;
  border-radius: 0 0 20px 20px; }
  .site-posts__item-more--active {
    right: 2px;
    transition: all 0.3s ease; }

.site-posts__item-social {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .site-posts__item-social > * {
    margin-right: 10px; }
    .site-posts__item-social > *:last-child {
      margin-right: 0; }

.site-posts__wrap {
  display: flex;
  flex-wrap: wrap; }
.site-posts__item {
  max-width: 31.5%;
  flex: 0 0 31.5%;
  margin-right: 2.75%;
  margin-bottom: 2.75%;
  overflow: hidden; }
  .site-posts__item:hover .site-posts__item-inner {
    background-color: #2D3241;
    transition: all 0.3s ease; }
  .site-posts__item:hover .site-posts__item-border {
    transition: all 0.3s ease; }
    .site-posts__item:hover .site-posts__item-border::before {
      content: "";
      opacity: 1;
      transition: all 0.1s ease; }
  .site-posts__item:hover .site-posts__item-link-text {
    background-color: transparent;
    transition: all 0.3s ease; }
  .site-posts__item:nth-child(3n) {
    margin-right: 0; }
  .site-posts__item-border {
    background: transparent;
    transition: all 0.3s ease;
    padding: 3px;
    position: relative;
    border-radius: 20px; }
    .site-posts__item-border::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
      transition: all 0.1s ease;
      position: absolute;
      content: "";
      border-radius: 20px;
      opacity: 0; }
  .site-posts__item-block {
    padding: 30px; }
  .site-posts__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FEFEFE;
    margin-bottom: 15px; }
  .site-posts__item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE;
    margin-bottom: 35px; }
  .site-posts__item-options {
    padding: 30px;
    padding-top: 0;
    position: relative; }
  .site-posts__item-repost {
    position: absolute;
    right: 25px;
    bottom: 25px;
    cursor: pointer; }
  .site-posts__item-time {
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE;
    position: relative;
    padding-bottom: 5px; }
    .site-posts__item-time::before {
      content: "";
      width: 43px;
      height: 3px;
      background: #FEA632;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .site-posts__item-date {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE; }
  .site-posts__item-link {
    display: inline-block;
    padding: 2px;
    width: 130px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 60px;
    background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%); }
    .site-posts__item-link-text {
      background-color: #111319;
      display: block;
      border-radius: 60px;
      text-align: center;
      line-height: 32px;
      height: 100%;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.3s ease;
      color: #FEFEFE; }
    .site-posts__item-link:hover .site-posts__item-link-text, .site-posts__item-link:active .site-posts__item-link-text {
      background-color: transparent;
      transition: all 0.3s ease; }
  .site-posts__item-img {
    height: 150px; }
    .site-posts__item-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px 18px 0 0; }
  .site-posts__item-inner {
    background-color: #111319;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1; }

.site-single-title {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 46px;
  color: #212223; }
  .site-single-title__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
  .site-single-title__description {
    display: flex;
    align-items: center; }
  .site-single-title__time, .site-single-title__date {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #212223; }
    .site-single-title__time img, .site-single-title__date img {
      margin-right: 10px; }
  .site-single-title__time {
    margin-right: 60px; }

.site-single-paragrah p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212223;
  margin-bottom: 15px; }

.site-single-block-image {
  margin-top: 25px; }
  .site-single-block-image__wrap {
    display: flex;
    flex-wrap: wrap; }
  .site-single-block-image__text {
    max-width: 40%;
    flex: 0 0 40%;
    margin-right: 5%; }
    .site-single-block-image__text h2, .site-single-block-image__text h3, .site-single-block-image__text h4, .site-single-block-image__text h5, .site-single-block-image__text h6 {
      margin: 0;
      margin-bottom: 12px; }
    .site-single-block-image__text h2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #212223; }
    .site-single-block-image__text p {
      margin-bottom: 15px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #212223; }
  .site-single-block-image__img {
    flex: 0 0 55%;
    max-width: 55%; }
    .site-single-block-image__img img {
      width: 100%;
      height: auto; }

.site-single-notice {
  background-color: #191C26;
  margin: 35px 0; }
  .site-single-notice__wrap {
    display: flex; }
  .site-single-notice__icon {
    flex: 0 0 75px;
    max-width: 75px;
    background-color: #2D3241;
    display: flex;
    align-items: center;
    justify-content: center; }
  .site-single-notice__block {
    flex: 0 0 calc(100% - 75px);
    max-width: calc(100% - 75px);
    box-sizing: border-box;
    padding: 25px 15px; }
    .site-single-notice__block h3 {
      margin: 0; }
  .site-single-notice__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FEFEFE; }

.site-single-slider__init .site-posts__item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-right: 0;
  user-select: none; }

.progress-bar {
  left: 0;
  top: 0;
  height: 2px;
  width: 0%;
  background: #FEA632;
  position: absolute;
  top: 117px; }

.site-single-list {
  margin-top: 35px;
  margin-bottom: 35px; }
  .site-single-list--num .site-single-list__title::before {
    content: "";
    display: none; }
  .site-single-list--num .site-single-list__num {
    position: absolute;
    top: 0;
    left: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FEA632; }
  .site-single-list__wrap {
    display: flex;
    flex-wrap: wrap; }
  .site-single-list__item {
    max-width: 49%;
    flex: 0 0 49%;
    margin-right: 2%;
    box-sizing: border-box;
    padding-left: 30px;
    margin-bottom: 13px;
    position: relative; }
    .site-single-list__item:nth-child(2n) {
      margin-right: 0; }
  .site-single-list__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #212223;
    position: relative; }
    .site-single-list__title::before {
      content: "";
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background: #FEA632;
      position: absolute;
      left: -30px;
      top: 8px; }
  .site-single-list__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #212223; }

.site-single-slider {
  user-select: none;
  margin-top: 100px; }
  .site-single-slider__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; }
  .site-single-slider__prev, .site-single-slider__next, .site-single-slider .site-single-slider__link {
    position: relative;
    padding-bottom: 10px;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #212223; }
    .site-single-slider__prev:hover, .site-single-slider__next:hover, .site-single-slider .site-single-slider__link:hover {
      background: -webkit-linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #FEA632;
      transition: all 0.3s ease; }
      .site-single-slider__prev:hover::before, .site-single-slider__next:hover::before, .site-single-slider .site-single-slider__link:hover::before {
        content: "";
        background: linear-gradient(249.83deg, #FFC136 11.17%, #FF8A2F 43.87%, #FF3676 83.17%);
        transition: all 0.3s ease; }
    .site-single-slider__prev::before, .site-single-slider__next::before, .site-single-slider .site-single-slider__link::before {
      content: "";
      position: absolute;
      transition: all 0.3s ease;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: #212223;
      bottom: 0; }
  .site-single-slider__link {
    margin: 0; }
  .site-single-slider__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }

.site-single-table {
  margin-left: -4px;
  margin-right: -4px;
  overflow-x: scroll; }
  .site-single-table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 20px; }
  .site-single-table::-webkit-scrollbar-thumb {
    background: #AFAEAC;
    border-radius: 20px; }
  .site-single-table::-webkit-scrollbar-track {
    background: #EFEFF2;
    border-radius: 20px; }
  .site-single-table table, .site-single-table th, .site-single-table td {
    border: 2px solid #EFEFF2; }
  .site-single-table thead {
    background-color: #2D3241;
    border-collapse: collapse;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FEFEFE; }
    .site-single-table thead td {
      padding: 15px 0; }
  .site-single-table tbody {
    background-color: #FEFEFE; }
    .site-single-table tbody td {
      padding: 30px 15px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #212223;
      min-width: 230px;
      max-width: 230px;
      box-sizing: border-box; }

@media (max-width: 1279px) {
  .site-header__wrap {
    padding: 0 20px; }

  .site-footer__container {
    padding-left: 20px;
    padding-right: 20px; }

  .banner__container {
    padding-left: 50px; }

  .block-wrapper {
    padding: 0 50px; } }
@media (max-width: 1160px) {
  .block-products__phone {
    display: none; }

  .block-products__slider {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%; }

  .block-create__title {
    font-size: 16px; }

  .block-products__nav {
    padding: 0 60px; }

  .block-products__prev {
    left: 0; }

  .block-products__next {
    right: 0; } }
@media (max-width: 993px) {
  .site-single-block-image__text {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1; }

  .site-single-title__time {
    margin-right: 20px; }

  .site-single-block-image__img {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px; }

  .site-posts__item {
    flex: 0 0 48%;
    max-width: 48%;
    margin-right: 4%;
    margin-bottom: 4%; }
    .site-posts__item:nth-child(3n) {
      margin-right: auto; }
    .site-posts__item:nth-child(2n) {
      margin-right: 0; }

  .block-create__item {
    flex: 0 0 49%;
    max-width: 49%;
    margin-right: 2%;
    margin-bottom: 2%; }
    .block-create__item:nth-child(3n) {
      margin-right: auto; }
    .block-create__item:nth-child(2n) {
      margin-right: 0; }

  .site-header__callback {
    margin-left: 0; }

  .block-callback .modal-callback__container form {
    max-width: 100%; }

  .block-callback__img {
    display: none; }

  .block-callback__container {
    padding: 45px; }

  .site-footer__line-item {
    max-width: 150px; } }
@media (max-width: 850px) {
  .banner {
    background-position-x: -100px;
    background-repeat: no-repeat;
    background-position-y: center; }
    .banner__container {
      padding-top: 50px;
      padding-bottom: 100px; } }
@media (max-width: 768px) {
  .button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;
    display: block;
    opacity: 0;
    transition: all 0.3s ease; }

  .site-single-slider__link {
    display: none; }

  .site-single-slider__init {
    margin-right: -15px; }

  .site-single-slider__next-button {
    display: block; }

  .site-single-slider {
    margin-bottom: 95px; }
    .site-single-slider .site-posts__item-block {
      padding: 20px; }
    .site-single-slider .site-posts__item-options {
      padding: 20px;
      padding-top: 20px; }

  .site-single-slider__footer {
    display: none; }

  .progress-bar {
    top: 106px; }

  .site-single-title__wrap {
    flex-wrap: wrap; }
    .site-single-title__wrap .site-single-title {
      flex: 0 0 100%;
      order: 1;
      margin-top: 20px; }

  .site-single-list__item {
    flex: 0 0 100%;
    max-width: 100%; }

  .site-single-notice__text {
    font-size: 16px;
    line-height: 19px; }

  .site-single-notice__block {
    padding: 15px; }

  .white-theme-site .site-body, .white-theme-site .block-wrapper {
    background-color: #F9F9FD; }

  .white-theme-site .mobile-menu {
    background-color: #EFEFF2; }

  .white-theme-site .site-header {
    background-color: #EFEFF2 !important; }

  .banner {
    background-image: url(../img/mobilebanner.png);
    background-position-x: right;
    background-position-y: 20px; }

  .banner__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px; }
    .banner__container .button-primary {
      margin-top: 20px;
      width: 200px;
      border-radius: 60px;
      font-size: 16px;
      line-height: 19px;
      color: #FEFEFE;
      text-align: center; }
    .banner__container h1 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px; }
    .banner__container p {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      max-width: 226px; }
    .banner__container .banner__inner {
      display: none; }

  .block-wrapper {
    padding: 0 15px; }

  .block-create {
    padding-top: 0; }

  .block-title {
    margin-bottom: 25px; }
    .block-title h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px; }

  .block-create__item {
    border-radius: 16px;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px; }

  .block-create__title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    min-height: 36px; }

  .block-create__price, .block-create__link {
    font-size: 10px;
    line-height: 16px; }

  .block-create__more {
    margin-top: 10px; }

  .block-create__icon img {
    max-width: 102px; }

  .block-team {
    padding-top: 40px;
    padding-bottom: 100px; }

  .block-team__header-nav {
    display: none; }

  .block-team__header {
    margin-bottom: 25px; }

  .block-team__description {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; }

  .block-team__item-title {
    font-weight: 600;
    font-size: 7.1662px;
    line-height: 9px;
    color: #000000; }

  .block-team__item-text {
    font-size: 5.82254px;
    line-height: 8px; }

  .block-team__item-img img {
    max-width: 15px; }

  .block-team__item-img {
    display: flex;
    align-items: center; }

  .block-team__item-info {
    width: 117px;
    height: 26px;
    bottom: 10px; }

  .block-products {
    padding-top: 40px; }

  .block-products__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px; }

  .block-products__text {
    font-size: 16px;
    line-height: 24px;
    color: #FEFEFE; }

  .block-products .button-primary {
    display: none; }

  .block-products__next, .block-products__prev {
    display: none; }

  .block-products__nav {
    padding: 0; }

  .block-products__slider, .block-products__nav {
    display: flex;
    flex-direction: column; }

  .block-products__description, .block-products__init {
    order: 1;
    max-width: 100%; }

  .block-products__footer {
    margin-top: 25px;
    flex-wrap: wrap;
    margin-bottom: 25px; }

  .block-products__download {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px; }

  .block-products__link {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-right: 30px; }

  .block-products__link:nth-child(2) {
    margin-left: 0; }

  .block-products__description {
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; }

  .block-callback {
    padding-top: 40px;
    padding-bottom: 0; }

  .block-callback__container {
    padding: 0;
    background-color: transparent; }

  .block-callback__container .button-primary {
    margin-top: 0; }

  .form-row {
    margin-bottom: 0;
    flex-wrap: wrap; }
    .form-row .input-block {
      flex: 0 0 100%;
      max-width: 100%; }

  .input-block label {
    display: none; }

  .input-block input {
    height: 40px;
    background-color: #191C26 !important;
    border-radius: 10px;
    border-bottom: 0 solid #000;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    color: #AFAEAC; }
    .input-block input::placeholder {
      color: #AFAEAC; }

  .input-block {
    margin-bottom: 15px; }

  .site-sidebar {
    display: none; }

  .site-content {
    flex: 0 0 100%;
    max-width: 100%; }

  .block-team__init, .block-products__init {
    margin-right: -15px; }

  .block-products__init {
    max-width: calc(100% + 15px); }

  .site-footer__line-item {
    flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 40px; }

  .site-footer__line {
    flex-wrap: wrap;
    margin-bottom: 20px; }

  .site-footer__line-text, .site-footer__line-text a {
    max-width: 176px; }

  .site-footer__social-item {
    margin-right: 20px; }

  .site-footer__dumbp {
    flex-wrap: wrap; }

  .site-footer__dumbp .site-header__logo {
    flex: 0 0 100%;
    margin-bottom: 30px; }

  .site-footer__container {
    padding-bottom: 30px; }

  .site-footer__dumbp-link {
    color: #7B7B7B; }

  .site-header__logo-wrap {
    max-width: 44px;
    overflow: hidden;
    display: block; }

  .site-header__logo-text {
    display: block;
    margin-top: 5px;
    margin-left: 10px; }

  .site-header__logo {
    display: flex;
    align-items: center; }

  .site-header__callback {
    display: none; }

  .mobile-humburger {
    display: block; }

  .site-header {
    padding-bottom: 17px;
    padding-top: 42px; }

  .modal-callback {
    width: 100%;
    background-color: #111319; }

  .modal-callback .modal-callback__container {
    padding: 33px;
    padding-top: 70px; }

  .modal-callback .button-primary {
    margin: auto;
    display: block; }

  .input-block__textarea {
    display: block; }

  .input-block__msg {
    display: none; }

  .mobile-link {
    display: inline-block; } }
@media (max-width: 500px) {
  .not-founded-page__bg {
    background-image: url(../img/404mobile.png);
    text-align: center; }

  .not-founded-page .button-primary {
    margin-top: 30px; }

  .not-founded-page {
    padding-top: 50px; }
    .not-founded-page h1 {
      font-weight: 500;
      font-size: 150px;
      line-height: 179px;
      color: #FEFEFE; }
    .not-founded-page p {
      font-size: 16px;
      line-height: 24px;
      color: #FEFEFE;
      max-width: 80%;
      margin: auto;
      text-align: left; }

  .site-posts__item {
    flex: 0 0 100%;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 25px; }

  .site-nav-cat {
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s ease; }
    .site-nav-cat--active {
      max-height: 50em;
      transition: all 0.3s ease; }

  .site-nav-cat ul li a {
    background-color: #F9F9FD; }

  .site-breadcrumbs {
    display: none; }

  .site-title-page {
    font-size: 28px;
    line-height: 46px; }

  .white-theme-site .site-footer__dumbp-link {
    color: #7B7B7B; }

  .site-breadcrumbs-mobile {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px; }
    .site-breadcrumbs-mobile a {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #212223; }
      .site-breadcrumbs-mobile a svg {
        margin-right: 15px; }

  .open__cat {
    width: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #212223;
    box-sizing: border-box;
    border-radius: 32px;
    height: 42px; }
    .open__cat svg {
      margin-left: 10px; } }
@media (max-width: 433px) {
  .block-products__link:nth-child(1) {
    margin-right: 170px;
    margin-bottom: 15px; } }
@media (max-width: 355px) {
  .site-header__phone {
    display: none; } }

/*# sourceMappingURL=main.css.map */
