@media (max-width: 1600px)
	.services-block
		overflow: hidden
		padding: 0 15px
	.services, .how-video, .about-block-site
		padding: 0 15px
	.danger
		margin-left: 15px
		margin-right: 15px
	.materials-block
		max-width: 1230px
		padding-left: 15px
		padding-right: 15px
		margin-left: auto
		margin-right: auto
@media (max-width: 1200px)
	.offer
		height: 420px
	.offer__block .button-index
		margin-top: 40px
	.doctor-block__wrap
		box-sizing: border-box
		padding: 0 20px
	.price-block-site__wrap
		overflow-x: scroll
		overflow-y: hidden
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
	.price-block-site__item
		flex: 0 0 360px
		max-width: 360px
		margin-right: 15px
	.reviews-block-site__item
		flex: 0 0 320px
		max-width: 320px
		padding-right: 15px
	.reviews-block-site__wrap
		overflow-x: scroll
		overflow-y: hidden
		padding: 20px 10px
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
	.reviews-block-site__buttons
		display: none
	.reviews-block-site__track
		padding-right: 0
	.news-block-site__wrap
		overflow-x: scroll
		overflow-y: hidden
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
	.news-block-site__item
		flex: 0 0 380px
		max-width: 380px
		margin-right: 20px
	.news-block-site, .price-block-site
		padding-right: 0
	.callback-form-site__wrap
		flex-wrap: wrap
	.callback-form-site__block
		max-width: 100%
		flex: 0 0 100%
	.callback-form-site__form
		display: none


@media (max-width: 993px)
	.materials-block__left
		max-width: 100%
		flex: 0 0 100%
	.materials-block
		display: none
	.price-line
		flex-wrap: wrap
	.price-line__block
		max-width: 100%
		flex: 0 0 100%
	.price-line__link
		max-width: 100%
		flex: 0 0 100%
		margin-left: 0
		margin-top: 30px
	.sale-block
		flex-wrap: wrap
	.sale-block__text
		max-width: 100%
		flex: 0 0 100%
	.sale-block__block
		padding: 40px
	.materials-block__wrap
		flex-wrap: wrap
	.services-block__wrap
		padding: 0 15px
	.how-video__img
		flex: 0 0 100%
		max-width: 100%
	.helpful__wrap
		padding-left: 30px
		padding-right: 30px
	.helpful__text
		margin-left: 0
	.how-video__block
		padding-left: 0
		max-width: 100%
		flex: 0 0 100%
		padding: 25px
	.faq-block__img
		display: none
	.faq-block__inner
		flex: 0 0 100%
		max-width: 100%
	.about-block-site__offer
		order: 1
	.about-block-site__wrap
		justify-content: space-between
		padding: 0 20px
	.about-block-site__column
		flex: 47%
		max-width: 47%
		order: 2
	.about-block-site__offer
		flex: 0 0 100%
		max-width: 100%
		background-color: transparent
		padding: 0
	.about-block-site__offer-title
		border-radius: 5px
		background-color: #007163
		padding-left: 15px
		padding-right: 15px
		padding-top: 35px
		padding-bottom: 30px
		max-width: 270px
		margin: auto
		margin-bottom: 50px
	.services
		padding: 0 15px
	.services__item-title
		font-size: 16px
	.services__item-block
		overflow: hidden
	.offer__title
		font-size: 36px
	.offer__text
		font-size: 24px
		line-height: 28px
	.offer__block .button-index
		margin-left: 0
	.offer__block
		padding-left: 30px
		padding-right: 30px
	.doctor-block__item
		height: 220px
	

@media (max-width: 888px)
	.doctor-block__inner
		flex-wrap: wrap
	.doctor-block__img
		max-width: 100%
		flex: 0 0 100%
		margin-right: 0
		img
			width: 100%
	.doctor-block__text
		padding-left: 30px
		padding-right: 30px
		padding-top: 30px
		padding-bottom: 30px
	.doctor-block__wrap
		flex-wrap: wrap
	.doctor-block__item
		height: auto
		flex: 0 0 48%
		max-width: 48%
		padding: 10px
		&-text
			font-size: 18px
@media (max-width: 768px)
	.price-line__block
		flex-wrap: wrap
		justify-content: center
		&-text
			max-width: 100%
			flex: 0 0 100%
			text-align: center
			margin: 30px 0
	.callback-form-site__item
		max-width: 100%
		flex: 0 0 100%
	.callback-form-site__item:nth-child(2n)
		padding-left: 0
		border-left: 0 solid #000
	.danger__wrap
		flex-wrap: wrap
	.danger__img
		max-width: 100%
		flex: 0 0 100%
		text-align: center
		margin-bottom: 30px
		margin-right: 0
	.variant__item
		flex: 0 0 100%
		max-width: 100%
	.services__column
		max-width: 47.5%
		flex: 0 0 47.5%
		margin-bottom: 20px
	.services__wrap
		flex-wrap: wrap
	.offer
		background-image: none
		background-color: #056c5f
		height: auto
	.doctor-block__title
		font-size: 34px
		margin-bottom: 15px
	.doctor-block__subtitle
		font-size: 20px
		margin-bottom: 15px
	.doctor-block__inner .button-index-secondary
		margin-top: 40px

@media (max-width: 586px)
	.services-block__wrap
		flex-wrap: wrap
		overflow: hidden
	.services-block__column
		max-width: 100%
		margin-bottom: 30px
		flex: 0 0 100%
	.about-block-site__column
		max-width: 100%
		flex: 0 0 100%
	.helpful__wrap
		flex-wrap: wrap
	.helpful__text
		max-width: 100%
		flex: 0 0 100%
@media (max-width: 520px)
	.faq-block__offer
		padding-left: 30px
		padding-right: 30px
	.services__column
		max-width: 100%
		flex: 0 0 100%
	.services__title
		font-size: 36px
@media (max-width: 460px)
	.variant, .about-block-site
		margin-bottom: 30px
	.how-video
		margin-top: 30px
		margin-bottom: 30px
	.doctor-block__item
		flex-wrap: wrap
	.doctor-block__item-text
		flex: 0 0 100%
		max-width: 100%
		margin-right: 0
		font-size: 14px
	.doctor-block__item-image
		margin-right: 0
	.doctor-block__item-text
		margin-top: 20px
	.callback-form-site__block p
		font-size: 16px
		line-height: 20px
	.callback-form-site__item-text
		font-size: 18px
		line-height: 22px
	.callback-form-site__block
		padding-left: 20px

@media (max-width: 374px)
	.faq-accordion__title
		font-size: 20px
	.faq-accordion__body ul li
		font-size: 16px
		margin-bottom: 10px
	.faq-block__title, .helpful__text, .faq-block__offer-title strong, .about-block-site__title, .how-video__title, .variant__title, .price-block-site__title, .reviews-block-site__title
		font-size: 20px
		line-height: 24px
	.faq-block__offer-title
		font-size: 16px
		line-height: 20px
	.faq-block__offer-title span
		font-size: 18px
		line-height: 22px
	.danger__wrap
		padding-left: 20px
		padding-right: 20px
	.about-block-item
		flex-wrap: wrap
	.about-block-item__img
		margin-right: 0
		margin-bottom: 30px
		flex: 0 0 100%
		text-align: center
		max-width: 100%
	.about-block-item__block
		text-align: center
		flex: 0 0 100%
		max-width: 100%
	.about-block-item__text
		line-height: 20px
	.variant__item
		flex-wrap: wrap
		padding: 25px
	.variant__item-img
		max-width: 100%
		flex: 0 0 100%
		margin-bottom: 30px
		text-align: center
		margin-right: 0
	.variant__item-block
		flex: 0 0 100%
		max-width: 100%
		text-align: center