body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif; }

.offer {
  background-image: url(../img/offer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  height: 580px; }
  .offer__block {
    padding: 60px 80px; }
    .offer__block .button-index {
      margin-top: 120px;
      margin-left: 50px; }
  .offer__title {
    margin: 0;
    font-size: 60px;
    color: #fff;
    font-weight: 400; }
  .offer__text {
    margin: 0;
    color: #fff;
    font-size: 36px;
    line-height: 48px;
    margin-top: 30px; }

.content-size {
  max-width: 1600px;
  margin: auto; }

.button-index {
  border-radius: 2px 33px 33px 33px;
  background-color: #fff;
  display: block;
  height: 65px;
  width: 275px;
  line-height: 65px;
  text-decoration: none;
  text-align: center;
  color: #056c5f;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease; }
  .button-index:hover {
    background-color: #f2f2f2;
    color: #068474;
    transition: all 0.3s ease; }

.button-index-secondary {
  width: 200px;
  height: 60px;
  text-align: center;
  border-radius: 3px 30px 30px 30px;
  background-color: #056c5f;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  display: block;
  transition: all 0.3s ease; }
  .button-index-secondary:hover {
    background-color: #f8a683;
    transition: all 0.3s ease; }

.button-index-small {
  border-radius: 3px 25px 25px 25px;
  background-color: #fff;
  display: block;
  background-color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #005046;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease; }
  .button-index-small:hover {
    background-color: #005046;
    color: #fff;
    transition: all 0.3s ease; }

.doctor-block {
  background-color: #faf4ee;
  padding-top: 5px;
  margin-bottom: 50px; }
  .doctor-block__img {
    flex: 0 0 490px;
    max-width: 490px;
    margin-right: 40px; }
  .doctor-block__text {
    padding-right: 40px; }
  .doctor-block__inner {
    display: flex;
    align-items: center; }
    .doctor-block__inner .button-index-secondary {
      margin-top: 130px; }
  .doctor-block__title {
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 30px;
    color: #005046; }
  .doctor-block__subtitle {
    font-size: 27px;
    color: #3b615e;
    margin: 0;
    font-weight: 400;
    margin-bottom: 30px; }
  .doctor-block__paragraph {
    font-size: 17px;
    color: #848b8a;
    line-height: 27px;
    margin: 0; }
  .doctor-block__wrap {
    display: flex;
    max-width: 1110px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 15px; }
  .doctor-block__item {
    max-width: 48%;
    flex: 0 0 48%;
    background-color: #fff;
    height: 185px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .doctor-block__item:nth-child(2) .doctor-block__item-image {
      background-color: #f8a683; }
    .doctor-block__item:nth-child(2) .doctor-block__item-text {
      margin-top: 20px; }
    .doctor-block__item-image {
      background-color: #056c5f;
      flex: 0 0 80px;
      height: 80px;
      margin-right: 30px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .doctor-block__item-text {
      font-size: 28px;
      color: #005046; }

.services {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden; }
  .services__title {
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #005046; }
  .services__text {
    color: #848b8a;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px; }
  .services__wrap {
    display: flex;
    justify-content: space-between; }
  .services__column {
    max-width: 31.5%;
    flex: 0 0 31.5%; }
  .services__item {
    position: relative; }
    .services__item:hover .services__item-overlay {
      opacity: 1;
      transition: all 0.3s ease; }
    .services__item:hover .services__item-block {
      opacity: 0;
      transition: all 0.3s ease; }
    .services__item-overlay {
      width: 100%;
      height: 100%;
      top: -10px;
      left: 10px;
      background-color: rgba(248, 166, 131, 0.9);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.3s ease; }
      .services__item-overlay .button-index-small {
        margin-top: 10px; }
      .services__item-overlay p {
        font-size: 26px;
        color: #fff;
        margin: 0;
        margin-bottom: 20px; }
      .services__item-overlay span {
        font-size: 16px;
        color: #fff;
        display: block;
        height: 80px;
        padding-left: 30px;
        padding-right: 30px; }
    .services__item-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom; }
    .services__item-block {
      display: flex;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 70px;
      background-color: #007163;
      transition: all 0.3s ease; }
    .services__item-title {
      font-size: 26px;
      color: #fff;
      margin: 0;
      font-weight: 400;
      padding-left: 30px;
      padding-right: 30px; }
    .services__item-plus {
      flex: 0 0 70px;
      max-width: 70px;
      background-color: #f8a683;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }

.variant {
  margin-top: 90px;
  margin-bottom: 90px; }
  .variant__title {
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #005046; }
  .variant__wrap {
    display: flex;
    max-width: 1380px;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); }
  .variant__item {
    display: flex;
    max-width: 50%;
    padding: 50px 40px;
    box-sizing: border-box;
    flex: 0 0 50%; }
    .variant__item:nth-child(2), .variant__item:nth-child(3) {
      background-color: #f8a683; }
      .variant__item:nth-child(2) .variant__item-title, .variant__item:nth-child(2) a, .variant__item:nth-child(3) .variant__item-title, .variant__item:nth-child(3) a {
        color: #fff; }
      .variant__item:nth-child(2) a svg path, .variant__item:nth-child(3) a svg path {
        fill: #fff; }
    .variant__item-img {
      flex: 0 0 80px;
      margin-right: 25px;
      height: 80px; }
    .variant__item-block {
      max-width: 0 0 calc(100% - 105px);
      flex: calc(100% - 105px); }
    .variant__item-title {
      font-size: 30px;
      color: #005046;
      margin: 0;
      margin-bottom: 20px;
      font-weight: 600; }
    .variant__item a {
      font-size: 16px;
      line-height: 27px;
      color: #848b8a;
      text-decoration: none; }
      .variant__item a svg {
        margin-left: 25px; }

.helpful {
  background-image: url(../img/bg.jpg);
  border-radius: 10px;
  margin-bottom: -10px; }
  .helpful__wrap {
    max-width: 1600px;
    margin: auto;
    padding: 50px 115px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center; }
  .helpful__text {
    margin-left: 95px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    color: #005046; }

.bg {
  background-image: url(../img/bg1.png);
  background-repeat-y: no-repeat;
  background-position: center center; }

.danger {
  background-image: url(../img/bg.jpg); }
  .danger__wrap {
    max-width: 1600px;
    margin: auto;
    padding: 50px 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center; }
  .danger__img {
    flex: 0 0 140px;
    max-width: 140px;
    margin-right: 40px; }
  .danger__title {
    margin: 0;
    color: #056c5f;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600; }
  .danger__text {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #1f1f1f; }
    .danger__text span {
      color: #f8a683; }

.services-block {
  overflow: hidden;
  padding-right: 10px;
  padding-top: 10px; }
  .services-block__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .services-block__column {
    max-width: 48%;
    flex: 0 48%; }

.faq-block {
  margin-top: 70px; }
  .faq-block .button-index-secondary {
    margin-top: 30px; }
  .faq-block__offer {
    background-color: #056c5f;
    border-radius: 10px;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 90px;
    text-align: center;
    margin-bottom: -10px;
    position: relative;
    z-index: 1; }
    .faq-block__offer-title {
      font-size: 30px;
      line-height: 36px;
      color: #fff; }
      .faq-block__offer-title span {
        font-size: 40px;
        line-height: 48px; }
      .faq-block__offer-title strong {
        font-size: 60px;
        line-height: 60px; }
  .faq-block__title {
    font-size: 36px;
    line-height: 48px;
    color: #005046;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .faq-block__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .faq-block__inner {
    flex: 0 0 62%;
    max-width: 62%;
    padding-top: 35px;
    background-color: #fbf7f3;
    padding-left: 30px;
    padding-right: 20px;
    box-sizing: border-box; }
  .faq-block__img {
    flex: 0 0 38%;
    max-width: 38%; }
    .faq-block__img img {
      width: 100%; }

.about-block-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }
  .about-block-item__img {
    flex: 0 0 80px;
    height: 80px;
    margin-right: 25px; }
  .about-block-item__block {
    flex: 0 0 calc(100% - 120px);
    max-width: calc(100% - 120px); }
  .about-block-item__title {
    font-size: 27px;
    line-height: 30px;
    font-weight: 500;
    color: #005046;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .about-block-item__text {
    font-size: 16px;
    line-height: 27px;
    color: #848b8a;
    margin: 0; }

.about-block-site {
  margin-bottom: 110px; }
  .about-block-site__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: #005046;
    margin-bottom: 60px;
    margin-top: 0;
    font-weight: 600; }
  .about-block-site__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about-block-site__column {
    flex: 0 0 30%;
    max-width: 30%; }
  .about-block-site__offer {
    flex: 0 0 270px;
    max-width: 270px;
    border-radius: 5px;
    background-color: #007163;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
    height: 100%; }
    .about-block-site__offer-title {
      font-size: 26px;
      line-height: 26px;
      font-weight: bold; }
      .about-block-site__offer-title strong {
        font-size: 132px;
        line-height: 70px; }
      .about-block-site__offer-title span {
        font-size: 48px;
        line-height: 48px; }

.how-video {
  margin-top: 110px;
  margin-bottom: 110px; }
  .how-video .button-index-secondary {
    text-transform: uppercase;
    margin-top: 40px; }
  .how-video__wrap {
    display: flex;
    flex-wrap: wrap; }
  .how-video__img {
    flex: 0 0 50%;
    max-width: 50%; }
    .how-video__img img {
      width: 100%; }
  .how-video__block {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 70px; }
  .how-video__title {
    font-size: 36px;
    line-height: 48px;
    color: #005046;
    margin-top: 30px;
    margin-bottom: 30px; }
  .how-video__link {
    padding-left: 35px; }
    .how-video__link a {
      display: block;
      position: relative;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px;
      color: #222222;
      text-decoration: none; }
      .how-video__link a::before {
        content: "";
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/check.png);
        position: absolute;
        left: -35px; }

.faq-accordion {
  border-bottom: 1px solid #e4dfd9; }
  .faq-accordion__body {
    display: none; }
    .faq-accordion__body p {
      font-size: 16px;
      line-height: 20px; }
    .faq-accordion__body ul li {
      position: relative;
      list-style-type: none;
      font-size: 18px;
      margin-bottom: 20px; }
      .faq-accordion__body ul li::before {
        content: "";
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/check.png);
        position: absolute;
        left: -35px; }
  .faq-accordion__item {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    cursor: pointer; }
    .faq-accordion__item--active .faq-accordion__item-button {
      background-color: #056c5f; }
    .faq-accordion__item--active .faq-accordion__item-minus {
      display: block; }
    .faq-accordion__item--active .faq-accordion__item-plus {
      display: none; }
    .faq-accordion__item-button {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff; }
    .faq-accordion__item-minus {
      display: none;
      margin-left: 2px; }
  .faq-accordion__title {
    font-size: 27px;
    color: #005046;
    flex: 0 0 calc(100% - 40px); }

.interesting {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #848b8a;
  text-decoration: none; }
  .interesting svg {
    margin-right: 20px; }

.news-block-site {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px; }
  .news-block-site__button {
    text-align: center; }
    .news-block-site__button .button-index-secondary {
      margin: auto;
      text-transform: uppercase;
      background-color: #f8a683; }
      .news-block-site__button .button-index-secondary:hover {
        background-color: #056c5f; }
  .news-block-site__icon {
    text-align: center; }
  .news-block-site__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: #005046;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: 600; }
  .news-block-site__wrap {
    display: flex;
    justify-content: space-between; }
  .news-block-site__item {
    max-width: 31.5%;
    flex: 0 0 31.5%;
    margin-bottom: 45px; }
    .news-block-site__item-link {
      margin: 0;
      margin-top: 5px;
      height: 69px;
      overflow: hidden; }
      .news-block-site__item-link a {
        color: #005046;
        text-decoration: none;
        font-size: 18px; }
        .news-block-site__item-link a:hover {
          text-decoration: underline; }
    .news-block-site__item-img {
      height: 315px;
      width: 100%; }
      .news-block-site__item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
        border-radius: 5px 5px 0 0; }
    .news-block-site__item-block {
      background-color: #fbf7f3;
      border-radius: 0 0 20px 0;
      width: calc(100% - 50px);
      margin-top: -60px;
      position: relative;
      z-index: 1;
      padding-left: 20px;
      padding-bottom: 40px;
      padding-right: 10px;
      box-sizing: border-box; }
    .news-block-site__item-status {
      color: #848b8a;
      font-size: 12px; }
    .news-block-site__item-day {
      background-color: #056c5f;
      text-align: center;
      flex: 0 0 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: -10px;
      flex-direction: column;
      color: #fff; }
      .news-block-site__item-day strong {
        text-align: center;
        font-size: 20px; }
    .news-block-site__item-opt {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }

.reviews-block-site {
  max-width: 1200px;
  margin: auto; }
  .reviews-block-site__title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    color: #005046;
    margin-bottom: 60px;
    margin-top: 60px;
    font-weight: 600; }
  .reviews-block-site__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    user-select: none; }
    .reviews-block-site__buttons-item {
      cursor: pointer; }
    .reviews-block-site__buttons-circle {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #056b5e;
      margin-left: 10px;
      margin-right: 10px; }
  .reviews-block-site__track {
    overflow: hidden;
    padding: 15px; }
  .reviews-block-site__wrap {
    display: flex;
    transition: all 0.3s ease; }
  .reviews-block-site__item {
    flex: 0 0 31.5%;
    max-width: 31.5%;
    padding-right: 2.75%; }
    .reviews-block-site__item-title {
      font-size: 27px;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 20px; }
    .reviews-block-site__item-link {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      height: 20px; }
      .reviews-block-site__item-link svg {
        margin-left: 15px;
        transition: all 0.3s ease; }
      .reviews-block-site__item-link:hover svg {
        margin-left: 30px;
        transition: all 0.3s ease; }
    .reviews-block-site__item-rating {
      margin-bottom: 30px; }
    .reviews-block-site__item-text {
      font-size: 18px;
      line-height: 32px;
      color: #848b8a; }
    .reviews-block-site__item-body {
      padding: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
      background-image: url(../img/quote.png);
      background-repeat: no-repeat;
      background-position-y: 40px;
      background-position-x: calc(100% - 40px); }
    .reviews-block-site__item-footer {
      background-color: #056c5f;
      padding: 30px 50px; }

@media (max-width: 1600px) {
  .services-block {
    overflow: hidden;
    padding-right: 0; } }
@media (max-width: 1200px) {
  .offer {
    height: 420px; }

  .offer__block .button-index {
    margin-top: 40px; }

  .doctor-block__wrap {
    box-sizing: border-box;
    padding: 0 20px; } }
@media (max-width: 993px) {
  .services-block__wrap {
    padding: 0 15px; }

  .how-video__img {
    flex: 0 0 100%;
    max-width: 100%; }

  .helpful__wrap {
    padding-left: 30px;
    padding-right: 30px; }

  .helpful__text {
    margin-left: 0; }

  .how-video__block {
    padding-left: 0;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 25px; }

  .faq-block__img {
    display: none; }

  .faq-block__inner {
    flex: 0 0 100%;
    max-width: 100%; }

  .about-block-site__offer {
    order: 1; }

  .about-block-site__wrap {
    justify-content: space-between;
    padding: 0 20px; }

  .about-block-site__column {
    flex: 47%;
    max-width: 47%;
    order: 2; }

  .about-block-site__offer {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: transparent;
    padding: 0; }

  .about-block-site__offer-title {
    border-radius: 5px;
    background-color: #007163;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
    max-width: 270px;
    margin: auto;
    margin-bottom: 50px; }

  .services {
    padding: 0 15px; }

  .services__item-title {
    font-size: 16px; }

  .services__item-block {
    overflow: hidden; }

  .offer__title {
    font-size: 36px; }

  .offer__text {
    font-size: 24px;
    line-height: 28px; }

  .offer__block .button-index {
    margin-left: 0; }

  .offer__block {
    padding-left: 30px;
    padding-right: 30px; }

  .doctor-block__item {
    height: 220px; } }
@media (max-width: 888px) {
  .doctor-block__inner {
    flex-wrap: wrap; }

  .doctor-block__img {
    max-width: 100%;
    flex: 0 0 100%;
    margin-right: 0; }
    .doctor-block__img img {
      width: 100%; }

  .doctor-block__text {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px; }

  .doctor-block__wrap {
    flex-wrap: wrap; }

  .doctor-block__item {
    height: auto;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px; } }
@media (max-width: 768px) {
  .danger__wrap {
    flex-wrap: wrap; }

  .danger__img {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0; }

  .variant__item {
    flex: 0 0 100%;
    max-width: 100%; }

  .services__column {
    max-width: 47.5%;
    flex: 0 0 47.5%;
    margin-bottom: 20px; }

  .services__wrap {
    flex-wrap: wrap; }

  .offer {
    background-image: none;
    background-color: #056c5f;
    height: auto; }

  .doctor-block__title {
    font-size: 34px;
    margin-bottom: 15px; }

  .doctor-block__subtitle {
    font-size: 20px;
    margin-bottom: 15px; }

  .doctor-block__inner .button-index-secondary {
    margin-top: 40px; } }
@media (max-width: 586px) {
  .services-block__wrap {
    flex-wrap: wrap;
    overflow: hidden; }

  .services-block__column {
    max-width: 100%;
    margin-bottom: 30px;
    flex: 0 0 100%; }

  .about-block-site__column {
    max-width: 100%;
    flex: 0 0 100%; }

  .helpful__wrap {
    flex-wrap: wrap; }

  .helpful__text {
    max-width: 100%;
    flex: 0 0 100%; } }
@media (max-width: 520px) {
  .faq-block__offer {
    padding-left: 30px;
    padding-right: 30px; }

  .services__column {
    max-width: 100%;
    flex: 0 0 100%; }

  .services__title {
    font-size: 36px; } }
@media (max-width: 460px) {
  .variant, .about-block-site {
    margin-bottom: 30px; }

  .how-video {
    margin-top: 30px;
    margin-bottom: 30px; }

  .doctor-block__item {
    flex-wrap: wrap; }

  .doctor-block__item-text {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0; }

  .doctor-block__item-image {
    margin-right: 0; }

  .doctor-block__item-text {
    margin-top: 20px; } }
@media (max-width: 374px) {
  .faq-accordion__title {
    font-size: 20px; }

  .faq-accordion__body ul li {
    font-size: 16px;
    margin-bottom: 10px; }

  .faq-block__title, .helpful__text, .faq-block__offer-title strong, .about-block-site__title, .how-video__title, .variant__title {
    font-size: 20px;
    line-height: 24px; }

  .faq-block__offer-title {
    font-size: 16px;
    line-height: 20px; }

  .faq-block__offer-title span {
    font-size: 18px;
    line-height: 22px; }

  .danger__wrap {
    padding-left: 20px;
    padding-right: 20px; }

  .about-block-item {
    flex-wrap: wrap; }

  .about-block-item__img {
    margin-right: 0;
    margin-bottom: 30px;
    flex: 0 0 100%;
    text-align: center;
    max-width: 100%; }

  .about-block-item__block {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%; }

  .about-block-item__text {
    line-height: 20px; }

  .variant__item {
    flex-wrap: wrap;
    padding: 25px; }

  .variant__item-img {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 0; }

  .variant__item-block {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
