body
	padding: 0
	margin: 0
	font-family: 'Gotham Pro'

.site
	&-header
		background-image: url(../img/bg.jpg)
		background-repeat: no-repeat
		background-position: left center
		background-size: contain
		position: relative
		&::before
			content: ""
			position: absolute
			width: 115px
			height: 120px
			background-image: url(../img/triangle.png)
			background-size: cover
		&-block
			max-width: 1770px
			margin: auto
			padding: 0 15px
			display: flex
			justify-content: space-between
			&-menu
				max-width: 230px
				flex: 0 0 230px
				display: flex
				align-items: center
				position: relative
				&::after
					content: ""
					width: 1px
					height: 135%
					border-right: 1px dashed #cccccc
					right: 0
					position: absolute
				&-button
					width: 170px
					height: 85px
					line-height: 85px
					display: flex
					align-items: center
					justify-content: center
					position: absolute
					border-radius: 60px 0 0 60px
					background: linear-gradient(-135deg, #000CFF 0%, #09D4F2 70.71%)
					transform: rotate(-90deg)
					letter-spacing: 3px
					color: #fff
					font-size: 12px
					font-weight: 700
					top: -110px
					right: -83px
					z-index: 1
					text-transform: uppercase
					img
						margin-right: 25px
						width: 24px
						height: 24px
				ul
					text-align: right
					padding: 0
					margin: auto
					margin-right: 0
					li
						list-style-type: none
						position: relative
						margin-bottom: 30px
						height: 30px
						a
							position: relative
							color: #888888
							font-weight: 700
							text-decoration: none
							line-height: 28px
							font-size: 12px
							text-transform: uppercase
							span
								position: relative
								z-index: 2
								line-height: 30px
								padding-right: 20px
						&::after
							content: ""
							width: 13px
							height: 13px
							border-radius: 100px
							position: absolute
							background-color: #1e79d6
							top: 50%
							transform: translateY(-50%)
							right: -5px
							z-index: 1
					.site-header-block-menu-item-active
						a
							color: #ffffff
							&::before
								content: ""
								background: linear-gradient(135deg, #000CFF 0%, #09D4F2 70.71%)
								left: -40px
								height: 30px
								position: absolute
								border-radius: 20px
								right: -15px
								z-index: 2
				&-item
					&-2
						&::after
							content: ""
							background-color: #9c00ff !important
					&-3
						&::after
							content: ""
							background-color: #24d477 !important
					&-4
						&::after
							content: ""
							background-color: #f79904 !important
					&-5
						&::after
							content: ""
							background-color: #d272ff !important
					&-6
						&::after
							content: ""
							background-color: #ffcc00 !important
			&-form
				max-width: 370px
				flex: 0 0 370px
				padding: 70px 50px 50px
				text-align: center
				border-radius: 20px
				box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4)
				height: 100%
				h2
					font-size: 25px
					margin: 0
					color: #333f4b
					font-weight: 900
				form
					max-width: 320px
					margin: auto
					margin-top: 40px
					margin-bottom: 40px
					button
						width: 270px
						margin-top: 20px
						height: 70px
						border-radius: 40px
						background-color: #0087ff
						border: 0
						box-shadow: 0 0 0 0 transparent
						outline: none
						transition: all .3s ease
						a
							display: block
							height: 70px
							border-radius: 40px
							line-height: 70px
							text-decoration: none
							font-size: 18px
							color: #fff
							text-transform: uppercase
							letter-spacing: 1px
							font-weight: 500
						&:hover
							background-color: darken(#0087ff, 5%)
							transition: all .3s ease
					input
						display: block
						width: calc(100% - 70px)
						padding: 0 10px
						height: 40px
						border: 0
						padding-right: 60px
						position: relative
						border-bottom: 1px solid #acacac
						margin-bottom: 20px
					.form-input
						position: relative
						&::after
							content: ""
							position: absolute
							width: 26px
							height: 26px
							background-image: url(../img/edit.png)
							background-size: cover
							top: 50%
							transform: translateY(-50%)
							right: 10px
				&-wrap
					display: flex
					justify-content: space-between
				&-item
					text-align: center
					color: #0f0f0f
					text-transform: uppercase
					h3
						margin: 0
						font-size: 14px
						font-weight: 700
						margin-top: 25px
					span
						font-size: 12px
			&-img
				max-width: 56%
				flex: 0 0 56%
				text-align: right
		&-nav
			max-width: 1460px
			margin: auto
			padding: 20px 15px
			display: flex
			justify-content: space-between
			align-items: center
			&-contacts
				display: flex
				align-items: center
				&-email
					a
						text-decoration: none
						text-transform: uppercase
						font-weight: 500
						font-size: 14px
						color: #6f6f6f
				&-phone
					margin-left: 110px
					a
						position: relative
						font-size: 18px
						text-decoration: none
						font-weight: 500
						color: #343434
						&::before
							content: ""
							height: 50px
							width: 1px
							background-color: #1942fd
							position: absolute
							top: 50%
							transform: translateY(-50%) rotate(45deg)
							left: -20px
				&-callback
					margin-left: 70px
					a
						display: inline-block
						height: 40px
						line-height: 40px
						text-align: center
						border-radius: 20px
						border: 1px solid #0087ff
						width: 200px
						text-decoration: none
						text-transform: uppercase
						color: #3a3939
						font-size: 12px
						font-weight: 500
						transition: all .3s ease
						&:hover
							color: #fff
							background-color: #0087ff
		&-logo
			display: flex
			align-items: center
			p
				color: #252941
				font-size: 12px
			span
				font-weight: 700
				font-size: 14px
				text-transform: uppercase
			a
				display: flex
				margin-right: 40px
				img
					vertical-align: bottom

main
	position: relative
	max-width: 1920px
	margin: auto
	&::before
		content: ""
		width: 9px
		background-image: url(../img/arrow.png)
		height: 98%
		position: absolute
		left: 205px

.test
	margin-top: 120px
	margin-bottom: 40px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
	&-inner
		display: flex
		overflow: hidden
		padding: 20px
		max-width: calc(100% - 520px)
		flex: 0 0 calc(100% - 520px)
		&-button
			display: inline-block
			width: 250px
			height: 50px
			text-align: center
			line-height: 50px
			border-radius: 25px
			background-color: #445686
			font-size: 16px
			font-weight: 500
			color: #f9fafb
			margin: auto
			position: absolute
			bottom: 40px
			left: 50%
			transform: translateX(-50%)
			cursor: pointer
			transition: all .3s ease
			&:hover
				background-color: darken(#445686, 10%)
				transition: all .3s ease
	&-item
		padding: 45px
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3)
		border-radius: 20px
		padding-top: 35px
		padding-bottom: 130px
		position: relative
		z-index: 2
		margin-right: 50px
		flex: 0 0 480px
		opacity: .4
		&-active
			opacity: 1
		&-2, &-3, &-4, &-6
			&-item
				&-form
					display: flex
					flex-wrap: wrap
					max-width: 360px
					margin: auto
					margin-top: 120px
					&-label
						max-width: 50%
						flex: 0 0 50%
						display: flex
						align-items: center
						cursor: pointer
						margin-bottom: 20px
						font-size: 15px
						color: #333333
						font-weight: 500
						&-radio
							width: 16px
							height: 16px
							border-radius: 100px
							border: 1px solid #ccc
							position: relative
							margin-right: 20px
							flex: 0 0 16px
							&-active
								border: 1px solid #96bd12
								.test-item-2-item-form-label-radio-circle, .test-item-3-item-form-label-radio-circle, .test-item-4-item-form-label-radio-circle, .test-item-6-item-form-label-radio-circle
									position: absolute
									left: 50%
									top: 50%
									transform: translate(-50%, -50%)
									width: 7px
									height: 7px
									border-radius: 100px
									background-color: #96bd12
		&-3, &-6
			&-item
				margin-top: 45px
				img
					width: 100%
				&-form
					max-width: 100%
					margin-top: 45px
					&-label
						max-width: 100%
						flex: 0 0 100%
		&-6
			&-item
				&-form
					margin-top: 140px
					padding: 0 60px
		&-4
			&-item
				padding: 0 25px
				textarea
					width: calc(100% - 60px)
					height: 330px
					border-radius: 25px
					border: 1px solid #d9d9d9
					resize: none
					outline: 0
					padding: 30px
					color: #333
					font-weight: 500
					font-family: 'Gotham Pro'
					margin-top: 30px
					&::placeholder
						color: #727272
				&-form
					max-width: 100%
					&-label
		&-1
			&-item
				position: relative
				margin-bottom: 15px
				cursor: pointer
				&:last-child
					margin-bottom: 0
				img
					vertical-align: bottom
					width: 100%
				&-checked
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					display: none
		&-5
			.active .test-item-1-item-checked
				width: auto !important
				height: auto !important	
		&-7
			&-item
				p
					font-size: 17px
					margin: 0
					line-height: 33px
					color: #333f4b
					font-weight: 400
					text-align: center
					max-width: 320px
					margin: 50px auto
				form
					max-width: 320px
					margin: auto
					text-align: center
					button
						width: 270px
						height: 70px
						border-radius: 45px
						box-shadow: 0
						outline: 0
						text-align: center
						border: 0
						cursor: pointer
						background-color: #0087ff
						font-size: 18px
						color: #fff
						text-transform: uppercase
						font-weight: 500
						transition: all .4s ease
						&:hover
							background-color: darken(#0087ff, 10%)
							transition: all .4s ease
					> p
						position: relative
						&::after
							content: ""
							position: absolute
							width: 26px
							height: 26px
							background-image: url(../img/edit.png)
							background-size: cover
							top: 50%
							transform: translateY(-50%)
							right: 10px
					input
						display: block
						width: calc(100% - 70px)
						padding: 0 10px
						height: 40px
						border: 0
						padding-right: 60px
						position: relative
						border-bottom: 1px solid #acacac
						margin-bottom: 20px
						&::placeholder
							text-transform: uppercase
					.input-none
						display: none
		.active
			.test-item-1-item-checked
				display: block
				width: 100%
				height: 100%
		&-title
			color: #333f4b
			font-weight: 900
			font-size: 25px
			line-height: 33px
			text-align: right
			padding-top: 15px
		&-header
			display: flex
			justify-content: space-between
			margin-bottom: 15px
		&-num
			display: flex
			align-items: center
			font-size: 14px
			font-weight: 900
			color: #777777
			position: relative
			&-line
				width: 20px
				height: 1px
				border-bottom: 1px dashed #cccccc
				position: absolute
				left: 110%
				top: 50%
				transform: translateY(-50%)
			&-circle
				margin-right: 15px
				width: 65px
				height: 65px
				display: flex
				justify-content: center
				align-items: center
				border-radius: 100px
				background-color: #111d59
				font-size: 18px
				color: #ef5350
				font-weight: 900
	&-text
		margin-left: 100px
		padding-top: 180px
		flex: 0 0 370px
		max-width: 370px
		margin-right: 50px
		&-wrap
			margin-top: 40px
		&-item
			display: flex
			margin-bottom: 25px
			&-text
				line-height: 24px
				font-size: 18px
				color: #4b545c
				font-weight: 400
			&-circle
				width: 23px
				height: 23px
				flex: 0 0 23px
				border: 1px solid #98adc2
				border-radius: 100px
				margin-right: 20px
				img
					display: none
			&-active
				.test-text-item-circle
					border-color: transparent
					img
						display: block
						width: 25px
						height: 25px
						margin-left: -1px
		h2
			margin: 0
			font-size: 56px
			color: #34404b
			font-weight: 900
			line-height: 58px
		p
			color: #787a7b
			font-weight: 700
			font-size: 40px
			line-height: 50px
			margin: 0
			margin-top: 30px
			img
				margin-left: 30px

.section-icon
	width: 165px
	height: 165px
	position: absolute
	z-index: 1
	left: -18px
	img
		width: 100%
		height: auto

.engaged
	margin-top: 120px
	margin-bottom: 40px
	background-image: url(../img/engaged-bg.png)
	background-repeat: no-repeat
	background-position: center right
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		flex-wrap: wrap
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 130px
			margin-right: 50px
			margin-top: 130px
	&-item
		display: flex
		box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, .1)
		position: relative
		margin-bottom: 45px
		height: 100%
		background-color: #fff
		&-num
			position: absolute
			width: 60px
			height: 60px
			top: 30px
			left: -30px
			background-color: #1e2fd6
			font-weight: 500
			font-size: 36px
			line-height: 60px
			text-align: center
			color: #fff
		&-link
			a
				width: 60px
				height: 60px
				position: absolute
				background-color: #313d47
				display: flex
				justify-content: center
				align-items: center
				right: -15px
				bottom: 35px
				transition: all .3s ease
				&:hover
					background-color: #0087ff
					transition: all .3s ease
				svg
					width: 23px
					height: 16px
		&-1
			max-width: 875px
			.engaged-item
				&-img
					max-width: 500px
					flex: 0 0 500px
				&-text
					flex: 0 0 calc(100% - 590px)
					max-width: calc(100% - 590px)
		&-2
			max-width: 560px
			margin-left: 110px
			.engaged-item
				&-img
					max-width: 215px
					flex: 0 0 215px
				&-text
					flex: 0 0 calc(100% - 305px)
					max-width: calc(100% - 305px)
		&-3
			max-width: 475px
			margin-left: 50px
			.engaged-item
				&-img
					max-width: 220px
					flex: 0 0 220px
					overflow: hidden
					img
						height: 100%
						width: auto
				&-text
					flex: 0 0 calc(100% - 310px)
					max-width: calc(100% - 310px)
		&-4
			max-width: 220px
			margin-left: 50px
			flex-wrap: wrap
			.engaged-item
				&-img
					max-width: 100%
					flex: 0 0 100%
					img
						width: 100%
				&-text
					max-width: calc(100% - 90px)
					flex: 0 0 calc(100% - 90px)
		&-5
			max-width: 800px
			margin-top: -365px
			margin-left: 300px
			.engaged-item
				&-img
					max-width: 505px
					flex: 0 0 505px
					overflow: hidden
					img
						height: 100%
						width: auto
				&-text
					flex: 0 0 calc(100% - 595px)
					max-width: calc(100% - 595px)
		&-img
			img
				vertical-align: bottom
		&-text
			padding: 45px
			h3
				color: #454960
				font-weight: 700
				font-size: 22px
				margin: 0
				strong
					font-weight: 900
			p
				font-size: 10px
				line-height: 20px
				color: #454960
				margin: 0
				margin-top: 15px

.advantage
	margin-top: 120px
	margin-bottom: 40px
	overflow: hidden
	&-wrap
		max-width: 1600px
		padding: 0 15px
		padding-bottom: 270px
		margin: auto
		position: relative
		display: flex
		justify-content: space-between
		&::before
			content: ""
			width: 680px
			height: 540px
			background-image: url(../img/advantage/item.png)
			background-size: cover
			position: absolute
			top: 340px
			left: 0
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 130px
			margin-right: 50px
			margin-top: 130px
	&-item
		max-width: 980px
		flex: 0 0 980px
		background-color: #fff
		padding: 55px 60px
		background-color: #111d59
		color: #fff
		background-image: url(../img/advantage/bg.png)
		background-repeat: no-repeat
		background-position: bottom right
		position: relative
		right: -160px
		ul
			padding-left: 0
			margin-left: 0
			width: 60%
			margin-bottom: 0
			margin-top: 0
			li
				list-style-type: none
				padding: 0px 45px
				height: 55px
				display: flex
				align-items: center
				border-radius: 40px
				font-size: 18px
				color: #fff
				margin-bottom: 30px
				&::last-child
					margin-bottom: 0
				img
					margin-right: 20px
					flex: 0 0 35px
			.active
				background-color: #fff
				color: #111d59
.tarif
	margin-top: 120px
	padding-bottom: 120px
	background-image: url(../img/tarif-bg.png)
	background-position: bottom right
	background-repeat: no-repeat
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 130px
			margin-right: 50px
			margin-top: 130px
	&-item
		max-width: 240px
		flex: 0 0 240px
		text-align: center
		background-color: #fafafa
		padding-bottom: 20px
		position: relative
		height: 100%
		margin-left: 30px
		&-gray
			background-color: #f3f3f3
			.tarif-item-svg
				background-color: #f3f3f3
		&-svg
			position: absolute
			width: 86px
			height: 86px
			background-color: #fafafa
			border-radius: 100px
			right: 20px
			top: -43px
			display: flex
			align-items: center
			justify-content: center
			z-index: 0
		&-price
			position: relative
			z-index: 1
			margin-top: 60px
			margin-bottom: 30px
			h3
				color: #333333
				font-size: 32px
				margin: 0
				strong
					font-weight: 900
			p
				font-size: 16px
				margin: 0
				color: #333333
		&-total
			color: #000000
			font-size: 12px
			margin-top: 10px
			&-bg
				background: linear-gradient(90deg, #F68A06 0%, #FF5A00 100%)
				display: inline-block
				color: #fff
				padding: 3px 7px
				margin-top: 5px
		ul
			margin-left: 0
			padding-left: 0
			margin-bottom: 0
			li
				list-style-type: none
				background-color: #f3f3f3
				padding: 15px 25px
				color: #888888
				font-size: 12px
				line-height: 16px
				&:nth-child(2n)
					background-color: #fafafa

.work
	margin-bottom: 40px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		flex-wrap: wrap
		h2
			font-size: 76px
			color: #152266
			font-weight: 900
			margin-left: 160px
			margin-right: 50px
			margin-top: 20px
			line-height: 1
			line-height: 60px
			span
				font-size: 48px
				font-weight: 900
				line-height: 10px
	&-more
		display: flex
		max-width: 630px
		flex: 0 0 630px
		align-items: center
		margin-left: 130px
		margin-top: -200px
		&-text
			font-size: 15px
			color: #6d6e77
			flex: 0 0 120px
			max-width: 120px
			margin-right: 15px
		&-line
			max-width: calc(100% - 135px)
			flex: calc(100% - 135px)
			height: 1px 
			background-color: rgba(#b7b7b7, .5)
	&-item
		max-width: 500px
		flex: 0 0 500px
		position: relative
		margin-left: 20px
		img
			width: 100%
		&-play
			position: absolute
			width: 160px
			right: -130px
			bottom: 80px
			a
				display: flex
				align-items: center
				font-size: 10px
				text-transform: uppercase
				color: #6d6e77
				text-decoration: none
				line-height: 14px
				img
					width: 60px
					margin-right: 15px
					box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2)
					border-radius: 100%

.tabs
	margin-top: 120px
	margin-bottom: 40px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 130px
			margin-right: 50px
			margin-top: 130px
			span
				color: #787a7b
				font-size: 40px
				font-weight: 700
				display: block
				margin-top: 0
	&-line
		display: flex
		&-item
			display: flex
			padding: 0 25px
			border: 1px solid #d7d7d7
			font-size: 11px
			color: #787a7b
			text-transform: uppercase
			border-radius: 20px
			align-items: center
			height: 40px
			margin-right: 10px
			cursor: pointer
			&-active
				border-color: #f79904
				background-color: #f79904
				color: #fff
				.tabs-line-item-img-color
					display: none
				.tabs-line-item-img-white
					display: block
			&-img
				margin-right: 10px
				&-white
					display: none
	&-block
		display: none
		&-item
			max-width: 230px
			flex: 0 0 230px
			margin-top: 55px
			margin-right: 25px
			&-header
				display: flex
				align-items: center
				text-transform: uppercase
				color: #0084ff
				font-size: 12px
				justify-content: center
				margin-bottom: 15px
				&-circle
					width: 40px
					height: 40px
					border-radius: 100px
					background-color: #0099d7
					line-height: 40px
					text-align: center
					color: #fff
					font-size: 15px
					font-weight: 500
					margin-right: 20px
			&-wrap
				background-color: #fff
				box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2)
				border-radius: 10px
				display: flex
				flex-direction: column
				justify-content: space-between
				height: 320px
			&-button
				padding-bottom: 30px
				padding-left: 25px
				padding-right: 25px
				a
					display: block
					width: 100%
					text-decoration: none
					text-align: center
					background-color: #0087ff
					color: #fff
					line-height: 35px
					border-radius: 17px
					text-transform: uppercase
					height: 35px
					font-size: 15px
					transition: all .3s ease
					&:hover
						background-color: darken(#0087ff, 10%)
						transition: all .3s ease
			&-body
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				padding: 40px 35px
				padding-bottom: 0
				&-line
					text-align: right
					max-width: 35%
					flex: 0 0 35%
					text-transform: uppercase
					font-size: 13px
					margin-bottom: 15px
					font-weight: 500
					color: #888888
					strong
						color: #000000
					&-2
						max-width: 55%
						flex: 0 0 55%
						text-align: left
						text-transform: uppercase
						font-size: 13px
						margin-bottom: 15px
						font-weight: 500
						color: #888888
						strong
							color: #000000

.callback-block
	&-wrap
		max-width: 1680px
		margin: auto
		padding: 35px 0
		background-color: #111d59
		display: flex
		justify-content: center
		position: relative
		z-index: 1
	&-title
		h2
			font-size: 56px
			color: #ff7e00
			font-weight: 900
			margin: 0
		p
			color: #106fc5
			margin: 0
			font-size: 30px
	&-form
		max-width: 430px
		flex: 0 0 430px
		form
			text-align: center
			p
				color: #fff
				text-align: center
				font-size: 12px
			button
				border-radius: 25px
				width: 200px
				height: 45px
				border: 0
				box-shadow: 0 0 0 0 transparent
				border: 0
				background-color: #0087ff
				transition: all .4s ease
				cursor: pointer
				color: #fff
				font-size: 12px
				text-transform: uppercase
				margin: auto
				margin-top: 10px
				&:hover
					background-color: darken(#0087ff, 10%)
					transition: all .4s ease
		&-line
			display: flex
			justify-content: space-between
			.phone-input, .file-input
				max-width: 48%
				flex: 0 0 48%
			.phone-input
				input
					padding: 0
					width: 100%
					border: none
					height: 40px
					background-color: #fff
					border-radius: 20px
					font-size: 15px
					text-align: center
					outline: none
			.file-input
				position: relative
				height: 40px
				border-radius: 20px
				background-color: #fff
				display: flex
				align-items: center
				justify-content: center
				&-img
					margin-right: 10px
					padding-right: 15px
					border-right: 1px solid #e1e1e1
				&-text
					color: #787a7b
					font-size: 15px
					overflow: hidden
					max-width: 45%
					flex: 0 0 45%
					white-space: nowrap
				input
					position: absolute
					z-index: 1
					top: 0
					left: 0
					right: 0
					bottom: 0
					opacity: 0

.advantage-slider
	padding-top: 20px
	margin-bottom: 100px
	background-image: url(../img/slider/bg.png)
	background-position: center top
	background-repeat: no-repeat
	position: relative
	&-button
		display: flex
		align-items: center
		height: 100px
		padding-left: 35px
		padding-right: 35px
		box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3)
		width: 230px
		justify-content: space-between
		border-left: 3px solid #fd3162
		background-color: #fff
		position: absolute
		left: 50%
		top: 77%
		cursor: pointer
		transform: translate(-50%, -50%)
		&-text
			color: #404455
			text-transform: uppercase
			font-size: 20px
			font-weight: 500
			span
				color: #7e8191
				font-size: 15px
	&-wrap
		max-width: 1430px
		padding: 0 15px
		margin: auto
		display: none
		align-items: center
		position: relative
	&-img
		padding: 15px
		background-color: #fff
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3)
		display: inline-block
		margin-left: 110px
		img
			vertical-align: bottom
	&-text
		margin-left: 85px
		h2
			font-size: 140px
			color: #152266
			text-transform: uppercase
			font-weight: 900
			line-height: 120px
			margin: 0
			span
				font-size: 30px
				line-height: 60px
		p
			margin: 0
			font-size: 20px
			text-transform: uppercase
			color: #a7a9b3
			margin-top: 40px
		ul
			padding-left: 0
			margin-left: 60px
			margin-bottom: 0
			margin-top: 40px
			li
				list-style-type: none
				color: #34404b
				font-size: 16px
				margin-bottom: 15px
				strong
					text-transform: uppercase

.reviews
	margin-top: 120px
	margin-bottom: 40px
	background-image: url(../img/slider/bg.png)
	background-position: center top
	background-repeat: no-repeat
	.section-icon
		top: 140px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 130px
			margin-right: 50px
			margin-top: 50px
	&-slider
		margin-top: 250px
		margin-left: -290px
		position: relative
		&-left, &-right
			width: 70px
			height: 65px
			background-color: #313d47
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			top: 43%
			transform: translateY(-50%)
			cursor: pointer
			&:hover
				background-color: lighten(#313d47, 10%)
		&-right
			right: -30px
		&-left
			left: -30px
	&-slide
		max-width: 530px
		flex: 0 0 530px
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2)
		padding: 50px 80px
		border-radius: 50px
		font-size: 14px
		color: #000
		background-color: #fff
		display: none
		&-inner
			position: relative
		&-slider
			display: flex
			justify-content: space-between
			overflow: hidden
			margin-top: 45px !important
			li
				max-width: 30%
				flex: 0 0 30%
				margin-right: 3.333333333333%
				margin-bottom: 0 !important
				display: none
				&:nth-child(1), &:nth-child(2), &:nth-child(3)
					display: block
				img
					width: 100%
			&-left, &-right
				position: absolute
				top: 50%
				transform: translateY(-50%)
				cursor: pointer
			&-left
				left: -45px
			&-right
				right: -45px
		ul, ol
			margin: 0
			padding: 0
			li
				list-style-type: none
				margin-bottom: 5px
				strong
					text-transform: uppercase
	&-form
		max-width: 360px
		flex: 0 0 360px
		background-color: #2678d2
		padding: 80px 60px 60px
		height: 100%
		margin-left: 85px
		margin-top: 50px
		h3
			color: #fff
			line-height: 35px
			font-size: 30px
			font-weight: 900
			margin: 0
		form
			margin-top: 50px
			input
				display: block
				width: calc(100% - 70px)
				padding: 0 10px
				height: 55px
				border: 0
				padding-right: 60px
				position: relative
				border-bottom: 1px solid rgba(#fff, .5)
				margin-bottom: 20px
				background-color: transparent
				color: #fff
				&::placeholder
					color: #fff
			button
				background-color: #24d477
				width: 190px
				height: 50px
				border: 0
				cursor: pointer
				color: #ffffff
				font-size: 18px
				display: block
				margin: auto
				margin-right: 0
				margin-top: 50px
				transition: all .3s ease
				&:hover
					transition: all .3s ease
					background-color: lighten(#24d477, 10%)

.faq
	margin-top: -350px
	padding-top: 450px
	background-image: url(../img/faq.png)
	background-repeat: no-repeat
	background-position: top right
	.section-icon
		top: 70px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		flex-wrap: wrap
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 190px
			margin-right: 50px
			margin-top: 0px
			white-space: nowrap
	&-block
		max-width: 1000px
		flex: 0 0 1000px
		margin-left: 160px
	&-item
		max-width: 1000px
		flex: 0 0 1000px
		background-color: #ececec
		border-radius: 15px
		&-title
			display: flex
			align-items: center
			justify-content: space-between
			padding: 0 40px
			border: 1px solid #e6e6e6
			background-color: #fff
			height: 50px
			border-radius: 15px
			color: #114279
			font-size: 18px
			font-weight: 500
			width: calc(100% - 80px)
		&-text
			padding: 35px 65px
			font-size: 14px
			color: #000
			text-indent: 30px
			display: none
			p
				margin: 0
				margin-bottom: 5px
		&-active
			box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3)
			svg
				transform: rotate(180deg)
				transition: all 1s ease
				path
					fill: #545765
			.faq-item-text
				display: block

.map-block
	margin-top: -10px
	margin-bottom: 40px
	background-image: url(../img/slider/bg.png)
	background-size: contain
	background-position: top center
	padding: 35px 0
	padding-bottom: 25
	.section-icon
		top: 50px
	&-wrap
		max-width: 1600px
		padding: 0 15px
		margin: auto
		position: relative
		display: flex
		h2
			font-size: 56px
			color: #34404b
			font-weight: 900
			margin-left: 180px
			margin-right: 120px
			margin-top: 130px
			white-space: nowrap
	&-item
		background-color: #355bff
		height: 230px
		background-image: url(../img/msg.png)
		background-repeat: no-repeat
		background-position: top right
		max-width: 710px
		flex: 0 0 710px
		padding-left: 100px
		padding-right: 60px
		h3
			font-size: 42px
			color: #fff
			font-weight: 700
			margin: 0
			margin-top: 25px
			margin-left: 15px
			margin-bottom: 20px
			span
				color: #acff35
		form
			display: flex
			p
				max-width: 215px
				flex: 0 0 215px
				text-align: right
				color: #fff
				font-size: 12px
				line-height: 20px
				margin: 0
				margin-right: 30px
			input
				min-width: 240px
				flex: 0 0 240px
				height: 60px
				background-color: rgba(#fff, .25)
				border: 1px dashed #fff
				border-radius: 5px
				text-align: center
				font-size: 16px
				color: #fff
				font-weight: 600
				outline: none
				&::placeholder
					color: #fff
			button
				height: 45px
				margin-left: 20px
				max-width: 200px
				flex: 0 0 200px
				border-radius: 22px
				background-color: #111d59
				border: 0
				font-size: 12px
				font-weight: 500
				text-transform: uppercase
				color: #fff
				cursor: pointer
				transition: all .3s ease
				&:hover
					background-color: lighten(#111d59, 10%)
					transition: all .3s ease

.map
	display: flex
	position: relative
	z-index: 1
	&-text
		max-width: 43%
		flex: 0 0 43%
		background-color: #111d59
		&-item
			padding: 70px 120px
			max-width: 360px
			margin: auto
			margin-right: 0
			h2
				font-size: 24px
				margin: 0
				line-height: 40px
				color: #fff
				font-weight: 500
				margin-bottom: 55px
		&-title
			font-size: 18px
			color: #f79904
			margin-bottom: 25px
			font-weight: 700
		&-body
			font-size: 18px
			color: #fff
			margin-bottom: 25px
	&-iframe
		max-width: 57%
		flex: 0 0 57%

.about
	margin-top: 25px
	margin-bottom: 25px
	&-wrap
		display: flex
		max-width: 1330px
		padding: 0 15px
		margin: auto
		justify-content: space-between
	&-widget
		max-width: 16%
		flex: 0 0 16%
		img
			width: 100%
			height: auto
	&-item
		max-width: 75%
		flex: 0 0 75%
		background-color: #fff
		border-radius: 25px
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2)
		padding: 50px 45px
		padding-right: 30px
		&-text
			overflow-y: scroll
			height: 340px
			padding-right: 15px
			&::-webkit-scrollbar 
				width: 7px /* ширина для вертикального скролла */
				height: 50px/* высота для горизонтального скролла */
				-webkit-appearance: none
				cursor: pointer
			/* ползунок скроллбара */
			&::-webkit-scrollbar-thumb 
				background-color: #3c54cd
				transition: all .3s ease
				-webkit-appearance: none
				cursor: pointer
			&::-webkit-scrollbar-thumb:hover 
					background-color: darken(#3c54cd, 10%)
					cursor: pointer
					transition: all .3s ease
					-webkit-appearance: none

footer
	display: flex
	justify-content: center
	height: 200px
	background-image: url(../img/slider/bg.png)
	h2
		margin: 0
		font-size: 20px
		margin-bottom: 20px
		text-align: center
		margin-top: 25px
	ul
		margin: 0
		padding: 0
		display: flex
		li
			list-style-type: none
			a
				margin: 0 7px
				width: 40px
				height: 40px
				border-radius: 100%
				border: 1px solid #3C54CD
				position: relative
				display: block
				transition: all .3s ease
				svg
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					path
						transition: all .3s ease
				&:hover
					background-color: #3C54CD
					transition: all .3s ease
					svg
						path
							fill: #fff
							transition: all .3s ease

.link-top
	width: 60px
	height: 60px
	border-radius: 100%
	padding: 8px
	background-color: #fff
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2)
	position: absolute
	bottom: 1.5%
	left: 170px
	&-svg
		background-color: #3c54cd
		height: 100%
		border-radius: 100%
		position: relative
		cursor: pointer
		transition: all .3s ease
		svg
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&:hover
			background-color: darken(#3c54cd, 10%)
			transition: all .3s ease




.df
	display: flex