.file-block
	width: 87px
	text-align: center
	&__icon
		svg
			vertical-align: bottom
	&__content
		display: flex
		justify-content: center
		font-weight: normal
		font-style: normal
		font-size: 10px
		line-height: 17px
		color: #2F3747
		margin-top: 10px
	&__name
		white-space: nowrap
		flex: 0 0 calc(100% - 27px)
		text-overflow: ellipsis
		overflow: hidden
		
		

