ul
	padding-left: 0
	margin: 0

span.green
	color: #41B24D

span.red
	color: #FA2D2D

span.blue
	color: #2F80ED

.button-show-bid
	background: #2F3747
	height: 35px
	width: 100%
	line-height: 35px
	border-radius: 3px
	color: #FFFFFF
	font-family: $font
	font-weight: bold
	font-size: 10px
	text-align: center
	cursor: pointer
	transition: all .3s ease
	display: block
	&:hover
		background-color: #13161D
		transition: all .3s ease

.button-status
	background: #8E99A8
	border-radius: 13px
	height: 26px
	line-height: 24px
	border-radius: 13px
	text-align: center
	font-weight: 500
	font-size: 13px
	color: #fff
	position: relative
	&-info
		position: absolute
		top: -10px
		right: -3px
		&:hover
			.button-status-info-text
				display: block
		&-icon
			width: 20px
			height: 20px
			cursor: pointer
		&-text
			display: none
			position: absolute
			width: 200px
			height: 27px
			right: 10px
			top: -30px
			font-weight: normal
			font-size: 13px
			line-height: 27px
	&-grey
		background-color: #8E99A8
		.button-status-info-icon
			svg
				rect
					fill: #8E99A8
				circle
					stroke: #8E99A8
		.button-status-info-text
			background: #FFFFFF
			color: #8E99A8
			border: 1px solid #8E99A8
			box-sizing: border-box
			border-radius: 3px
	&-orange
		background-color: #FF8A00
		.button-status-info-icon
			svg
				rect
					fill: #FF8A00
				circle
					stroke: #FF8A00
		.button-status-info-text
			background: #FF8A00
			color: #fff
			border: 1px solid #FF8A00
			box-sizing: border-box
			border-radius: 3px
	&-blue
		background-color: #2F80ED
	&-green
		background-color: #00BF14
	&-red
		background-color: #FF0000

.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0, 0, 0, 0.39)
	z-index: 11

body .p-15
	padding: 15px

.mt-50
	margin-top: 50px

.mb-8
	margin-bottom: 8px

.mb-16
	margin-bottom: 16px

::-webkit-scrollbar 
	width: 12px
	height: 12px
	background-color: #F4F5F8
::-webkit-scrollbar-thumb 
	background: #53545E
	border-radius: 16px
	border: 5px solid #F4F5F8

textarea
	width: 100%
	resize: none
	padding: 15px 15px 22px
	background-color: #fff
	border: 1px solid #D7DDE5
	box-sizing: border-box
	border-radius: 3px
	font-family: $font2
	font-weight: 500
	color: #2F3747
	font-size: 14px
	line-height: 18px

input[type="text"]
	width: 100%
	height: 26px
	outline: 0
	box-sizing: border-box
	padding: 0 8px
	border: 1px solid #D7DDE5
	box-sizing: border-box
	border-radius: 3px
	font-family: $font
	&::placeholder
		font-weight: normal
		font-size: 12px
		line-height: 15px
		color: #D7DDE5

.textarea-blue
	height: 260px
	color: #2F80ED

.page-title
	font-weight: 600
	font-size: 20px
	line-height: 17px
	color: #1D232F
	&-center
		text-align: center
