body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Gotham Pro", sans-serif;
  color: #303030;
  background-color: #EFF1F5; }

a {
  text-decoration: none; }

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: auto; }

.site-header {
  padding: 20px 0;
  background-color: #fff; }
  .site-header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .site-header__city-label {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #B3B3B3; }
  .site-header__callback a {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #32434B;
    margin-bottom: 10px; }
  .site-header__callback-text {
    color: #1D4684;
    border-bottom: 1px solid #1D4684; }
  .site-header__contacts-item {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #303030; }
    .site-header__contacts-item svg {
      margin-right: 15px; }
    .site-header__contacts-item:nth-child(2) {
      margin-top: 10px; }
      .site-header__contacts-item:nth-child(2) svg {
        margin-right: 19px; }

.site-nav {
  background-color: #32434B; }
  .site-nav__menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    background: #40545E;
    height: 100%;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease; }
    .site-nav__menu:hover {
      background: #4a626d;
      transition: all 0.3s ease; }
      .site-nav__menu:hover .site-nav__menu-sub {
        display: block !important; }
    .site-nav__menu svg {
      margin-right: 15px; }
    .site-nav__menu-sub {
      width: 290px;
      z-index: 1;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      display: none;
      box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
      border-right: 1px solid #D9D9D9;
      border-left: 1px solid #D9D9D9;
      border-top: 1px solid #D9D9D9;
      box-sizing: border-box; }
      .site-nav__menu-sub > li::after {
        content: "";
        border: 7px solid transparent;
        border-left: 7px solid #135DCC;
        position: absolute;
        right: 5px; }
      .site-nav__menu-sub li {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #D9D9D9;
        height: 56px;
        box-sizing: border-box;
        position: relative;
        box-sizing: border-box;
        padding-right: 30px; }
        .site-nav__menu-sub li:hover ul {
          display: block;
          top: -1px; }
        .site-nav__menu-sub li a {
          font-weight: normal;
          font-size: 16px;
          line-height: 135%;
          display: flex;
          align-items: center;
          color: #303030; }
      .site-nav__menu-sub ul {
        position: absolute;
        left: 100%;
        display: none;
        top: -3px;
        width: 290px;
        border-right: 1px solid #D9D9D9;
        border-left: 1px solid #D9D9D9;
        border-top: 1px solid #D9D9D9;
        background-color: #fff;
        box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
        box-sizing: border-box; }
  .site-nav__wrap {
    display: flex;
    align-items: center; }
    .site-nav__wrap > ul {
      display: flex; }
      .site-nav__wrap > ul li a {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: #FFFFFF;
        padding: 15px;
        display: block;
        transition: all 0.3s ease; }
        .site-nav__wrap > ul li a:hover {
          background-color: #3c515a;
          transition: all 0.3s ease; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

select {
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: 0;
  color: #1D4684;
  cursor: pointer;
  font-size: 16px;
  line-height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select {
  position: relative; }
  .select::after {
    content: "";
    width: 9px;
    height: 6px;
    background-image: url(../img/down.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px; }

.slider {
  position: relative; }
  .slider__wrap {
    display: flex;
    justify-content: flex-end;
    height: 391px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(12, 54, 73, 0.15);
    background-image: url(../img/bannerbg.png);
    background-position: center right;
    background-repeat: no-repeat; }
  .slider__item {
    flex: calc(100% - 290px);
    max-width: calc(100% - 290px);
    height: 391px;
    background-size: cover;
    display: none;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    position: absolute;
    width: 870px;
    background-position-x: 85%;
    background-position-y: center;
    background-size: 350px;
    background-repeat: no-repeat; }
    .slider__item:nth-child(1) {
      display: flex; }
  .slider__content {
    max-width: 360px; }
  .slider__btns {
    position: absolute;
    right: 0;
    width: calc(100% - 310px);
    display: flex;
    align-items: center;
    bottom: 20px; }
    .slider__btns ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
  .slider__button {
    height: 60px;
    line-height: 60px;
    background-color: #60773D;
    display: inline-block;
    padding: 0 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px; }
    .slider__button:hover {
      background-color: #526634;
      transition: all 0.3s ease; }
  .slider__prev {
    margin-right: 15px;
    cursor: pointer;
    display: flex; }
  .slider__next {
    margin-left: 15px;
    cursor: pointer;
    display: flex; }
  .slider__dot {
    width: 10px;
    height: 10px;
    border: 1px solid #32434B;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 5px; }
    .slider__dot--active, .slider__dot:hover {
      background-color: #32434B;
      transition: all 0.3s ease; }

.leftAnimation {
  animation-name: leftAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1; }

.rightAnimation {
  animation-name: rightAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1; }

@keyframes rightAnimation {
  0% {
    left: -1400px;
    opacity: 0; }
  100% {
    left: 290px;
    opacity: 1; } }
@keyframes leftAnimation {
  0% {
    right: -1200px;
    opacity: 0; }
  100% {
    right: 0;
    opacity: 1; } }
.title-h1, h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 135%;
  display: flex;
  align-items: center;
  color: #303030; }

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
  color: #303030; }

.menu-block .site-nav__menu-sub {
  display: block; }

.title-block {
  margin-top: 85px;
  max-width: 1220px;
  margin-bottom: 50px;
  padding: 35px 80px 0;
  position: relative;
  box-sizing: border-box; }
  .title-block::before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(../img/triangle.svg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0; }
  .title-block__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .title-block__header a {
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #60773D;
      margin-top: 4px; }
      .title-block__header a svg {
        margin-left: 10px;
        transition: all 0.3s ease; }
      .title-block__header a:hover svg {
        margin-left: 20px;
        transition: all 0.3s ease; }
        .title-block__header a:hover svg path {
          color: #526634; }
    .title-block__header h2 {
      margin-right: 30px; }
  .title-block p {
    margin: 0; }

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 135%;
  margin: 0; }

input {
  padding: 20px 25px;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 0;
  margin-bottom: 10px;
  font-family: "Gotham Pro"; }
  input::placeholder {
    color: #B3B3B3; }

button[type=submit] {
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  border: 0;
  cursor: pointer;
  box-shadow: 0;
  height: 60px;
  text-align: center;
  width: 100%;
  background-color: #60773D;
  transition: all 0.3s ease;
  color: #fff; }
  button[type=submit]:hover {
    background-color: #526634;
    transition: all 0.3s ease; }

.vantage__form {
  background-image: url(../img/form.png);
  background-size: cover;
  height: 406px;
  padding: 45px 25px;
  box-sizing: border-box; }
  .vantage__form-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .vantage__form-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 20px; }
.vantage__wrap {
  display: flex;
  flex-wrap: wrap; }
.vantage__column {
  max-width: 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%; }
  .vantage__column:nth-child(4n) {
    margin-right: 0; }
.vantage__item {
  display: block;
  height: 193px;
  margin-bottom: 0;
  box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
  box-sizing: border-box;
  border-bottom: 4px solid #B3906E;
  background-size: cover;
  padding: 30px 20px;
  color: #303030;
  margin-bottom: 20px;
  transition: all 0.3s ease; }
  .vantage__item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; }
  .vantage__item-title {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 10px; }
  .vantage__item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    display: block; }
  .vantage__item:last-child {
    margin-bottom: 0; }
  .vantage__item--v2 {
    height: 406px; }

.sale__wrap {
  display: flex;
  flex-wrap: wrap; }
.sale__item {
  max-width: 19.2%;
  flex: 0 0 19.2%;
  margin-right: 1%;
  height: 310px;
  box-shadow: 0px 4px 20px rgba(12, 54, 73, 0.15);
  background-color: #fff;
  background-size: cover;
  padding: 20px 15px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease; }
  .sale__item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease; }
  .sale__item:nth-child(5) {
    margin-right: 0; }
  .sale__item-title {
    font-weight: bold;
    font-size: 18px; }
  .sale__item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 135%; }
  .sale__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #60773D;
    transition: all 0.3s ease; }
    .sale__item-link:hover, .sale__item-link:active {
      color: #526634;
      transition: all 0.3s ease; }
    .sale__item-link svg {
      margin-left: 10px;
      margin-top: 2px; }

.about {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  height: 220px;
  box-sizing: border-box; }
  .about::before {
    content: "";
    left: 10px;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    background-image: url(../img/left.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; }
  .about::after {
    content: "";
    right: 10px;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    background-image: url(../img/right.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; }
  .about__wrap {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap; }
  .about__item {
    text-align: center;
    max-width: 300px; }
    .about__item-num {
      display: flex;
      justify-content: center;
      align-items: center; }
    .about__item-counter {
      font-weight: bold;
      font-size: 60px;
      margin-left: 10px; }

.news__wrap {
  display: flex;
  flex-wrap: wrap; }
.news__item {
  display: block;
  flex: 0 0 23.5%;
  max-width: 23.5%;
  margin-right: 2%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
  color: #303030;
  border-bottom: 4px solid #B3906E;
  transition: all 0.3s ease; }
  .news__item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease; }
  .news__item:nth-child(4) {
    margin-right: 0; }
  .news__item img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom; }
  .news__item-title {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px; }
  .news__item-text {
    display: block; }

.footer-line {
  position: fixed;
  box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; }
  .footer-line__callback {
    height: 38px;
    line-height: 38px;
    background-color: #60773D;
    transition: all 0.3s ease;
    padding: 0 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px; }
    .footer-line__callback:hover {
      background-color: #526634;
      transition: all 0.3s ease; }

.open__callback__form {
  cursor: pointer; }

.site-footer {
  background-color: #32434B;
  padding: 50px 0;
  color: #fff;
  margin-top: 120px; }
  .site-footer ul li {
    margin-bottom: 15px; }
  .site-footer__category {
    max-width: 240px; }
  .site-footer__menu {
    max-width: 180px; }
  .site-footer__callback {
    max-width: 220px;
    margin-bottom: 40px; }
    .site-footer__callback .site-header__callback-text {
      color: #fff;
      border-color: #fff;
      transition: all 0.3s ease; }
      .site-footer__callback .site-header__callback-text:hover {
        color: #bfbfbf;
        border-color: #bfbfbf;
        transition: all 0.3s ease; }
    .site-footer__callback .site-header__callback {
      margin-bottom: 40px; }
    .site-footer__callback .site-header__contacts {
      margin-bottom: 40px; }
    .site-footer__callback .site-header__contacts-item {
      display: flex; }
      .site-footer__callback .site-header__contacts-item:nth-child(2) {
        margin-top: 20px; }
        .site-footer__callback .site-header__contacts-item:nth-child(2) svg {
          flex: 0 0 18px; }
      .site-footer__callback .site-header__contacts-item svg {
        flex: 0 0 20px; }
        .site-footer__callback .site-header__contacts-item svg path {
          fill: #fff; }
  .site-footer__title {
    font-weight: bold;
    margin-bottom: 15px; }
  .site-footer__wrap {
    display: flex;
    justify-content: space-between; }
  .site-footer a {
    color: #fff;
    transition: all 0.3s ease; }
    .site-footer a:hover {
      color: #bfbfbf;
      transition: all 0.3s ease; }
  .site-footer .select {
    margin-bottom: 40px; }
    .site-footer .select::after {
      content: "";
      background-image: url(../img/downwhite.svg); }
  .site-footer select {
    color: #fff; }
    .site-footer select option {
      color: #303030; }

.site-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px; }

.overlay {
  position: fixed;
  display: none;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.modal-callback {
  display: none;
  position: fixed;
  width: 750px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 85px 115px;
  box-sizing: border-box;
  text-align: center;
  z-index: 11; }
  .modal-callback:after {
    content: "";
    right: 10px;
    top: 0;
    bottom: 0;
    width: 50px;
    background-image: url(../img/right.svg);
    position: absolute; }
  .modal-callback:before {
    content: "";
    left: 10px;
    top: 0;
    bottom: 0;
    width: 50px;
    background-image: url(../img/left.svg);
    position: absolute; }
  .modal-callback h2 {
    position: relative; }
    .modal-callback h2::before {
      content: "";
      width: 67px;
      height: 67px;
      background-image: url(../img/triangle.svg);
      position: absolute;
      background-size: cover;
      left: -50px;
      top: -20px; }
  .modal-callback input {
    border: 1px solid #B3B3B3; }
  .modal-callback form {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between; }
    .modal-callback form input {
      flex: 0 0 53%; }
    .modal-callback form button {
      flex: 0 0 44%; }
  .modal-callback p {
    display: inline;
    color: #000000; }
    .modal-callback p a {
      color: #000000;
      border-bottom: 1px solid #000; }

.faq {
  background-color: #fff;
  padding: 100px 0;
  margin-top: 100px; }
  .faq h2 {
    text-align: center; }

.callback-form {
  padding: 60px 100px 45px 115px;
  color: #fff;
  background-color: #B3906E;
  box-sizing: border-box;
  margin-top: 80px;
  position: relative; }
  .callback-form::before {
    content: "";
    left: 10px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    background-image: url(../img/left.svg);
    position: absolute; }
  .callback-form p {
    color: #fff; }
  .callback-form__wrap {
    display: flex; }
  .callback-form__form {
    flex: 0 0 270px;
    margin-left: 70px; }
  .callback-form__block {
    flex: 0 0 calc(100% - 340px); }

.connection__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
.connection__item {
  max-width: 315px; }
.connection__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 135%;
  margin-top: 20px;
  margin-bottom: 15px; }

.callback-center {
  width: 270px;
  margin: auto;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #60773D;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
  margin-top: 50px; }
  .callback-center:hover {
    background-color: #526634;
    transition: all 0.3s ease; }

.services {
  margin-top: 80px; }
  .services__wrap {
    display: flex;
    flex-wrap: wrap; }
  .services__item {
    max-width: 32%;
    margin-right: 2%;
    flex: 0 0 32%;
    background-color: #fff;
    box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15);
    padding: 50px 30px;
    border-bottom: 4px solid #B3906E;
    box-sizing: border-box; }
    .services__item:nth-child(3n) {
      margin-right: 0; }
  .services__title {
    color: #303030;
    font-weight: bold;
    font-size: 24px;
    line-height: 135%;
    min-height: 65px;
    max-height: 65px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px; }
  .services ul li {
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 135%;
    margin-right: 2%; }
    .services ul li span {
      flex: 0 0 40px;
      font-weight: normal;
      font-size: 20px;
      line-height: 135%;
      color: #F02E54;
      margin-top: -2px; }

.banner {
  margin-top: 40px; }
  .banner .callback-center {
    margin-top: 30px;
    margin-left: 70px; }
  .banner__wrap {
    display: flex; }
  .banner__block {
    flex: 0 0 43%; }
    .banner__block-text {
      padding-left: 70px;
      padding-top: 35px; }
      .banner__block-text h1 {
        font-size: 36px;
        position: relative; }
        .banner__block-text h1::before {
          content: "";
          position: absolute;
          height: 100px;
          width: 100px;
          background-image: url(../img/triangle.svg);
          background-size: cover;
          left: -90px;
          top: -35px; }
  .banner__img {
    flex: 0 0 57%;
    text-align: right; }
    .banner__img img {
      width: 100%;
      vertical-align: bottom; }

.text-block {
  margin-top: 40px; }
  .text-block ul {
    padding-left: 35px;
    margin: 30px 0; }
    .text-block ul li {
      margin-bottom: 15px;
      list-style-type: disc; }

.notice {
  background-color: #fff;
  padding: 30px 160px;
  box-sizing: border-box;
  position: relative;
  margin-top: 40px; }
  .notice::before {
    content: "";
    width: 50px;
    left: 10px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-image: url(../img/left.svg);
    position: absolute; }
  .notice::after {
    content: "";
    width: 50px;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-image: url(../img/right.svg);
    position: absolute; }
  .notice p {
    margin: 0;
    color: #000;
    text-align: center;
    display: block; }

.white {
  background-color: #fff; }

.contacts-page {
  margin-top: 40px; }
  .contacts-page__wrap {
    display: flex; }
  .contacts-page__map {
    flex: 0 0 calc(100% - 325px); }
    .contacts-page__map img {
      width: 100%;
      vertical-align: bottom; }
  .contacts-page__block {
    flex: 0 0 270px;
    margin-right: 55px; }
    .contacts-page__block select {
      width: 100%;
      height: 45px;
      border: 1px solid #B3B3B3;
      padding: 0 20px;
      color: #32434B;
      position: relative; }
    .contacts-page__block .select {
      margin-bottom: 50px; }
      .contacts-page__block .select::after {
        content: "";
        right: 20px;
        margin-left: 0; }
    .contacts-page__block .site-footer__callback .site-header__callback-text {
      color: #1D4684;
      border-color: #1D4684; }
    .contacts-page__block .site-footer__callback .site-header__contacts-item svg path {
      fill: #303030; }
    .contacts-page__block .site-social svg path {
      fill: #303030; }
    .contacts-page__block .site-footer__callback {
      max-width: 270px; }

.site-nav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10; }
  .site-nav--fixed .menu-block .site-nav__menu-sub {
    display: none; }

.header-mobile {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box; }
  .header-mobile__logo a {
    display: block; }
  .header-mobile__logo img {
    max-width: 150px;
    vertical-align: bottom; }

.mobile-menu {
  position: fixed;
  display: none;
  z-index: 10;
  top: 56px;
  width: 400px;
  right: 0;
  background-color: #fff;
  bottom: 0;
  height: 100%; }
  .mobile-menu--open {
    display: block; }
  .mobile-menu__wrap {
    height: calc(100% - 116px);
    overflow-y: scroll;
    padding: 30px;
    text-align: center; }
  .mobile-menu__nav {
    margin: 30px 0; }
    .mobile-menu__nav ul {
      max-width: 220px;
      text-align: left;
      margin: auto;
      user-select: none; }
      .mobile-menu__nav ul li {
        margin-bottom: 5px; }
        .mobile-menu__nav ul li a {
          color: #333;
          margin-right: 30px;
          display: block; }

.arrowDown {
  width: 7px;
  height: 7px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  transform: rotate(315deg);
  right: 10px;
  top: 2px;
  cursor: pointer; }

.menu-has-item {
  position: relative; }
  .menu-has-item ul {
    display: none; }
  .menu-has-item--active > .arrowDown {
    transform: rotate(135deg); }
  .menu-has-item--active > ul {
    display: block;
    margin: 20px 0; }

.accordion .accordion-item {
  border-bottom: 1px solid #B3B3B3; }

.accordion {
  margin-top: 40px;
  border-top: 1px solid #B3B3B3;
  max-width: 755px;
  margin-left: auto;
  margin-right: auto; }

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #000000; }

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000000;
  font-size: 18px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  outline: none; }

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #000; }

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #000;
  border: 1px solid #000; }

.accordion button .accordion-title {
  padding: 20px 1.5em 20px 0; }

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  transition: all .3s ease; }

.accordion button[aria-expanded='true'] {
  color: #000; }

.accordion button[aria-expanded='true'] .icon {
  transform: rotate(-180deg);
  transition: all .3s ease; }

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height; }

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height; }

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0; }

@media (max-width: 1140px) {
  .site-header {
    display: none; }

  .header-mobile {
    display: flex;
    top: 0; }

  .site-nav {
    display: none; }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }

  .slider__btns {
    width: 100%; }

  .slider {
    margin-top: 75px; }

  .vantage__column {
    max-width: 32%;
    flex: 0 0 32%;
    margin-right: 2%;
    order: 1; }
    .vantage__column:nth-child(3n) {
      margin-right: 0; }

  .vantage__wrap--form .vantage__column:nth-child(3n) {
    margin-right: 2%; }
  .vantage__wrap--form .vantage__column:nth-child(4n) {
    margin-right: 0; }

  .vantage__column--form {
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 2%;
    order: 2; }
    .vantage__column--form .vantage__form {
      background-size: contain;
      height: auto;
      text-align: center; }
      .vantage__column--form .vantage__form form {
        display: flex;
        align-items: center;
        justify-content: center; }
        .vantage__column--form .vantage__form form input {
          flex: 0 0 270px;
          margin-right: 30px;
          margin-bottom: 0; }
        .vantage__column--form .vantage__form form button {
          flex: 0 0 220px; } }
@media (max-width: 993px) {
  .title-h1, h1 {
    font-size: 36px; }

  h2 {
    font-size: 28px; }

  .vantage__item {
    height: 175px; }

  .vantage__item--v2 {
    height: 370px; }

  .sale__item {
    flex: 0 0 220px;
    margin: 0 10px;
    margin-bottom: 20px;
    max-width: 220px; }

  .sale__wrap {
    justify-content: center; }

  .about {
    height: auto; }

  .about::before, .about::after {
    content: "";
    background-repeat-y: repeat;
    background-size: contain; }

  .about__wrap {
    justify-content: center; }

  .about__item {
    margin: 0 5px;
    margin-bottom: 20px; }

  .news__item {
    flex: 0 0 270px;
    max-width: 270px;
    margin: 0 10px;
    margin-bottom: 20px; }

  .news__wrap {
    justify-content: center; }

  .site-footer__wrap {
    flex-wrap: wrap; }

  .site-footer__logo {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
    text-align: center; }

  .footer-line {
    position: initial;
    padding: 20px 10px;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap; }

  .footer-line__callback {
    white-space: nowrap;
    margin-left: 0;
    margin-top: 30px; } }
@media (max-width: 768px) {
  .modal-callback form input, .modal-callback form button {
    flex: 0 0 100%; }

  .modal-callback {
    width: 90%;
    padding: 30px 60px; }

  .modal-callback:before, .modal-callback:after {
    content: "";
    width: 30px;
    background-size: contain; }

  .title-h1, h1 {
    font-size: 28px; }

  h2 {
    font-size: 24px; }

  .title-block__header {
    flex-wrap: wrap; }

  .vantage__wrap {
    justify-content: center; }

  .vantage__column {
    flex: 0 0 236px;
    max-width: 236px;
    margin: 0 10px;
    margin-bottom: 20px; }

  .vantage__column--form {
    max-width: 100%;
    flex: 0 0 100%; }

  .site-footer__category, .site-footer__menu, .site-footer__callback {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 40px; }

  .slider__item {
    background-image: none !important; } }
@media (max-width: 586px) {
  .vantage__column--form .vantage__form form input {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }

  .vantage__column--form .vantage__form form button {
    flex: 0 0 100%;
    max-width: 100%; }

  .vantage__column--form .vantage__form form {
    flex-wrap: wrap; }

  .vantage__item {
    height: 193px; }

  .vantage__column {
    flex: 0 0 270px;
    max-width: 270px;
    margin-left: 10px !important;
    margin-right: 10px !important; }

  .vantage__column--form {
    max-width: 100%;
    flex: 0 0 100%;
    margin-left: 0; }

  .vantage__item--v2 {
    height: 406px; }

  .site-footer__category, .site-footer__menu, .site-footer__callback {
    max-width: 100%;
    flex: 0 0 100%; }

  .footer-line {
    text-align: center; }

  .mobile-menu {
    width: 100%; }

  .slider {
    padding: 0; } }
@media (max-width: 420px) {
  .modal-callback p {
    font-size: 10px; }

  .slider__item {
    text-align: center; }

  .title-block {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px; }

  .about__item-counter {
    font-size: 40px; }

  .title-block::before {
    width: 40px;
    height: 40px; }

  .site-footer {
    margin-top: 50px; } }
@media (max-width: 360px) {
  .modal-callback {
    padding: 30px 40px; }

  .modal-callback h2::before {
    display: none;
    content: ""; }

  .about__wrap {
    padding: 0 30px; }

  .about::before, .about::after {
    content: "";
    width: 30px; } }

/*# sourceMappingURL=style.css.map */
