body
	margin: 0
	padding: 0
	overflow-x: hidden
	font-family: 'Gotham Pro', sans-serif
	color: #303030
	background-color: #EFF1F5

a
	text-decoration: none

.container
	max-width: 1160px
	padding: 0 10px
	margin: auto

.site-header
	padding: 20px 0
	background-color: #fff
	&__wrap
		display: flex
		align-items: center
		justify-content: space-between
	&__city
		&-label
			margin-bottom: 10px
			font-weight: normal
			font-size: 16px
			line-height: 15px
			color: #B3B3B3
	&__callback
		a
			display: block
			font-weight: bold
			font-size: 24px
			line-height: 23px
			color: #32434B
			margin-bottom: 10px
			transition: all .3s ease
			&:hover
				color: lighten(#32434B, 10%)
				transition: all .3s ease
		&-text
			color: #1D4684
			border-bottom: 1px solid #1D4684
			transition: all .3s ease
			&:hover
				color: lighten(#1D4684, 10%)
				border-bottom: 1px solid lighten(#1D4684, 10%)
				transition: all .3s ease
	&__contacts
		&-item
			display: block
			font-weight: normal
			font-size: 16px
			line-height: 15px
			color: #303030
			transition: all .3s ease
			svg
				margin-right: 15px
				transition: all .3s ease
			&:nth-child(2)
				margin-top: 10px
				svg
					margin-right: 19px
			&:hover
				color: lighten(#303030, 20%)
				transition: all .3s ease
				svg
					path
						fill: lighten(#303030, 20%)
						transition: all .3s ease

.site-nav
	background-color: #32434B
	&__menu
		display: flex
		align-items: center
		margin-right: 15px
		background: #40545E
		height: 100%
		padding: 15px 20px
		color: #fff
		font-size: 16px
		line-height: 15px
		text-transform: uppercase
		position: relative
		cursor: pointer
		transition: all .3s ease
		&:hover
			background: lighten(#40545E, 5%)
			transition: all .3s ease
			.site-nav__menu-sub
				display: block !important
		svg
			margin-right: 15px
		&-sub
			width: 290px
			z-index: 1
			position: absolute
			top: 100%
			left: 0
			background-color: #fff
			display: none
			box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
			border-right: 1px solid #D9D9D9
			border-left: 1px solid #D9D9D9
			border-top: 1px solid #D9D9D9
			box-sizing: border-box
			> li
				&::after
					content: ""
					border: 7px solid transparent
					border-left: 7px solid #135DCC
					position: absolute
					right: 5px
			li
				display: flex
				align-items: center
				padding: 0 20px
				border-bottom: 1px solid #D9D9D9
				height: 56px
				box-sizing: border-box
				position: relative
				box-sizing: border-box
				padding-right: 30px
				&:hover
					ul
						display: block
						top: -1px
				a
					font-weight: normal
					font-size: 16px
					line-height: 135%
					display: flex
					align-items: center
					color: #303030
			ul
				position: absolute
				left: 100%
				display: none
				top: -3px
				width: 290px
				border-right: 1px solid #D9D9D9
				border-left: 1px solid #D9D9D9
				border-top: 1px solid #D9D9D9
				background-color: #fff
				box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
				box-sizing: border-box
	&__wrap
		display: flex
		align-items: center
		> ul
			display: flex
			li
				
				a
					font-weight: normal
					font-size: 16px
					line-height: 15px
					color: #FFFFFF
					padding: 15px
					display: block
					transition: all .3s ease
					&:hover
						background-color: lighten(#32434B, 5%)
						transition: all .3s ease
ul
	padding: 0
	margin: 0
	li
		list-style-type: none

select
	padding: 0
	margin: 0
	background-color: transparent
	outline: none
	border: 0
	color: #1D4684
	cursor: pointer
	font-size: 16px
	line-height: 15px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	transition: all .3s ease

.select 
	position: relative
	&::after
		content: ""
		width: 9px
		height: 6px
		background-image: url(../img/down.svg)
		position: absolute
		top: 50%
		transform: translateY(-50%)
		margin-left: 5px
		transition: all .3s ease
	&:hover
		select
			color: #2667C8
			transition: all .3s ease
		&::after
			content: ""
			background-image: url(../img/downhover.svg)
			transition: all .3s ease

.slider
	position: relative
	&__wrap
		display: flex
		justify-content: flex-end
		height: 391px
		position: relative
		overflow: hidden
		background-color: #fff
		box-shadow: 0px 4px 20px rgba(12, 54, 73, 0.15)
		background-image: url(../img/bannerbg.png)
		background-position: center right
		background-repeat: no-repeat
	&__item
		flex: calc(100% - 290px)
		max-width: calc(100% - 290px)
		height: 391px
		background-size: cover
		display: none
		align-items: center
		padding: 0 40px
		box-sizing: border-box
		position: absolute
		width: 870px
		background-position-x: 85%
		background-position-y: center
		background-size: 350px
		background-repeat: no-repeat
		&:nth-child(1)
			display: flex
	&__content
		max-width: 360px
	&__btns
		position: absolute
		right: 0
		width: calc(100% - 310px)
		display: flex
		align-items: center
		bottom: 20px
		ul
			display: flex
			align-items: center
			justify-content: center
			width: 100%
	&__button
		height: 60px
		line-height: 60px
		background-color: #60773D
		display: inline-block
		padding: 0 50px
		cursor: pointer
		transition: all .3s ease
		color: #FFFFFF
		font-weight: bold
		font-size: 16px
		&:hover
			background-color: darken(#60773D, 5%)
			transition: all .3s ease
	&__prev
		margin-right: 15px
		cursor: pointer
		display: flex
	&__next
		margin-left: 15px
		cursor: pointer
		display: flex
	&__dot
		width: 10px
		height: 10px
		border: 1px solid #32434B
		border-radius: 100%
		cursor: pointer
		transition: all .3s ease
		margin: 0 5px
		&--active, &:hover
			background-color: #32434B
			transition: all .3s ease

.leftAnimation
	animation-name: leftAnimation
	animation-duration: .5s
	animation-iteration-count: 1

.rightAnimation
	animation-name: rightAnimation
	animation-duration: .5s
	animation-iteration-count: 1

@keyframes rightAnimation
	0%
		left: -1400px
		opacity: 0
	100%
		left: 290px
		opacity: 1

@keyframes leftAnimation
	0% 
		right: -1200px
		opacity: 0
	100% 
		right: 0
		opacity: 1

.title-h1, h1
	font-weight: bold
	font-size: 38px
	line-height: 135%
	display: flex
	align-items: center
	color: #303030

p
	font-weight: normal
	font-size: 16px
	line-height: 135%
	display: flex
	align-items: center
	color: #303030

.menu-block
	.site-nav__menu-sub
		display: block

.title-block
	margin-top: 85px
	max-width: 1220px
	margin-bottom: 50px
	padding: 35px 80px 0
	position: relative
	box-sizing: border-box
	&::before
		content: ""
		width: 100px
		height: 100px
		background-image: url(../img/triangle.svg)
		background-size: cover
		position: absolute
		left: 0
		top: 0
	&__header
		display: flex
		align-items: center
		margin-bottom: 10px
		a
			font-weight: bold
			font-size: 16px
			display: flex
			align-items: center
			color: #60773D
			margin-top: 4px
			svg
				margin-left: 10px
				transition: all .3s ease
			&:hover
				svg
					margin-left: 20px
					transition: all .3s ease
					path
						color: darken(#60773D, 5%)
		h2
			margin-right: 30px
	p
		margin: 0

h2
	font-weight: bold
	font-size: 36px
	line-height: 135%
	margin: 0

input
	padding: 20px 25px
	width: 100%
	outline: 0
	box-sizing: border-box
	font-size: 16px
	border: 0
	margin-bottom: 10px
	font-family: 'Gotham Pro'
	&::placeholder
		color: #B3B3B3

button[type=submit]
	font-family: 'Gotham Pro'
	font-weight: bold
	font-size: 16px
	line-height: 135%
	border: 0
	cursor: pointer
	box-shadow: 0
	height: 60px
	text-align: center
	width: 100%
	background-color: #60773D
	transition: all .3s ease
	color: #fff
	&:hover
		background-color: darken(#60773D, 5%)
		transition: all .3s ease

.vantage
	&__form
		background-image: url(../img/form.png)
		background-size: cover
		height: 406px
		padding: 45px 25px
		box-sizing: border-box
		&-title
			font-weight: bold
			font-size: 16px
			line-height: 135%
			color: #fff
			margin-bottom: 10px
			text-transform: uppercase
		&-text
			font-weight: normal
			font-size: 16px
			line-height: 135%
			color: #FFFFFF
			margin-bottom: 20px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__column
		max-width: 23.5%
		flex: 0 0 23.5%
		margin-right: 2%
		&:nth-child(4n)
			margin-right: 0
	&__item
		display: block
		height: 193px
		margin-bottom: 0
		box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
		box-sizing: border-box
		border-bottom: 4px solid #B3906E
		background-size: cover
		padding: 30px 20px
		color: #303030
		margin-bottom: 20px
		transition: all .3s ease
		&:hover
			transform: scale(1.1)
			transition: all .3s ease
		&-title
			display: block
			font-weight: bold
			font-size: 16px
			line-height: 135%
			margin-bottom: 10px
		&-text
			font-weight: normal
			font-size: 16px
			line-height: 135%
			display: block
		&:last-child
			margin-bottom: 0
		&--v2
			height: 406px

.sale
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		max-width: 19.2%
		flex: 0 0 19.2%
		margin-right: 1%
		height: 310px
		box-shadow: 0px 4px 20px rgba(12, 54, 73, 0.15)
		background-color: #fff
		background-size: cover
		padding: 20px 15px
		box-sizing: border-box
		text-align: center
		display: flex
		flex-direction: column
		justify-content: space-between
		transition: all .3s ease
		&:hover
			transform: scale(1.05)
			transition: all .3s ease
		&:nth-child(5)
			margin-right: 0
		&-title
			font-weight: bold
			font-size: 18px
		&-text
			font-weight: normal
			font-size: 16px
			line-height: 135%
		&-link
			display: flex
			align-items: center
			justify-content: center
			font-weight: bold
			font-size: 16px
			color: #60773D
			transition: all .3s ease
			&:hover, &:active
				color: darken(#60773D, 5%)
				transition: all .3s ease
			svg
				margin-left: 10px
				margin-top: 2px

.about
	background-color: #fff
	padding-top: 40px
	padding-bottom: 40px
	position: relative
	height: 220px
	box-sizing: border-box
	&::before
		content: ""
		left: 10px
		top: 0
		bottom: 0
		width: 50px
		height: 100%
		background-image: url(../img/left.svg)
		position: absolute
		background-repeat: no-repeat
		background-size: cover
	&::after
		content: ""
		right: 10px
		top: 0
		bottom: 0
		width: 50px
		height: 100%
		background-image: url(../img/right.svg)
		position: absolute
		background-repeat: no-repeat
		background-size: cover
	&__wrap
		padding: 0 70px
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
		flex-wrap: wrap
	&__item
		text-align: center
		max-width: 300px
		&-num
			display: flex
			justify-content: center
			align-items: center
		&-counter
			font-weight: bold
			font-size: 60px
			margin-left: 10px

.news
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		display: block
		flex: 0 0 23.5%
		max-width: 23.5%
		margin-right: 2%
		box-sizing: border-box
		padding: 10px
		background-color: #fff
		box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
		color: #303030
		border-bottom: 4px solid #B3906E
		transition: all .3s ease
		&:hover
			transform: scale(1.05)
			transition: all .3s ease
		&:nth-child(4)
			margin-right: 0
		img
			height: 160px
			width: 100%
			object-fit: cover
			vertical-align: bottom
		&-title
			font-weight: bold
			display: block
			margin-top: 20px
			margin-bottom: 10px
		&-text
			display: block

.footer-line
	position: fixed
	box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
	z-index: 10
	bottom: 0
	width: 100%
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	background-color: #fff
	&__callback
		height: 38px
		line-height: 38px
		background-color: #60773D
		transition: all .3s ease
		padding: 0 30px
		color: #fff
		font-weight: bold
		cursor: pointer
		margin-left: 20px
		&:hover
			background-color: darken(#60773D, 5%)
			transition: all .3s ease

.open__callback__form
	cursor: pointer

.site-footer
	background-color: #32434B
	padding: 50px 0
	color: #fff
	margin-top: 120px
	ul
		li
			margin-bottom: 15px
	&__category
		max-width: 240px
	&__menu
		max-width: 180px
	&__callback
		max-width: 220px
		.site-header__city
		margin-bottom: 40px
		.site-header__callback-text
			color: #fff
			border-color: #fff
			transition: all .3s ease
			&:hover
				color: darken(#fff, 25%)
				border-color: darken(#fff, 25%)
				transition: all .3s ease
		.site-header__callback
			margin-bottom: 40px
		.site-header__contacts
			margin-bottom: 40px
		.site-header__contacts-item
			display: flex
			&:nth-child(2)
				margin-top: 20px
				svg
					flex: 0 0 18px
			svg
				flex: 0 0 20px
				path
					fill: #fff
	&__title
		font-weight: bold
		margin-bottom: 15px
	&__wrap
		display: flex
		justify-content: space-between
	a
		color: #fff
		transition: all .3s ease
		&:hover
			color: darken(#fff, 25%)
			transition: all .3s ease
	.select
		margin-bottom: 40px
		&::after
			content: ""
			background-image: url(../img/downwhite.svg)
		&:hover
			select
				color: #BFBCBC
			&::after
				background-image: url(../img/downwhitehover.svg)
	select
		color: #fff
		option
			color: #303030

.site-social
	display: flex
	align-items: center
	justify-content: space-between
	width: 180px

.overlay
	position: fixed
	display: none
	z-index: 10
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: rgba(0, 0, 0, .6)

.modal-callback
	display: none
	position: fixed
	width: 750px
	background-color: #fff
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	padding: 85px 115px
	box-sizing: border-box
	text-align: center
	z-index: 11
	&:after
		content: ""
		right: 10px
		top: 0
		bottom: 0
		width: 50px
		background-image: url(../img/right.svg)
		position: absolute
	&:before
		content: ""
		left: 10px
		top: 0
		bottom: 0
		width: 50px
		background-image: url(../img/left.svg)
		position: absolute
	h2
		position: relative
		&::before
			content: ""
			width: 67px
			height: 67px
			background-image: url(../img/triangle.svg)
			position: absolute
			background-size: cover
			left: -50px
			top: -20px
	input
		border: 1px solid #B3B3B3
	form
		display: flex
		margin-top: 30px
		margin-bottom: 20px
		flex-wrap: wrap
		justify-content: space-between
		input
			flex: 0 0 53%
		button
			flex: 0 0 44%
	p
		display: inline
		color: #000000
		a
			color: #000000
			border-bottom: 1px solid #000

.faq
	background-color: #fff
	padding: 100px 0
	margin-top: 100px
	h2
		text-align: center

.callback-form
	padding: 60px 100px 45px 115px
	color: #fff
	background-color: #B3906E
	box-sizing: border-box
	margin-top: 80px
	position: relative
	&::before
		content: ""
		left: 10px
		top: 0
		bottom: 0
		height: 100%
		width: 50px
		background-image: url(../img/left.svg)
		position: absolute
	p
		color: #fff
	&__wrap
		display: flex
	&__form
		flex: 0 0 270px
		margin-left: 70px
	&__block
		flex: 0 0 calc(100% - 340px)

.connection
	&__wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__item
		max-width: 315px
	&__title
		font-weight: bold
		font-size: 20px
		line-height: 135%
		margin-top: 20px
		margin-bottom: 15px

.callback-center
	width: 270px
	margin: auto
	height: 60px
	line-height: 60px
	font-weight: bold
	font-size: 16px
	color: #fff
	background-color: #60773D
	transition: all .3s ease
	text-align: center
	cursor: pointer
	margin-top: 50px
	&:hover
		background-color: darken(#60773D, 5%)
		transition: all .3s ease

.services
	margin-top: 80px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		max-width: 32%
		margin-right: 2%
		flex: 0 0 32%
		background-color: #fff
		box-shadow: 0px 6px 30px rgba(12, 54, 73, 0.15)
		padding: 50px 30px
		border-bottom: 4px solid #B3906E
		box-sizing: border-box
		&:nth-child(3n)
			margin-right: 0
	&__title
		color: #303030
		font-weight: bold
		font-size: 24px
		line-height: 135%
		min-height: 65px
		max-height: 65px
		overflow: hidden
		text-align: center
		margin-bottom: 20px
	ul
		li
			display: flex
			margin-bottom: 25px
			font-size: 16px
			line-height: 135%
			margin-right: 2%
			span
				flex: 0 0 40px
				font-weight: normal
				font-size: 20px
				line-height: 135%
				color: #F02E54
				margin-top: -2px

.banner
	margin-top: 40px
	.callback-center
		margin-top: 30px
		margin-left: 70px
	&__wrap
		display: flex
	&__block
		flex: 0 0 43%
		&-text
			padding-left: 70px
			padding-top: 35px
			h1
				font-size: 36px
				position: relative
				&::before
					content: ""
					position: absolute
					height: 100px
					width: 100px
					background-image: url(../img/triangle.svg)
					background-size: cover
					left: -90px
					top: -35px
	&__img
		flex: 0 0 57%
		text-align: right
		img
			width: 100%
			vertical-align: bottom

.text-block
	margin-top: 40px
	ul
		padding-left: 35px
		margin: 30px 0
		li
			margin-bottom: 15px
			list-style-type: disc

.notice
	background-color: #fff
	padding: 30px 160px
	box-sizing: border-box
	position: relative
	margin-top: 40px
	&::before 
		content: ""
		width: 50px
		left: 10px
		top: 0
		bottom: 0
		height: 100%
		background-image: url(../img/left.svg)
		position: absolute
	&::after 
		content: ""
		width: 50px
		right: 10px
		top: 0
		bottom: 0
		height: 100%
		background-image: url(../img/right.svg)
		position: absolute
	p
		margin: 0
		color: #000
		text-align: center
		display: block

.white
	background-color: #fff

.banner_img
	img
		width: 100%

.contacts-page
	margin-top: 40px
	&__wrap
		display: flex
	&__map
		flex: 0 0 calc(100% - 325px)
		img
			width: 100%
			vertical-align: bottom
	&__block
		flex: 0 0 270px
		margin-right: 55px
		select
			width: 100%
			height: 45px
			border: 1px solid #B3B3B3
			padding: 0 20px
			color: #32434B
			position: relative
		.select
			margin-bottom: 50px
			&::after
				content: ""
				right: 20px
				margin-left: 0
		.site-footer__callback .site-header__callback-text
			color: #1D4684
			border-color: #1D4684
		.site-footer__callback .site-header__contacts-item svg path
			fill: #303030
		.site-social svg path
			fill: #303030
		.site-footer__callback
			max-width: 270px

.site-nav--fixed
	position: fixed
	top: 0
	left: 0
	right: 0
	width: 100%
	z-index: 10
	.menu-block .site-nav__menu-sub
		display: none

.header-mobile
	display: flex
	display: none
	justify-content: space-between
	align-items: center
	padding: 10px
	background-color: #fff
	position: fixed
	z-index: 10
	width: 100%
	box-sizing: border-box
	&__logo
		a
			display: block
		img
			max-width: 150px
			vertical-align: bottom

.mobile-menu
	position: fixed
	display: none
	z-index: 10
	top: 56px
	width: 400px
	right: 0
	background-color: #fff
	bottom: 0
	height: 100%
	&--open
		display: block
	&__wrap
		height: calc(100% - 116px)
		overflow-y: scroll
		padding: 30px
		text-align: center
	&__nav
		margin: 30px 0
		ul
			max-width: 220px
			text-align: left
			margin: auto
			user-select: none
			li
				margin-bottom: 5px
				a
					color: #333
					margin-right: 30px
					display: block

.arrowDown
	width: 7px
	height: 7px
	border-left: 2px solid #000
	border-bottom: 2px solid #000
	position: absolute
	transform: rotate(315deg)
	right: 10px
	top: 2px
	cursor: pointer
.menu-has-item
	position: relative
	ul
		display: none
	&--active
		> .arrowDown
			transform: rotate(135deg)
		> ul
			display: block
			margin: 20px 0

@import "acc.scss"
@import "_media.sass"