/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 9 version
*/

		input {
			height: 40px;
			border-radius: 4px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			-webkit-box-shadow: 0 0 0 0 transparent;
			        box-shadow: 0 0 0 0 transparent;
			border: 1px solid #ccc;
			outline: none;
			padding: 0 15px;
		}
		input:focus {
			border-color: #1aaf33;
		}
		input[type=text], input[type=tel] {
			width: 100%;
		}
		.overlay {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0,0,0, .55);
			z-index: 10000;
			opacity: 0;
			visibility: hidden;
    	-webkit-transition: .55s opacity, .55s visibility;
    	-o-transition: .55s opacity, .55s visibility;
    	transition: .55s opacity, .55s visibility;
		}
		.remarked-widget {
			width: 700px;
			position: fixed;
			background-color: #fff;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			z-index: 10001;
			border-radius: 20px;
			color: #fff;
			opacity: 0;
			visibility: hidden;
    	-webkit-transition: .55s opacity, .55s visibility;
    	-o-transition: .55s opacity, .55s visibility;
    	transition: .55s opacity, .55s visibility;
		}
		.remarked-widget-classic__header {
			padding: 20px 30px;
			background-color: #A50204;
			border-radius: 20px 20px 0 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		.remarked-widget__close {
			color: #fff;
			cursor: pointer;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
		}
		.remarked-widget-classic__body {
			padding: 30px;
		}
		.remarked-widget__userdata {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			margin-bottom: 20px;
		}
		.remarked-widget__userdata input {
			max-width: 47%;
			-webkit-box-flex: 0;
			    -ms-flex: 0 0 47%;
			        flex: 0 0 47%;
		}
		.remarked-widget-row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			margin: 0 -20px;
			margin-bottom: 20px;
		}
		.remarked-widget-column {
			max-width: 50%;
			-webkit-box-flex: 0;
			    -ms-flex: 0 0 50%;
			        flex: 0 0 50%;
			padding: 0 20px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
		.remarked-widget__times {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}
		.remarked-widget__time {
			max-width: 9%;
			-webkit-box-flex: 0;
			    -ms-flex: 0 0 13%;
			        flex: 0 0 13%;
			margin-right: 1%;
			color: #333;
			text-align: center;
			background-color: #ededed;
			height: 40px;
			border-radius: 8px;
			cursor: pointer;
			margin-bottom: 1%;
			line-height: 40px;
			user-select: none;
		}
		.remarked-widget__time:nth-child(10n) {
			margin-right: 0;
		}
		.remarked-widget__comment {
			margin-top: 15px;
			margin-bottom: 20px;
		}
		.remarked-widget-days {
			position: relative;
		}
		.remarked-widget-days__dropdown {
			position: absolute;
			top: calc(100% - 1px);
			z-index: 1;
			color: #000;
			background-color: #fff;
			width: 100%;
		}
		.remarked-widget-days__dropdown-wrap {
			border: 1px solid #1aaf33;
			border-radius: 4px;
		}
		.remarked-widget-days__dropdown-wrap > div{
			height: 40px;
			padding: 10px;
			box-sizing: border-box;
			color: #000000;
		}
		.remarked-widget__comment textarea {
			resize: none;
			height: 60px;
			width: 100%;
			box-sizing: border-box;
			border-radius: 4px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			-webkit-box-shadow: 0 0 0 0 transparent;
			        box-shadow: 0 0 0 0 transparent;
			border: 1px solid #ccc;
			outline: none;
			padding: 10px 15px;
			font-family: sans-serif;
		}
		button {
			height: 40px;
			padding: 0 30px;
			background-color: #1aaf33;
			border: 0;
			border-radius: 4px;
			-webkit-box-shadow: 0 0 0 0 transparent;
			        box-shadow: 0 0 0 0 transparent;
			cursor: pointer;
			color: #fff;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}
		button:hover, button:focus, button:active {
			background-color: #19a330;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}
		.remarked-widget-none {
			position: relative;
			z-index: -1;
		}
		.remarked-widget-active {
			position: relative;
			z-index: 1;
		}
		.remarked-widget-active .overlay, .remarked-widget-active .remarked-widget{
			opacity: 1;
			visibility: visible;
		}

		.remarked-widget-title {
			color: #8a8a8a;
			margin-bottom: 15px;
			font-weight: 500;
		}

		.mt-2 {
			margin-top: 20px;
		}

		.mb-2 {
			margin-bottom: 20px;
		} 

.remarked-quantity {
  position: relative; }
  .remarked-quantity input {
    width: 70px;
    height: 40px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #ccc; }
    .remarked-quantity input:focus {
      outline: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.remarked-quantity-nav {
  float: left;
  position: relative;
  height: 40px; }

.remarked-quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #ccc;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  user-select: none; }
  .remarked-quantity-button--up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #ccc; }
  .remarked-quantity-button--down {
    position: absolute;
    bottom: 0px;
    height: 50%; }

/*# sourceMappingURL=mcss.css.map */

.remarked-widget-room {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #1aaf33;
	color: #333;
	transition: all .3s ease;
	margin-bottom: 20px;
	border-radius: 4px;
	transition: all .3s ease;
	cursor: pointer;
}

.remarked-widget__time--disabled {
	background-color: #e1dfdf;
    color: #ccc;
	cursor: default;
}

.remarked-widget__time--active, .remarked-widget__time-work:hover, .remarked-widget__time-work:active {
	background-color: #1aaf33;
	color: #fff;
	transition: all .3s ease;
}

.remarked-widget-room:hover, .remarked-widget-room:active {
	background-color: #1aaf33;
	color: #fff;
	transition: all .3s ease;
}

.remarked-widget-classic__step-0 {
	display: none;
}

.remarked-widget-classic__step-1--none {
	overflow: hidden;
	height: 0px;
	transition: height .3s ease;
}

.dremarkedDescriptionsText__wrap a {
	color: #333;
}

.remarked-widget-classic__step-2, .remarked-widget-classic__step-3 {
	display: none;
	opacity: 0;
}

.remarked-widget-classic__step-1--active, .remarked-widget-classic__step-2--active, .remarked-widget-classic__step-3--active {
	display: block;
	opacity: 1;
	transition: opacity 3s ease;
}

.remarked-widget-text {
	color: #333;
  	text-align: center;
  	font-size: 12px;
  	margin-bottom: 20px;
	position: relative;
	padding: 0 25px;
}

.remarked-widget-info {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.circle,
.circle-border {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.circle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(1);
  animation: success-anim 700ms ease;
}
.circle-border {
  z-index: 0;
  position: absolute;
  background: #8f6;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
}

.dremarkedDescriptionsText {
	position: fixed;
	width: 800px;
	/* height: 60vh; */
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 10002;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 30px;
	padding: 30px;
	user-select: none;
}

.dremarkedDescriptionsText__close {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.dremarkedDescriptionsText__wrap {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.success::before,
.success::after {
  content: "";
  display: block;
  height: 4px;
  background: #8f6;
  position: absolute;
}

.success::before {
  width: 17px;
  top: 58%;
  left: 23%;
  transform: rotateZ(50deg);
}

.success::after {
  width: 30px;
  top: 50%;
  left: 35%;
  transform: rotateZ(-50deg);
}

.remarked-success-wrap {
	width: 60px;
	margin: auto;
	position: relative;
}

.remarked-success-text {
	text-align: center;
	margin: 30px 0;
	color: #333;
}

.remarked-success-button {
	text-align: center;
}

@media (max-width: 800px) {
	.dremarkedDescriptionsText {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}

@media (max-width: 701px) {
	.remarked-widget {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	.remarked-widget-classic__header {
		border-radius: 0;
	}
}

@media (max-width: 470px) {
	.remarked-widget-classic__body {
		height: calc(100vh - 121px);
    	overflow-y: scroll;
	}
	.remarked-widget-room {
		font-size: 13px;
	}
	.remarked-widget-column {
		max-width: 100%;
		flex: 0 0 100%;
	}

	.remarked-widget-column:first-child {
		margin-bottom: 20px;
	}

	.remarked-widget__time {
		max-width: 15%;
		flex: 0 0 15%;
		margin-right: 2%;
		margin-bottom: 2%;
		font-size: 14px;
	}

	.remarked-widget__time:nth-child(10n) {
		margin-right: 2%;
	}

	.remarked-widget__time:nth-child(6n) {
		margin-right: 0;
	}

	.remarked-widget-classic__step-2 input {
		width: 100%;
	}
} 

