@media (max-width: 1400px)
	.fensys__header
		flex-wrap: wrap
		.tabs__button-group
			margin-top: 30px
			flex: 0 0 100%
			order: 1

	.fensys__sidebar
		flex: 0 0 160px
		max-width: 160px

	.fensys__content
		flex: 0 0 calc(100% - 160px)
		padding-right: 15px
		padding-left: 25px
		padding-top: 15px
	.fensys__menu-dropdown
		padding-left: 35px

	.fensys__logo
		padding: 0 20px
		svg
			max-width: 100%
	.fensys__menu-wrap
		padding: 13px
	.fensys__menu-item
		font-size: 11px
	.fensys__menu-item svg
		flex: 0 0 18px
		margin-right: 10px
	.fensys__menu-num
		height: 15px
		line-height: 15px
		padding-left: 10px
		padding-right: 10px
		font-size: 10px
		width: auto
	.fensys__menu-dropdown-item
		font-size: 10px
		margin-bottom: 10px
	.fensys__menu-wrap
		height: 41px
		


@media (max-width: 1023px)
	.fensys__sidebar
		display: none
	.fensys__content
		flex: 0 0 100%
		padding-left: 15px

