@media (max-width: 1400px)
	.header__search
		display: none

@media (max-width: 1100px)
	.header__logo
		svg
			width: 150px

@media (max-width: 993px)
	.mobile-menu__menu-favr, .mobile-menu__menu-messg
		line-height: 26px
	.massage__item-num
		width: 24px
		height: 24px
		line-height: 22px
	.form-group input:checked + label:after 
		top: -4px
	.modal-catolog-4
		display: block
	.form-step__title-auto
		padding-left: 25px
		padding-right: 25px
		margin-left: -25px
		margin-right: -25px
		padding-bottom: 10px
	.auto-colors__wrap
		max-width: 300px
	.form-step__title-auto-text
		font-size: 16px
		line-height: 24px
		margin-top: 10px
		br
			display: none
	.form-progress__item::before
		top: -19px
		transform: translateY(0) translateX(-50%)
		left: 50%
	.form-step__title
		display: none
	.form-step__search
		display: none
	.form-progress
		margin-left: -25px
		margin-right: -25px
		overflow: hidden
		border-radius: 0
		padding: 20px 25px
		margin-top: -20px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
		padding-right: 0
		&__wrap
			display: flex
			width: 100%
			overflow-y: scroll
			padding-top: 20px
			padding-left: 25px
			&::-webkit-scrollbar 
				width: 0px /* ширина для вертикального скролла */
				height: 0px/* высота для горизонтального скролла */
			&::before
				content: ""
				height: 10px
				width: 970px
				top: 5px
				left: 76px
		&__item
			white-space: nowrap
			padding-left: 0
			margin-right: 25px
			margin-bottom: 0
	.form__wrap
		flex-wrap: wrap
		flex-direction: row-reverse
	.form__sidebar
		max-width: 100%
		flex: 0 0 100%
		order: 1
	.form__content
		max-width: 100%
		flex: 0 0 100%
		margin-right: 0
		order: 2
	.massage-block__send-submit
		display: none
	.massage-block__send-textarea
		flex: 0 0 calc(100% - 80px)
		max-width: calc(100% - 80px)
	.massage-block
		height: 100vh
		overflow: hidden
		border: 0
		border-radius: 0
	.massage-block__main
		height: calc(100vh - 300px)
	.massage-block__mobile
		display: block
		height: 64px
		text-align: center
		line-height: 64px
		background-color: #fff
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
		font-style: normal
		font-weight: 500
		font-size: 16px
		color: $text
		&-close
			display: block
			position: absolute
			top: 24px
			left: 30px
	.massage-block__header
		flex-wrap: wrap
	.massage-block__auto-phone-mobile
		max-width: 100%
		flex: 0 0 100%
		margin-top: 20px
		display: block
		a
			display: block
			width: 100%
	.massage__wrap
		padding: 0
		border: 0
		border-radius: 0
	.chat__sidebar
		max-width: 100%
		flex: 0 0 100%
		margin-right: 0
	.massage__item:last-child
		border-bottom: 1px solid #E9EAEA
	.chat__content
		display: none
		position: fixed
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: 20
		background-color: #fff
		width: 100%
		min-width: 100%
		flex: 0 0 100%
		.massage-block__header, .massage-block__main, .massage-block__send
			padding-left: 25px
			padding-right: 25px
	.massage-block__auto
		.massage-block__auto-phone
			display: none
	.profile__sidebar
		max-width: 100%
		flex: 0 0 100%
		margin-left: 0
		.profile__account
			max-width: 310px
			margin-bottom: 45px
			margin-left: auto
			margin-right: auto
	.profile__content
		max-width: 100%
		flex: 0 0 100%
	.lk__container
		max-width: 100%
	.profile
		flex-wrap: wrap

	.single__images-top
		height: auto
	.offer-dealer, .other-auto, .single-equipment__dealer
		display: none
	.single-description__wrap
		flex-wrap: wrap
		.single__content-wrap
			flex: 0 0 100%
			max-width: 100%
			margin-top: 0
	.single
		flex-wrap: wrap
	.single__content
		margin-left: 0
		order: 0
		.single__content-wrap
			display: none
	.single__content-note
		display: none
	.single__mobile
		max-width: 100%
		flex: 0 0 100%
		display: block
		order: 4
		.single__content-wrap
			margin-top: 15px
	.tabs-index
		margin-top: 30px
	.single__days-end
		height: 18px
		line-height: 18px
		font-size: 9px
	.modal-carusel__top
		height: 40vh
		margin-left: -50px
		margin-right: -50px
	.modal-carusel__thumb
		flex: 0 0 90px
		max-width: 90px
		height: 60px
	.index-title
		display: block
	.single__dealer
		max-width: 100%
		flex: 0 0 100%
		display: flex
		flex-wrap: wrap
		margin-left: 0
		justify-content: space-between
		.single__dealer-price
			order: 0
			margin: 0
			height: 44px
			background: #F0F0FE
			border-radius: 8px
			font-weight: bold
			font-size: 18px
			line-height: 44px
			padding-left: 18px
			padding-right: 18px
		.single__dealer-wrap
			width: 100%
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			background-color: transparent
			padding: 0
			margin-top: 16px
			margin-bottom: 16px
		.single__dealer-open
			flex: 0 0 48%
			max-width: 48%
			margin-bottom: 0
			order: 3
		.single__dealer-write
			flex: 0 0 48%
			max-width: 48%
			order: 4
		.single__dealer-commission
			order: 1
			margin: 0
			font-size: 12px
		.single__dealer-brand
			display: flex
			align-items: center
			justify-content: space-between
			order: 2
			flex: 0 0 100%
			box-sizing: border-box
			margin-top: 15px
			margin-bottom: 15px
			.single__dealer-inner
				margin-top: 0
	.single__images
		order: 1
	.single__dealer
		order: 2
	.single__images, .single__content
		max-width: 100%
		flex: 0 0 100%
	.single__title
		margin-bottom: 25px
	.single-paintwork__wrap
		flex-wrap: wrap
	.single-paintwork__img, .single-paintwork__inner, .single-equipment__accordion
		margin-bottom: 50px
		flex: 0 0 100%
		max-width: 100%
	.single-paintwork__img
		text-align: center
		margin-bottom: 25px
		svg
			width: 300px
	.single__content-item
		max-width: 400px
	.tabs-index
		.tabs__button-group
			width: 100%
			overflow: hidden
			overflow-x: scroll
			&::-webkit-scrollbar 
				width: 0 /* ширина для вертикального скролла */
				height: 0/* высота для горизонтального скролла */
		.tabs__toggle
			margin-right: 20px
			white-space: nowrap
	.title-min
		line-height: 25px
		font-size: 18px
		padding-bottom: 20px
		margin-bottom: 0
		border-bottom: 5px solid #E9EAEA
		margin-left: -25px
		margin-right: -25px
		padding-left: 25px
		padding-right: 25px
	.company
		background-color: #fff
		border-bottom: 5px solid #E9EAEA
		margin-bottom: 10px
	.company-dealer__block
		flex-wrap: wrap
	.company-dealer__content
		flex: 0 0 100%
		max-width: 100%
	.company-dealer__img
		margin-bottom: 20px
		flex: 0 0 60px
	.company-dealer
		padding: 0
		flex-wrap: wrap
	.company-dealer__block
		max-width: 100%
		flex: 0 0 100%
	.company-dealer__btns
		display: flex
		flex: 0 0 100%
		max-width: 100%
		margin-top: 20px
		.single__dealer-write
			max-width: 150px
			margin-right: 20px
		.single__dealer-open
			max-width: 150px
			margin-top: 0
	.auto-item-mobile
		display: block
	.footer__wrap
		flex-wrap: wrap
	.footer__logo
		max-width: 100%
		flex: 0 0 100%
		order: 1
		margin-bottom: 25px
	.footer__line
		flex-wrap: wrap
	.footer__copy
		max-width: 100%
		flex: 0 0 100%
		margin-top: 25px
	.footer__nav
		max-width: 100%
		flex: 0 0 100%
		order: 2
		flex-wrap: wrap
		a
			max-width: 47%
			flex: 0 0 47%
			margin-right: 6%
			&:nth-child(2n)
				margin-right: 0
	.catalog__header
		border-bottom: 0 solid #000
	.breadcrumbs
		width: 100%
		overflow-x: scroll
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
		&__link
			white-space: nowrap
	.container
		padding-left: 25px
		padding-right: 25px
	.header__login
		display: none
	.filter
		display: none
	.catalog__header
		flex-wrap: wrap
		margin-top: 20px
	.catalog__sorts
		flex: 0 0 calc(100% + 0px)
		max-width: calc(100% + 0px)
		display: flex
		justify-content: space-between
		border-top: 5px solid #E9EAEA
		border-bottom: 5px solid #E9EAEA
		margin-top: 20px
		padding: 10px 25px
		margin-left: -25px
		margin-right: -25px
	.auto-item
		display: none
	.filter-mobile
		display: block
		padding-left: 25px
		padding-right: 25px
	.header
		position: relative
		z-index: 11
	.header__menu
		display: none
	.header__messages
		display: none
	.header__favorites
		display: none
	.header__profile
		display: none
	.header__out
		display: none
	.humburger
		display: block
	.header__wrap
		height: 64px
		padding-left: 25px
		padding-right: 25px
	.bg-form
		height: calc(100vh - 64px)

@media (max-width: 584px)
	.profile__title
		margin-left: -25px
		margin-right: -25px
		padding-left: 25px
		padding-right: 25px
	.lk__header-upload
		max-width: 100%
		flex: 0 0 100%
		margin-top: 12px
	.input-load
		height: 120px
	.input-load__title
		display: block
		text-align: center
		span
			display: flex
			margin-top: 10px
			margin-bottom: 5px
			svg
				margin-left: 0
	.lk__header
		flex-wrap: wrap
	.lk__inner
		flex-wrap: wrap
		&-item
			max-width: 100%
			flex: 0 0 100%
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
	.form-reg
		margin-left: 10px
		margin-right: 10px
	.cod__form
		max-width: 420px
		width: 100%
		margin-left: 25px
		margin-right: 25px
	.form-reg__btns
		flex-wrap: wrap
	.form-reg__btns button
		max-width: 100%
		flex: 0 0 100%
		margin-right: 0
	.form-reg__btns a
		display: block
		text-align: center
		margin-top: 30px
		width: 100%

@media (max-width: 450px)
	.catalog__sort
		max-width: 150px
	.catalog__date
		max-width: 150px

@media (max-width: 425px)
	.catalog__sort, .catalog__date
		max-width: 48%
		flex: 0 0 48%
		margin: 0