body {
  margin: 0;
  padding: 0;
  font-family: "ALS Hauss", sans-serif; }

.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08); }
  .header__logo {
    height: 40px; }
  .header__login {
    display: block;
    width: 80px;
    height: 36px;
    line-height: 40px;
    border: 2px solid #D5D5D6;
    border-radius: 8px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #2B2D33;
    transition: all 0.3s ease; }
    .header__login:hover, .header__login:active {
      transition: all 0.3s ease;
      background-color: #D5D5D6; }
  .header__sell {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #FED500;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #2B2D33;
    transition: all 0.3s ease; }
    .header__sell:hover, .header__sell:active {
      background-color: #ffe24c;
      transition: all 0.3s ease; }
  .header__menu {
    height: 90px;
    display: flex; }
    .header__menu-item {
      line-height: 90px;
      position: relative;
      display: block;
      height: 90px;
      margin-right: 30px;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      transition: all 0.3s ease;
      color: #808185; }
      .header__menu-item--active, .header__menu-item:hover, .header__menu-item:active {
        color: #2B2D33;
        transition: all 0.3s ease; }
        .header__menu-item--active::after, .header__menu-item:hover::after, .header__menu-item:active::after {
          content: "";
          position: absolute;
          bottom: 0;
          background-color: #008E7D;
          height: 4px;
          width: 40px;
          border-radius: 4px;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s ease; }
  .header__wrap {
    max-width: 1400px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center; }
  .header__search {
    position: relative; }
    .header__search input {
      width: 210px;
      height: 40px;
      padding-left: 40px;
      padding-right: 10px;
      border: 0;
      background-color: #F4F4F4;
      border-radius: 8px;
      outline: none;
      font-size: 14px; }
      .header__search input::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(43, 45, 51, 0.24); }
    .header__search button {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      background-color: transparent;
      border: 0;
      outline: none;
      padding: 0; }
  .header__icon {
    text-align: center; }
    .header__icon-svg {
      position: relative;
      display: inline-block;
      height: 29px; }
    .header__icon-num {
      position: absolute;
      top: -3px;
      right: -10px;
      background: #EB001B;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      text-align: center;
      border-radius: 100%;
      font-weight: bold;
      font-size: 9px;
      line-height: 16px;
      color: #fff; }
    .header__icon-text {
      font-weight: normal;
      font-size: 10px;
      line-height: 10px;
      color: rgba(0, 0, 0, 0.5); }

img {
  vertical-align: bottom; }

.container {
  max-width: 1060px;
  margin: auto;
  padding: 0 15px; }
  .container-min {
    max-width: 880px; }

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px; }
  .breadcrumbs__link {
    margin-right: 40px;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2B2D33; }
    .breadcrumbs__link:nth-child(2n) {
      color: #808185; }
    .breadcrumbs__link::after {
      content: "";
      width: 5px;
      height: 8px;
      background-image: url(../img/right.svg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px; }
    .breadcrumbs__link:last-child::after {
      content: "";
      display: none; }

.single {
  display: flex;
  justify-content: space-between; }
  .single__dealer {
    max-width: 200px;
    flex: 0 0 200px;
    margin-left: 20px; }
    .single__dealer-price {
      text-align: right;
      font-family: "Navigo";
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
      color: #2B2D33;
      margin-top: 25px; }
    .single__dealer-write {
      width: 100%;
      height: 50px;
      border-radius: 8px;
      line-height: 50px;
      color: #19B28D;
      font-weight: 500;
      font-size: 14px;
      background-color: rgba(25, 178, 141, 0.2);
      transition: all 0.3s ease;
      cursor: pointer;
      text-align: center; }
      .single__dealer-write:hover, .single__dealer-write:active {
        background-color: rgba(25, 178, 141, 0.6);
        transition: all 0.3s ease;
        color: #fff; }
    .single__dealer-open {
      width: 100%;
      margin-bottom: 10px;
      height: 50px;
      background-color: #19B28D;
      border-radius: 8px;
      line-height: 50px;
      text-align: center;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease; }
      .single__dealer-open:hover, .single__dealer-open:active {
        background-color: #169c7b;
        transition: all 0.3s ease; }
    .single__dealer-commission {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 14px;
      text-align: right;
      color: #008E7D;
      margin-bottom: 10px; }
    .single__dealer-wrap {
      padding: 13px 12px;
      background-color: #F9F9F9;
      border-radius: 8px; }
    .single__dealer-brand {
      padding: 15px 18px;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      border-radius: 8px; }
      .single__dealer-brand img {
        max-width: 95px;
        height: auto; }
    .single__dealer-inner {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      align-items: center; }
    .single__dealer-rating {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #000; }
      .single__dealer-rating span {
        color: #FF5F00; }
  .single__days-end {
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    background-color: #F0F0FE;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    top: 12px;
    left: 15px;
    position: absolute; }
  .single__images {
    max-width: 440px;
    flex: 0 0 440px; }
    .single__images img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .single__images-top {
      width: 100%;
      height: 260px;
      position: relative;
      cursor: pointer; }
    .single__images-wrap {
      display: flex;
      justify-content: space-between; }
    .single__images-item {
      max-width: 32%;
      flex: 0 0 32%;
      height: 80px;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      cursor: pointer; }
      .single__images-item img {
        border-radius: 8px; }
    .single__images-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      color: #fff; }
      .single__images-overlay svg {
        display: block;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 10px; }
  .single__content {
    max-width: 315px;
    flex: 0 0 315px;
    margin-left: 35px; }
    .single__content-note {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 40px;
      border-bottom: 1px solid #E9EAEA;
      margin-top: 30px;
      cursor: pointer; }
      .single__content-note svg {
        margin-right: 10px; }
    .single__content-wrap {
      margin-top: 25px; }
    .single__content-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .single__content-item-title {
        max-width: 110px;
        flex: 0 0 110px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #2B2D33; }
      .single__content-item-value {
        max-width: 180px;
        flex: 0 0 180px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(43, 45, 51, 0.5); }
        .single__content-item-value--dealer {
          color: #D71016;
          font-weight: 500; }
    .single__content-specifications {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: rgba(43, 45, 51, 0.5);
      margin-bottom: 12px; }
    .single__content-inner {
      display: flex;
      margin-bottom: 12px; }
    .single__content-artikul {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #2B2D33;
      margin-right: 15px; }
    .single__content-status {
      color: #008E7D;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px; }
    .single__content-view {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 40px;
      color: rgba(43, 45, 51, 0.5); }
      .single__content-view svg {
        margin-right: 12px; }
    .single__content-favorite {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 35px;
      border: 2px solid #D5D5D6;
      border-radius: 8px;
      color: #2B2D33;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 13px; }
      .single__content-favorite svg {
        margin-right: 10px;
        transition: all 0.3s ease; }
      .single__content-favorite--active, .single__content-favorite:hover, .single__content-favorite:active {
        color: #fff;
        transition: all 0.3s ease;
        background-color: #D5D5D6; }
        .single__content-favorite--active svg path, .single__content-favorite:hover svg path, .single__content-favorite:active svg path {
          fill: #fff;
          transition: all 0.3s ease; }
  .single__title {
    margin: 0;
    color: #2B2D33;
    font-weight: bold;
    font-size: 24px;
    font-family: "Navigo";
    line-height: 24px;
    margin-bottom: 12px; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

.tabs {
  margin-top: 50px; }
  .tabs .tabs__button-group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9EAEA;
    margin-bottom: 50px; }
    .tabs .tabs__button-group .active {
      color: #2B2D33; }
      .tabs .tabs__button-group .active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        bottom: -1px;
        background-color: #FF0000;
        left: 0;
        right: 0; }
  .tabs .tabs__toggle {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: rgba(43, 45, 51, 0.5);
    padding-bottom: 18px;
    position: relative;
    cursor: pointer; }
  .tabs .tabs__tab-panel {
    display: none; }
  .tabs .tabs__container .active {
    display: block; }

.other-auto {
  margin-bottom: 40px;
  margin-top: 50px; }
  .other-auto__wrap {
    display: flex;
    flex-wrap: wrap; }
  .other-auto__item {
    max-width: 22%;
    flex: 0 0 22%;
    margin-right: 4%;
    margin-bottom: 25px; }
    .other-auto__item a {
      text-decoration: none; }
    .other-auto__item-title {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #2B2D33; }
    .other-auto__item-price {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #2B2D33; }
    .other-auto__item-city {
      padding-left: 8px;
      padding-right: 8px;
      background: #F0F0FE;
      border-radius: 4px;
      display: inline-block;
      font-weight: normal;
      font-size: 12px;
      line-height: 30px;
      height: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #2B2D33; }
    .other-auto__item:nth-child(4n) {
      margin-right: 0; }
    .other-auto__item-img {
      height: 150px; }
      .other-auto__item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .other-auto__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px; }
  .other-auto__button-more {
    border-radius: 8px;
    border: 2px solid #D5D5D6;
    width: 230px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #2B2D33;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    text-decoration: none; }
    .other-auto__button-more:hover, .other-auto__button-more:active {
      background-color: #D5D5D6;
      color: #fff;
      transition: all 0.3s ease; }

.footer {
  padding: 40px 0;
  background-color: #2B2D33; }
  .footer__line {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__copy {
    font-size: 16px;
    line-height: 26px;
    color: #808185; }
  .footer__politic {
    color: #808185;
    border-bottom: 1px solid #808185;
    text-decoration: none; }
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #55575C; }
  .footer__nav {
    display: flex; }
  .footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #808185;
    text-decoration: none;
    margin-right: 50px;
    transition: all 0.3s ease; }
    .footer__link:hover, .footer__link:active {
      color: #a7a8aa;
      transition: all 0.3s ease; }
    .footer__link:last-child {
      margin-right: 0; }

.single-description__comment {
  max-width: 580px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .single-description__comment-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 45, 51, 0.8); }
  .single-description__comment-more {
    color: #00809C;
    border-bottom: 1px solid #00809C;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    cursor: pointer; }
.single-description__wrap {
  display: flex;
  justify-content: space-between; }
  .single-description__wrap .single__content-wrap {
    max-width: 30%;
    flex: 0 0 30%; }
  .single-description__wrap .single__content-item-title {
    max-width: 150px;
    flex: 0 0 150px; }
  .single-description__wrap .single__content-item-value {
    max-width: 140px;
    flex: 0 0 140px; }

.modal-carusel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center; }
  .modal-carusel__inner {
    position: relative; }
  .modal-carusel__btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; }
    .modal-carusel__btn:hover, .modal-carusel__btn:active {
      background-color: #dfdfdf;
      transition: all 0.3s ease; }
    .modal-carusel__btn-left {
      position: absolute;
      left: -60px;
      top: 50%;
      transform: translateY(-50%); }
    .modal-carusel__btn-right {
      position: absolute;
      right: -60px;
      top: 50%;
      transform: translateY(-50%); }
  .modal-carusel__close {
    width: 44px;
    height: 44px;
    border: 2px solid #00A5BC;
    border-radius: 4px;
    background-color: #F8F8F8;
    transition: all 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .modal-carusel__close:hover, .modal-carusel__close:active {
      background-color: #dfdfdf;
      transition: all 0.3s ease; }
  .modal-carusel--active {
    display: flex; }
  .modal-carusel__title {
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Navigo";
    color: #fff;
    text-align: center; }
  .modal-carusel__wrap {
    max-width: 1020px;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    position: relative; }
  .modal-carusel__top {
    height: 60%; }
    .modal-carusel__top img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 8px; }
  .modal-carusel__thumbs {
    display: flex;
    overflow: hidden; }
  .modal-carusel__thumb {
    margin-right: 11.5px;
    cursor: pointer;
    flex: 0 0 160px;
    max-width: 160px;
    height: 100px; }
    .modal-carusel__thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px; }

.single-paintwork__wrap {
  display: flex;
  justify-content: space-between; }
.single-paintwork__img {
  flex: 0 0 420px;
  max-width: 420px; }
.single-paintwork__inner {
  flex: 0 0 calc(100% - 510px);
  max-width: calc(100% - 510px); }
.single-paintwork__right {
  display: flex;
  align-items: center; }
.single-paintwork__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #E9EAEA; }
  .single-paintwork__item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #2B2D33;
    margin-bottom: 10px; }
  .single-paintwork__item-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: rgba(43, 45, 51, 0.5); }
  .single-paintwork__item-img {
    width: 64px;
    height: 64px; }
    .single-paintwork__item-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px; }
  .single-paintwork__item-text {
    margin-right: 15px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(43, 45, 51, 0.5);
    line-height: 18px; }
  .single-paintwork__item:last-child {
    border-bottom: 1px solid #E9EAEA; }

.offer-dealer {
  padding: 20px;
  background: #FCFCFC;
  border-radius: 8px;
  padding-right: 40px;
  margin-top: 80px; }
  .offer-dealer__inner {
    display: flex;
    justify-content: flex-end; }
  .offer-dealer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .offer-dealer__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #2B2D33;
    font-family: "Navigo";
    margin-bottom: 5px; }
  .offer-dealer__art {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(43, 45, 51, 0.5); }
  .offer-dealer__btns {
    display: flex;
    max-width: 60%;
    flex: 0 0 60%;
    justify-content: flex-end; }
  .offer-dealer__btn {
    margin-left: 30px;
    flex: 0 0 230px; }
  .offer-dealer__item {
    display: flex;
    padding: 15px;
    padding-right: 30px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background-color: #fff;
    align-items: center;
    margin-top: 5px; }
    .offer-dealer__item-map {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: rgba(43, 45, 51, 0.5); }
      .offer-dealer__item-map svg {
        margin-right: 10px; }
    .offer-dealer__item-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #D71016; }
    .offer-dealer__item-img {
      flex: 0 0 40px;
      margin-right: 15px; }
      .offer-dealer__item-img img {
        width: 100%;
        height: auto; }

.accordion {
  border: 1px solid #E9EAEA;
  border-radius: 12px; }
  .accordion__title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    cursor: pointer; }
    .accordion__title svg {
      transition: all 0.3s ease; }
  .accordion__content {
    padding: 15px 25px;
    display: none;
    padding-top: 5px; }
  .accordion__item {
    border-bottom: 1px solid #E9EAEA; }
    .accordion__item:last-child {
      border-bottom: none; }
    .accordion__item--active .accordion__title svg {
      transform: rotate(-180deg);
      transition: all 0.3s ease; }
    .accordion__item--active .accordion__content {
      display: block; }

.option-auto__wrap {
  display: flex;
  flex-wrap: wrap; }
.option-auto__item {
  max-width: 50%;
  flex: 0 0 50%; }

.counters {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 45, 51, 0.5);
  position: relative; }
  .counters::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #00809C;
    border-radius: 100%; }

.single-equipment__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px; }
.single-equipment__accordion {
  max-width: 67%;
  flex: 0 0 67%; }
.single-equipment__dealer {
  margin-left: 25px;
  flex: 0 0 calc(33% - 25px);
  max-width: calc(33% - 25px); }
  .single-equipment__dealer .single__dealer-wrap {
    padding-bottom: 35px; }
  .single-equipment__dealer .single__dealer-stock {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px; }
  .single-equipment__dealer .single__dealer-rating {
    margin-top: 15px; }
  .single-equipment__dealer .single__dealer-price {
    text-align: left; }
  .single-equipment__dealer .single__dealer-commission {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    font-family: "Navigo";
    color: rgba(43, 45, 51, 0.5);
    margin-top: 10px;
    margin-bottom: 15px; }
  .single-equipment__dealer .offer-dealer__item {
    padding-right: 15px; }

.new-auto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .new-auto__btns {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
  .new-auto__btn-search {
    color: #00809C;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #00809C;
    cursor: pointer; }
  .new-auto__btn-show {
    width: 260px;
    flex: 0 0 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #FED500;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #2B2D33;
    transition: all 0.3s ease; }
    .new-auto__btn-show:hover, .new-auto__btn-show:active {
      background-color: #ffe24c;
      transition: all 0.3s ease; }
  .new-auto__column {
    max-width: 32%;
    flex: 0 0 32%; }
  .new-auto__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .new-auto__inner-item {
      max-width: 47%;
      flex: 0 0 47%; }

.select-input {
  position: relative;
  margin-bottom: 10px; }
  .select-input input {
    width: 100%;
    padding-left: 12px;
    padding-right: 40px;
    height: 36px;
    outline: none;
    border: 1px solid #D5D5D6;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #2B2D33;
    font-family: "ALS Hauss", sans-serif; }
    .select-input input::placeholder {
      color: rgba(43, 45, 51, 0.5); }
  .select-input svg {
    position: absolute;
    top: 50%;
    right: 12px;
    top: 50%;
    transform: translateY(-50%); }

.filter {
  padding: 15px 30px 20px;
  border: 1px solid #E9EAEA;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 25px; }
  .filter .tabs {
    margin-top: 0; }
  .filter .tabs__button-group {
    margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 30px;
    margin-bottom: 20px;
    justify-content: start; }
  .filter .tabs__toggle {
    margin-right: 30px; }

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  font-family: "Navigo";
  color: #2B2D33;
  margin-top: 20px;
  margin-bottom: 0; }

.subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(43, 45, 51, 0.5); }

.advantages {
  display: flex;
  flex-wrap: wrap; }
  .advantages__item {
    position: relative;
    background: #F0F0FE;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #2B2D33;
    padding-left: 8px;
    padding-right: 8px;
    height: 22px;
    margin-right: 10px; }
    .advantages__item:last-child {
      margin-right: 0; }
    .advantages__item svg {
      height: 22px; }

.single__dealer-info {
  display: flex;
  align-items: center; }

.auto-item {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #E9EAEA;
  margin-bottom: 25px; }
  .auto-item__dealer {
    flex: 0 0 190px;
    min-width: 190px; }
    .auto-item__dealer-wrap {
      padding: 7px;
      padding-top: 15px;
      background: #F9F9F9;
      border-radius: 8px; }
    .auto-item__dealer-img {
      width: 50px;
      margin: auto;
      margin-bottom: 10px; }
      .auto-item__dealer-img img {
        width: 100%;
        height: auto; }
    .auto-item__dealer-price {
      height: 40px;
      line-height: 40px;
      background: #F0F0FE;
      border-radius: 8px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      margin-bottom: 5px; }
    .auto-item__dealer-commission {
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      color: #008E7D;
      text-align: center;
      margin-bottom: 10px; }
    .auto-item__dealer-open {
      height: 50px;
      line-height: 50px;
      background: #19B28D;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease; }
      .auto-item__dealer-open:hover, .auto-item__dealer-open:active {
        background-color: #169c7b;
        transition: all 0.3s ease; }
  .auto-item__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #2B2D33; }
  .auto-item .single__dealer-inner {
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 150px; }
  .auto-item__inner {
    display: flex;
    justify-content: space-between; }
    .auto-item__inner-title {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(43, 45, 51, 0.5);
      margin-bottom: 3px; }
    .auto-item__inner-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #55575C; }
    .auto-item__inner-item {
      max-width: 30%;
      flex: 0 0 30%; }
  .auto-item__img {
    max-width: 260px;
    flex: 0 0 260px;
    height: 170px;
    margin-right: 25px; }
    .auto-item__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px; }
  .auto-item__content {
    max-width: 320px;
    flex: 0 0 320px;
    margin-right: 85px; }
  .auto-item__dealer {
    max-width: 190px;
    flex: 0 0 190px; }

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E9EAEA; }
.catalog__title {
  font-family: "Navigo";
  font-weight: 500;
  font-size: 18px;
  color: #2B2D33; }
.catalog__sorts {
  display: flex; }
.catalog__sort {
  max-width: 150px;
  margin-right: 20px; }
.catalog__date {
  max-width: 180px; }
.catalog .select-input {
  margin-bottom: 0; }

.company-dealer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 8px; }
  .company-dealer__wrap {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E9EAEA; }
  .company-dealer__btns {
    max-width: 230px;
    flex: 0 0 230px; }
  .company-dealer .single__dealer-open {
    margin-bottom: 0;
    margin-top: 15px; }
  .company-dealer__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    font-family: "Navigo";
    color: #2B2D33; }
  .company-dealer .single__dealer-inner {
    max-width: 150px;
    margin-top: 10px; }
  .company-dealer__map {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(43, 45, 51, 0.5); }
    .company-dealer__map svg {
      margin-right: 10px; }
  .company-dealer__content {
    max-width: calc(100% - 150px);
    flex: 0 0 calc(100% - 150px); }
  .company-dealer__block {
    display: flex;
    max-width: calc(100% - 300px);
    flex: 0 0 calc(100% - 300px);
    align-items: center; }
  .company-dealer__img {
    flex: 0 0 120px;
    display: flex;
    align-items: center;
    margin-right: 30px; }
    .company-dealer__img img {
      width: 100%;
      height: auto; }

.company {
  background: #FCFCFC;
  padding-bottom: 15px; }

.title-min {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  font-family: "Navigo";
  color: #2B2D33;
  margin-top: 15px;
  margin-bottom: -25px; }

.profile {
  display: flex; }
  .profile__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    font-family: "Navigo";
    color: #2B2D33;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E9EAEA; }
  .profile__content {
    max-width: calc(100% - 340px);
    flex: 0 0 calc(100% - 340px); }
  .profile__sidebar {
    max-width: 310px;
    flex: 0 0 310px;
    margin-left: 30px; }
  .profile__account {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    padding: 30px;
    margin-top: 20px; }
    .profile__account-help {
      font-weight: normal;
      font-size: 16px;
      color: rgba(43, 45, 51, 0.5);
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #C4C4C4;
      display: block; }
      .profile__account-help span {
        border-bottom: 1px solid rgba(43, 45, 51, 0.5); }
    .profile__account-link {
      display: block;
      font-weight: 500;
      font-size: 18px;
      color: #008E7D;
      transition: all 0.3s ease;
      text-decoration: none;
      margin-bottom: 7px; }
      .profile__account-link:hover {
        color: #007567;
        transition: all 0.3s ease; }
    .profile__account-title {
      font-weight: 500;
      font-size: 20px;
      color: #2B2D33;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #C4C4C4; }

/*# sourceMappingURL=styles.css.map */
