$red: #EB001B
$green: #008E7D
$text: #2B2D33

body
	margin: 0
	padding: 0
	font-family: 'ALS Hauss', sans-serif

a
	text-decoration: none

.header
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
	background-color: #fff
	&__out
		display: flex
	&__profile
		display: flex
		align-items: center
		&-title
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: $text
		&-img
			flex: 0 0 32px
			height: 32px
			width: 32px
			margin-left: 10px
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 100%
	&__logo
		height: 40px
	&__login
		display: block
		width: 80px
		height: 36px
		line-height: 40px
		border: 2px solid #D5D5D6
		border-radius: 8px
		text-align: center
		line-height: 36px
		font-weight: 500
		font-size: 14px
		text-decoration: none
		color: $text
		transition: all .3s ease
		&:hover, &:active
			transition: all .3s ease
			background-color: #D5D5D6
	&__sell
		display: block
		width: 100px
		height: 40px
		background-color: #FED500
		border-radius: 8px
		text-align: center
		line-height: 40px
		font-weight: 500
		font-size: 14px
		text-decoration: none
		color: $text
		transition: all .3s ease
		&:hover, &:active
			background-color: lighten(#FED500, 15%)
			transition: all .3s ease
	&__menu
		height: 90px
		display: flex
		&-item
			line-height: 90px
			position: relative
			display: block
			height: 90px
			margin-right: 30px
			font-weight: 500
			font-size: 16px
			text-decoration: none
			transition: all .3s ease
			color: #808185
			&--active, &:hover, &:active
				color: $text
				transition: all .3s ease
				&::after
					content: ""
					position: absolute
					bottom: 0
					background-color: $green
					height: 4px
					width: 40px
					border-radius: 4px
					left: 50%
					transform: translateX(-50%)
					transition: all .3s ease
	&__wrap
		max-width: 1400px
		padding: 0 30px
		margin: auto
		display: flex
		justify-content: space-between
		height: 90px
		align-items: center
	&__search
		position: relative
		input
			width: 210px
			height: 40px
			padding-left: 40px
			padding-right: 10px
			border: 0
			background-color: #F4F4F4
			border-radius: 8px
			outline: none
			font-size: 14px
			&::placeholder
				font-weight: normal
				font-size: 14px
				line-height: 22px
				color: rgba(43, 45, 51, 0.24)
		button
			position: absolute
			top: 50%
			left: 15px
			transform: translateY(-50%)
			background-color: transparent
			border: 0
			outline: none
			padding: 0
			cursor: pointer
	&__icon
		text-align: center
		&-svg
			position: relative
			display: inline-block
			height: 29px
		&-num
			position: absolute
			top: -3px
			right: -10px
			background: $red
			width: 16px
			height: 16px
			border: 2px solid #fff
			text-align: center
			border-radius: 100%
			font-weight: bold
			font-size: 9px
			line-height: 16px
			color: #fff
		&-text
			font-weight: normal
			font-size: 10px
			line-height: 10px
			color: rgba(#000, .5)

img
	vertical-align: bottom

.container
	max-width: 1060px
	margin: auto
	padding: 0 15px
	&-min
		max-width: 880px

.breadcrumbs
	display: flex
	align-items: center
	margin-top: 25px
	margin-bottom: 25px
	&__link
		margin-right: 40px
		position: relative
		font-size: 12px
		line-height: 18px
		display: flex
		align-items: center
		text-decoration: none
		color: $text
		&:nth-child(2n)
			color: #808185
		&::after
			content: ""
			width: 5px
			height: 8px
			background-image: url(../img/right.svg)
			background-size: cover
			background-repeat: no-repeat
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: -20px
		&:last-child
			&::after
				content: ""
				display: none

.single
	display: flex
	justify-content: space-between
	&__dealer
		max-width: 200px
		flex: 0 0 200px
		margin-left: 20px
		&-price
			text-align: right
			font-family: 'Navigo'
			font-weight: bold
			font-size: 26px
			line-height: 26px
			color: $text
			margin-top: 25px
		&-write
			width: 100%
			height: 50px
			border-radius: 8px
			line-height: 50px
			color: #19B28D
			font-weight: 500
			font-size: 14px
			background-color: rgba(25, 178, 141, 0.2)
			transition: all .3s ease
			cursor: pointer
			text-align: center
			&:hover, &:active
				background-color: rgba(25, 178, 141, 0.6)
				transition: all .3s ease
				color: #fff
		&-open
			width: 100%
			margin-bottom: 10px
			height: 50px
			background-color: #19B28D
			border-radius: 8px
			line-height: 50px
			text-align: center
			color: #FFFFFF
			font-weight: 500
			font-size: 14px
			cursor: pointer
			transition: all .3s ease
			&:hover, &:active
				background-color: darken(#19B28D, 5%)
				transition: all .3s ease
		&-commission
			font-weight: 500
			margin-bottom: 10px
			font-size: 14px
			line-height: 14px
			text-align: right
			color: $green
			margin-bottom: 10px
		&-wrap
			padding: 13px 12px
			background-color: #F9F9F9
			border-radius: 8px
		&-brand
			padding: 15px 18px
			text-align: center
			background-color: #fff
			box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04)
			border-radius: 8px
			img
				max-width: 95px
				height: auto
		&-inner
			display: flex
			justify-content: space-between
			margin-top: 15px
			align-items: center
		&-rating
			font-weight: 500
			font-size: 16px
			line-height: 26px
			color: #000
			span
				color: #FF5F00
	&__days-end
		padding-left: 8px
		padding-right: 8px
		height: 25px
		background-color: #F0F0FE
		border-radius: 4px
		line-height: 25px
		text-align: center
		top: 12px
		left: 15px
		position: absolute
	&__images
		max-width: 440px
		flex: 0 0 440px
		img
			width: 100%
			height: 100%
			object-fit: cover
		&-top
			width: 100%
			height: 260px
			position: relative
			cursor: pointer
		&-wrap
			display: flex
			justify-content: space-between
		&-item
			max-width: 32%
			flex: 0 0 32%
			height: 80px
			overflow: hidden
			border-radius: 8px
			position: relative
			cursor: pointer
			img
				border-radius: 8px
		&-overlay
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
			text-align: center
			font-weight: bold
			font-size: 12px
			color: #fff
			svg
				display: block
				margin: auto
				margin-bottom: 5px
				margin-top: 10px
	&__content
		max-width: 315px
		flex: 0 0 315px
		margin-left: 35px
		&-note
			display: flex
			justify-content: center
			align-items: center
			width: 160px
			height: 40px
			border-bottom: 1px solid #E9EAEA
			margin-top: 30px
			cursor: pointer
			svg
				margin-right: 10px
		&-wrap
			margin-top: 25px
		&-item
			display: flex
			justify-content: space-between
			margin-bottom: 10px
			&-title
				max-width: 110px
				flex: 0 0 110px
				font-weight: bold
				font-size: 14px
				line-height: 18px
				color: $text
			&-value
				max-width: 180px
				flex: 0 0 180px
				font-weight: normal
				font-size: 14px
				line-height: 18px
				color: rgba($text, .5)
				&--dealer
					color: #D71016
					font-weight: 500
		&-specifications
			font-style: normal
			font-weight: 500
			font-size: 12px
			line-height: 18px
			color: rgba($text, .5)
			margin-bottom: 12px
		&-inner
			display: flex
			margin-bottom: 12px
		&-artikul
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: $text
			margin-right: 15px
		&-status
			color: $green
			font-weight: 500
			font-size: 14px
			line-height: 22px
		&-view
			display: flex
			align-items: center
			font-weight: normal
			font-size: 12px
			line-height: 40px
			color: rgba($text, .5)
			svg
				margin-right: 12px
		&-favorite
			display: flex
			align-items: center
			justify-content: center
			padding-left: 20px
			padding-right: 20px
			height: 35px
			border: 2px solid #D5D5D6
			border-radius: 8px
			color: $text
			cursor: pointer
			transition: all .3s ease
			margin-right: 13px
			svg
				margin-right: 10px
				transition: all .3s ease
			&--active, &:hover, &:active
				color: #fff
				transition: all .3s ease
				background-color: #D5D5D6
				svg
					path
						fill: #fff
						transition: all .3s ease
	&__title
		margin: 0
		color: $text
		font-weight: bold
		font-size: 24px
		font-family: 'Navigo'
		line-height: 24px
		margin-bottom: 12px

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

.tabs
	margin-top: 50px
	.tabs__button-group
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #E9EAEA
		margin-bottom: 50px
		.active
			color: $text
			&::after
				content: ""
				position: absolute
				width: 100%
				height: 4px
				border-radius: 4px
				bottom: -1px
				background-color: #FF0000
				left: 0
				right: 0
	.tabs__toggle
		font-weight: bold
		font-size: 18px
		line-height: 18px
		color: rgba($text, .5)
		padding-bottom: 18px
		position: relative
		cursor: pointer
	.tabs__tab-panel
		display: none
	.tabs__container .active
		display: block

.other-auto
	margin-bottom: 40px
	margin-top: 50px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		max-width: 22%
		flex: 0 0 22%
		margin-right: 4%
		margin-bottom: 25px
		a
			text-decoration: none
		&-title
			font-weight: normal
			font-size: 16px
			line-height: 22px
			color: $text
		&-price
			font-weight: bold
			font-size: 16px
			line-height: 22px
			color: $text
		&-city
			padding-left: 8px
			padding-right: 8px
			background: #F0F0FE
			border-radius: 4px
			display: inline-block
			font-weight: normal
			font-size: 12px
			line-height: 30px
			height: 30px
			margin-top: 15px
			margin-bottom: 15px
			color: $text
		&:nth-child(4n)
			margin-right: 0
		&-img
			height: 150px
			img
				width: 100%
				height: 100%
				object-fit: cover
	&__header
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 25px
	&__button-more
		border-radius: 8px
		border: 2px solid #D5D5D6
		width: 230px
		height: 40px
		line-height: 40px
		text-align: center
		color: $text
		font-weight: 500
		font-size: 14px
		cursor: pointer
		transition: all .3s ease
		display: block
		text-decoration: none
		&:hover, &:active
			background-color: #D5D5D6
			color: #fff
			transition: all .3s ease

.footer
	padding: 40px 0
	background-color: #2B2D33
	&__line
		margin-top: 18px
		display: flex
		justify-content: space-between
		align-items: center
	&__copy
		font-size: 16px
		line-height: 26px
		color: #808185
	&__politic
		color: #808185
		border-bottom: 1px solid #808185
		text-decoration: none
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 30px
		border-bottom: 1px solid #55575C
	&__nav
		display: flex
	&__link
		font-weight: 500
		font-size: 16px
		line-height: 26px
		color: #808185
		text-decoration: none
		margin-right: 50px
		transition: all .3s ease
		&:hover, &:active
			color: lighten(#808185, 15%)
			transition: all .3s ease
		&:last-child
			margin-right: 0

.single-description
	&__comment
		max-width: 580px
		margin-top: 50px
		margin-bottom: 50px
		&-text
			p
				font-weight: normal
				font-size: 14px
				line-height: 22px
				color: rgba($text, .8)
		&-more
			color: #00809C
			border-bottom: 1px solid #00809C
			font-weight: normal
			font-size: 14px
			line-height: 22px
			display: inline-block
			cursor: pointer
	&__wrap
		display: flex
		justify-content: space-between
		.single__content-wrap
			max-width: 30%
			flex: 0 0 30%
		.single__content-item-title
			max-width: 150px
			flex: 0 0 150px
		.single__content-item-value
			max-width: 140px
			flex: 0 0 140px

.index-title
	font-family: 'Navigo'
	font-style: normal
	font-weight: bold
	font-size: 24px
	line-height: 40px
	border-bottom: 5px solid #E9EAEA
	margin-bottom: 30px
	margin-left: -25px
	margin-right: -25px
	padding-left: 25px
	padding-right: 25px
	padding-bottom: 25px
	display: none

.modal-carusel
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(#000, .8)
	display: none
	justify-content: center
	align-items: center
	z-index: 20
	&__inner
		position: relative
	&__btn
		width: 44px
		height: 44px
		display: flex
		justify-content: center
		align-items: center
		background: #F8F8F8
		border-radius: 4px
		cursor: pointer
		transition: all .3s ease
		&:hover, &:active
			background-color: darken(#F8F8F8, 10%)
			transition: all .3s ease
		&-left
			position: absolute
			left: -55px
			top: 50%
			transform: translateY(-50%)
		&-right
			position: absolute
			right: -55px
			top: 50%
			transform: translateY(-50%)
	&__close
		width: 44px
		height: 44px
		border: 2px solid #00A5BC
		border-radius: 4px
		background-color: #F8F8F8
		transition: all .3s ease
		position: absolute
		top: 20px
		right: 20px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		&:hover, &:active
			background-color: darken(#F8F8F8, 10%)
			transition: all .3s ease
	&--active
		display: flex
	&__title
		margin-top: 35px
		margin-bottom: 10px
		font-weight: bold
		font-size: 18px
		font-family: 'Navigo'
		color: #fff
		text-align: center
	&__wrap
		max-width: 1020px
		margin: auto
		padding-left: 60px
		padding-right: 60px
		position: relative
	&__top
		height: 60%
		img
			object-fit: cover
			width: 100%
			height: 100%
			border-radius: 8px
	&__thumbs
		display: flex
		transition: all .3s ease
	&__thumb
		margin-right: 11.5px
		cursor: pointer
		flex: 0 0 160px
		max-width: 160px
		height: 100px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 8px

.single-paintwork
	&__wrap
		display: flex
		justify-content: space-between
	&__img
		flex: 0 0 420px
		max-width: 420px
	&__inner
		flex: 0 0 calc(100% - 510px)
		max-width: calc(100% - 510px)
	&__right
		display: flex
		align-items: center
	&__item
		display: flex
		justify-content: space-between
		align-items: center
		cursor: pointer
		padding-top: 10px
		padding-bottom: 10px
		border-top: 1px solid #E9EAEA
		&-title
			font-weight: bold
			font-size: 16px
			line-height: 18px
			color: $text
			margin-bottom: 10px
		&-subtitle
			font-weight: normal
			font-size: 16px
			line-height: 18px
			color: rgba($text, .5)
		&-img
			width: 64px
			height: 64px
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 8px
		&-text
			margin-right: 15px
			font-weight: normal
			font-size: 16px
			color: rgba($text, .5)
			line-height: 18px	
		&:last-child
			border-bottom: 1px solid #E9EAEA

.offer-dealer
	padding: 20px
	background: #FCFCFC
	border-radius: 8px
	padding-right: 40px
	margin-top: 80px
	&__inner
		display: flex
		justify-content: flex-end
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
	&__title
		font-weight: bold
		font-size: 24px
		line-height: 24px
		color: $text
		font-family: 'Navigo'
		margin-bottom: 5px
	&__art
		font-style: normal
		font-weight: 500
		font-size: 12px
		line-height: 18px
		color: rgba($text, .5)
	&__btns
		display: flex
		max-width: 60%
		flex: 0 0 60%
		justify-content: flex-end
	&__btn
		margin-left: 30px
		flex: 0 0 230px
	&__item
		display: flex
		padding: 15px
		padding-right: 30px
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04)
		border-radius: 8px
		background-color: #fff
		align-items: center
		margin-top: 5px
		&-map
			display: flex
			align-items: center
			font-weight: 500
			font-size: 12px
			line-height: 18px
			color: rgba($text, .5)
			svg
				margin-right: 10px
		&-title
			font-weight: 500
			font-size: 16px
			line-height: 16px
			color: #D71016
		&-img
			flex: 0 0 40px
			margin-right: 15px
			img
				width: 100%
				height: auto

.accordion
	border: 1px solid #E9EAEA
	border-radius: 12px
	&__title
		height: 60px
		display: flex
		justify-content: space-between
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 60px
		padding-left: 25px
		padding-right: 25px
		align-items: center
		cursor: pointer
		svg
			transition: all .3s ease
	&__content
		padding: 15px 25px
		display: none
		padding-top: 5px
	&__item
		border-bottom: 1px solid #E9EAEA
		&:last-child
			border-bottom: none
		&--active
			.accordion__title
				svg
					transform: rotate(-180deg)
					transition: all .3s ease
			.accordion__content
				display: block

.option-auto
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		max-width: 50%
		flex: 0 0 50%

.counters
	padding-left: 25px
	padding-right: 25px
	font-weight: normal
	font-size: 14px
	line-height: 22px
	color: rgba($text, .5)
	position: relative
	&::before
		content: ""
		position: absolute
		top: 7px
		left: 0
		width: 8px
		height: 8px
		background-color: #00809C
		border-radius: 100%

.single-equipment
	&__wrap
		display: flex
		flex-wrap: wrap
		margin-top: 30px
	&__accordion
		max-width: 67%
		flex: 0 0 67%
	&__dealer
		margin-left: 25px
		flex: 0 0 calc(33% - 25px)
		max-width: calc(33% - 25px)
		.single__dealer-wrap
			padding-bottom: 35px
		.single__dealer-stock
			font-weight: 500
			font-size: 16px
			line-height: 26px
			margin-top: 15px
		.single__dealer-rating
			margin-top: 15px
		.single__dealer-price
			text-align: left
		.single__dealer-commission
			text-align: left
			font-weight: normal
			font-size: 12px
			line-height: 12px
			font-family: 'Navigo'
			color: rgba($text, .5)
			margin-top: 10px
			margin-bottom: 15px
		.offer-dealer__item
			padding-right: 15px

.new-auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&__btns
		max-width: 100%
		flex: 0 0 100%
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 10px
	&__btn
		&-search
			color: #00809C
			font-weight: normal
			font-size: 12px
			line-height: 18px
			border-bottom: 1px solid #00809C
			cursor: pointer
		&-show
			width: 260px
			flex: 0 0 260px
			height: 50px
			line-height: 50px
			text-align: center
			cursor: pointer
			background-color: #FED500
			border-radius: 8px
			font-weight: 500
			font-size: 14px
			color: $text
			transition: all .3s ease
			&:hover, &:active
				background-color: lighten(#FED500, 15%)
				transition: all .3s ease
	&__column
		max-width: 32%
		flex: 0 0 32%
	&__inner
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		&-item
			max-width: 47%
			flex: 0 0 47%

.select-input
	position: relative
	margin-bottom: 10px
	cursor: pointer
	&__result
		position: absolute
		top: calc(100% + 5px)
		width: 100%
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.08))
		background-color: #fff
		border-radius: 8px
		z-index: 5
		height: 0
		overflow: hidden
		transition: all .3s ease
	&__item
		display: flex
		align-items: center
		font-size: 12px
		color: $text
		padding-top: 5px
		padding-bottom: 5px
		cursor: pointer
		&--active
			background-color: rgba(15, 129, 226, 1)
			color: #fff
		svg
			margin-right: 5px
			margin-left: 5px
			position: initial !important
			transform: translate(0) !important
			cursor: pointer
			path
				fill: #fff
	input
		width: 100%
		cursor: pointer
		background: transparent
		padding-left: 12px
		padding-right: 40px
		height: 36px
		outline: none
		border: 1px solid #D5D5D6
		box-sizing: border-box
		border-radius: 8px
		font-weight: normal
		font-size: 14px
		line-height: 22px
		color: $text
		font-family: 'ALS Hauss', sans-serif
		&::placeholder
			color: rgba($text, .5)
	svg
		position: absolute
		cursor: pointer
		top: 50%
		right: 12px
		top: 50%
		transform: translateY(-50%)

.filter
	padding: 15px 30px 20px
	border: 1px solid #E9EAEA
	border-radius: 8px
	margin-bottom: 40px
	margin-top: 25px
	.tabs
		margin-top: 0
	.tabs__button-group
		margin-left: -30px
		padding-left: 30px
		margin-right: -30px
		padding-right: 30px
		margin-bottom: 20px
		justify-content: start
	.tabs__toggle
		margin-right: 30px

.title
	font-weight: bold
	font-size: 32px
	line-height: 40px
	font-family: 'Navigo'
	color: $text
	margin-top: 20px
	margin-bottom: 0

.subtitle
	font-weight: 500
	font-size: 12px
	line-height: 18px
	color: rgba($text, .5)

.single__mobile
	display: none

.advantages
	display: flex
	overflow: hidden
	width: 100%
	overflow-x: scroll
	&::-webkit-scrollbar 
		width: 0px /* ширина для вертикального скролла */
		height: 0px/* высота для горизонтального скролла */
	&__item
		position: relative
		background: #F0F0FE
		border-radius: 4px
		font-weight: normal
		white-space: nowrap
		font-size: 12px
		line-height: 22px
		color: $text
		padding-left: 8px
		padding-right: 8px
		height: 22px
		margin-right: 10px
		&:last-child
			margin-right: 0
		svg
			height: 22px

.single__dealer-info
	display: flex
	align-items: center

.progres-bar
	&__title
		font-weight: normal
		font-size: 16px
		line-height: 20px
		color: #55575C
		margin-bottom: 5px
	&__wrap
		background: #E9EAEA
		border-radius: 8px
		height: 8px
		max-width: 320px
	&__item
		background: #00A5BC
		border-radius: 8px
		height: 8px
		width: 39%

.auto-item
	display: flex
	padding-bottom: 25px
	border-bottom: 1px solid #E9EAEA
	margin-bottom: 25px
	&__change
		max-width: calc(100% - 285px)
		flex: 0 0 calc(100% - 285px)
		&-btns
			display: flex
			position: relative
			margin-top: 15px
		&-static
			position: absolute
			right: 0
			width: 36px
			height: 36px
			box-sizing: border-box
			border: 2px solid #D5D5D6
			display: flex
			align-items: center
			justify-content: center
			border-radius: 8px
			cursor: pointer
		&-stop
			font-weight: 500
			font-size: 14px
			height: 36px
			line-height: 36px
			width: 120px
			text-align: center
			border-radius: 8px
			background: #E9EAEA
			color: rgba(43, 45, 51, 0.24)
			cursor: pointer
		&-edit
			width: 170px
			height: 36px
			border-radius: 8px
			background: #2B2D33
			display: flex
			align-items: center
			justify-content: center
			color: #FFFFFF
			font-weight: 500
			font-size: 14px
			cursor: pointer
			transition: all .3s ease
			margin-right: 15px
			svg
				margin-right: 10px
			&:hover
				background: lighten(#2B2D33, 10%)
				transition: all .3s ease
		&-inner
			display: flex
			margin-top: 5px
		&-icon
			display: flex
			align-items: center
			font-size: 12px
			line-height: 40px
			font-weight: normal
			margin-right: 40px
			color: rgba($text, .5)
			svg
				margin-right: 12px
			
		&-title
			display: flex
			justify-content: space-between
			font-weight: bold
			font-size: 18px
			line-height: 32px
			align-items: center
			margin-bottom: 7px
		&-price
			font-weight: 500
			font-size: 14px
			line-height: 32px
			height: 32px
			padding-left: 29px
			padding-right: 29px
			background: #F0F0FE
			border-radius: 8px
	&__dealer
		flex: 0 0 190px
		min-width: 190px
		&-wrap
			padding: 7px
			padding-top: 15px
			background: #F9F9F9
			border-radius: 8px
		&-img
			width: 50px
			margin: auto
			margin-bottom: 10px
			img
				width: 100%
				height: auto
		&-price
			height: 40px
			line-height: 40px
			background: #F0F0FE
			border-radius: 8px
			font-weight: bold
			font-size: 14px
			text-align: center
			margin-bottom: 5px
		&-commission
			font-weight: 500
			font-size: 12px
			line-height: 22px
			color: #008E7D
			text-align: center
			margin-bottom: 10px
		&-open
			height: 50px
			line-height: 50px
			background: #19B28D
			border-radius: 8px
			font-weight: 500
			font-size: 14px
			color: #fff
			text-align: center
			cursor: pointer
			transition: all .3s ease
			&:hover, &:active
				background-color: darken(#19B28D, 5%)
				transition: all .3s ease
	&__title
		font-weight: bold
		font-size: 18px
		line-height: 32px
		color: $text
	.single__dealer-inner
		margin-top: 30px
		margin-bottom: 10px
		max-width: 150px
	&__inner
		display: flex
		justify-content: space-between
		&-title
			font-weight: normal
			font-size: 16px
			line-height: 20px
			color: rgba($text, .5)
			margin-bottom: 3px
		&-text
			font-weight: normal
			font-size: 16px
			line-height: 20px
			color: #55575C
		&-item
			max-width: 30%
			flex: 0 0 30%
	&__img
		max-width: 260px
		flex: 0 0 260px
		height: 170px
		margin-right: 25px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 8px
	&__content
		max-width: 320px
		flex: 0 0 320px
		margin-right: 85px
	&__dealer
		max-width: 190px
		flex: 0 0 190px

.catalog
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 20px
		margin-bottom: 25px
		border-bottom: 1px solid #E9EAEA
	&__title
		font-family: 'Navigo'
		font-weight: 500
		font-size: 18px
		color: $text
	&__sorts
		display: flex
	&__sort
		max-width: 200px
		margin-right: 20px
	&__date
		max-width: 180px
	.select-input
		margin-bottom: 0

.company-dealer
	display: flex
	justify-content: space-between
	padding: 20px
	background: #FFFFFF
	border-radius: 8px
	&__wrap
		padding-bottom: 20px
		margin-bottom: 20px
		border-bottom: 1px solid #E9EAEA
	&__btns
		max-width: 230px
		flex: 0 0 230px
	.single__dealer-open
		margin-bottom: 0
		margin-top: 15px
	&__title
		font-weight: bold
		font-size: 32px
		line-height: 40px
		font-family: 'Navigo'
		color: $text
	.single__dealer-inner
		max-width: 150px
		margin-top: 10px
	&__map
		display: flex
		align-items: center
		font-weight: 500
		font-size: 12px
		line-height: 18px
		color: rgba($text, .5)
		svg
			margin-right: 10px
	&__content
		max-width: calc(100% - 150px)
		flex: 0 0 calc(100% - 150px)
	&__block
		display: flex
		max-width: calc(100% - 300px)
		flex: 0 0 calc(100% - 300px)
		align-items: center
	&__img
		flex: 0 0 120px
		display: flex
		align-items: center
		margin-right: 30px
		img
			width: 100%
			height: auto

.company
	background: #FCFCFC
	padding-bottom: 15px

.title-min
	font-weight: 500
	font-size: 18px
	line-height: 40px
	font-family: 'Navigo'
	color: $text
	margin-top: 15px
	margin-bottom: -25px

.profile
	display: flex
	&__title
		font-weight: bold
		font-size: 32px
		line-height: 40px
		font-family: 'Navigo'
		color: $text
		padding-bottom: 20px
		margin-bottom: 20px
		border-bottom: 1px solid #E9EAEA
	&__content
		max-width: calc(100% - 340px)
		flex: 0 0 calc(100% - 340px)
	&__sidebar
		max-width: 310px
		flex: 0 0 310px
		margin-left: 30px
	&__account
		background: #FFFFFF
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.17)
		border-radius: 4px
		padding: 30px
		margin-top: 20px
		&-help
			font-weight: normal
			font-size: 16px
			color: rgba($text, .5)
			padding-top: 15px
			margin-top: 15px
			border-top: 1px solid #C4C4C4
			display: block
			span
				border-bottom: 1px solid rgba($text, .5)
		&-link
			display: block
			font-weight: 500
			font-size: 18px
			color: #008E7D
			transition: all .3s ease
			text-decoration: none
			margin-bottom: 7px
			&:hover
				color: darken(#008E7D, 5%)
				transition: all .3s ease
		&-title
			font-weight: 500
			font-size: 20px
			color: $text
			padding-bottom: 15px
			margin-bottom: 15px
			border-bottom: 1px solid #C4C4C4

.form-header
	padding-top: 50px
	padding-bottom: 50px
	background: #FCFCFC
	&__title
		font-weight: bold
		font-size: 32px
		font-family: 'Navigo'
		margin: 0
		margin-bottom: 25px
		color: $text
	&__text
		font-weight: 500
		font-size: 16px
		line-height: 22px
		color: rgba($text, .5)

.form
	&__wrap
		display: flex
		margin-top: 40px
		margin-bottom: 100px
	&__sidebar
		max-width: 200px
		flex: 0 0 200px
	&__content
		max-width: calc(100% - 250px)
		flex: 0 0 calc(100% - 250px)
		margin-right: 50px


.form-progress
	background: #F9F9F9
	border-radius: 8px
	padding: 40px 30px
	padding-right: 20px
	&__wrap
		position: relative
		&::before
			content: ""
			width: 10px
			left: -1px
			position: absolute
			height: calc(100% - 11px)
			top: 50%
			transform: translateY(-50%)
			border-radius: 8px
			background-color: #E9EAEA
	&__item
		position: relative
		padding-left: 24px
		margin-bottom: 20px
		font-weight: normal
		font-size: 14px
		line-height: 22px
		color: #808185
		&::before
			content: ""
			width: 8px
			height: 8px
			border-radius: 100%
			left: 0
			top: 50%
			transform: translateY(-50%)
			background-color: #AAABAD
			position: absolute
		&--active
			color: #00809C
			font-weight: bold
			&::before
				content: ""
				background-color: #00809C

.form-step
	&__more
		color: #00809C
		font-weight: normal
		font-size: 12px
		line-height: 18px
		border-bottom: 1px solid #00809C
		display: inline-block
		cursor: pointer
	&__inner
		display: flex
		flex-wrap: wrap
		margin-top: 25px
		&--active
			.form-step__column--none
				display: block
	&__column
		max-width: 20%
		flex: 0 0 20%
		&--none
			display: none
	&__title
		margin-top: 40px
		font-weight: bold
		font-size: 24px
		line-height: 40px
		font-family: 'Navigo'
		margin-bottom: 40px
		color: $text
		&-auto
			display: flex
			align-items: center
			padding-bottom: 25px
			margin-bottom: 30px
			border-bottom: 1px solid #E9EAEA
			&-img
				width: 64px
				height: 64px
				margin-right: 15px
				flex: 0 0 64px
				img
					width: 100%
					height: 100%
					object-fit: cover
			&-text
				font-weight: bold
				font-size: 24px
				line-height: 32px
				color: $text
	&__search
		position: relative
		width: 100%
		&-result
			position: absolute
			top: calc(100% + 5px)
			width: 100%
			background: #FFFFFF
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
			border-radius: 8px
			height: 0
			transition: height .3s ease
			overflow: hidden
			&--active
				height: 216px
				transition: height .3s ease
		&-item
			height: 40px
			line-height: 40px
			font-weight: normal
			font-size: 14px
			color: $text
			padding-left: 15px
			padding-right: 15px
			cursor: pointer
			&:last-child
				padding-bottom: 8px
			&:first-child
				padding-top: 8px
		&-input
			position: relative
			input
				width: 100%
				box-sizing: border-box
				padding-left: 50px
				padding-right: 10px
				height: 50px
				border-radius: 8px
				border: 1px solid #D5D5D6
				font-weight: normal
				font-size: 16px
				line-height: 26px
				font-family: 'ALS Hauss'
				color: $text
				&::placeholder
					color: #AAABAD
			button
				background-color: transparent
				cursor: pointer
				border: 0
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 10px

.brand-auto
	display: flex
	align-items: center
	margin-bottom: 20px
	padding-right: 15px
	cursor: pointer
	&__title
		line-height: 32px
		font-weight: bold
		font-size: 14px
		line-height: 18px
		color: $text
	&__img
		width: 32px
		flex: 0 0 32px
		height: 32px
		margin-right: 10px
		img
			width: 100%
			height: 100%
			object-fit: cover

.toggle-button
	margin-bottom: 30px
	padding-bottom: 30px
	border-bottom: 1px solid #E9EAEA
	&__title
		font-weight: bold
		font-size: 14px
		line-height: 18px
		color: $text
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		cursor: pointer
		margin-top: 15px
		height: 48px
		line-height: 44px
		margin-right: 17px
		padding-left: 24px
		padding-right: 24px
		border: 2px solid #2B2D33
		box-sizing: border-box
		border-radius: 8px
		font-weight: 500
		font-size: 16px
		transition: all .3s ease
		&:hover, &:active, &--active
			background-color: #2B2D33
			color: #fff
			transition: all .3s ease

.auto-colors
	margin-bottom: 30px
	padding-bottom: 30px
	border-bottom: 1px solid #E9EAEA
	&__title
		font-weight: bold
		font-size: 14px
		line-height: 18px
		color: $text
	&__wrap
		display: flex
		flex-wrap: wrap
	&__item
		margin-top: 15px
		height: 48px
		width: 48px
		flex: 0 0 48px
		border-radius: 100%
		border: 1px solid #DADADA
		margin-right: 15px
		cursor: pointer
		&--white
			background-color: #fff
		&--orange
			background-color: #FF9966
		&--yellow
			background-color: #FDE910
		&--sun
			background-color: #FABE00
		&--red
			background-color: #FF2600
		&--burgundy
			background-color: #CC1D33
		&--brown
			background-color: #926547
		&--blue
			background-color: #0088FF
		&--darkblue
			background-color: #0433FF
		&--purple
			background-color: #9966CC
		&--green
			background-color: #35BA2B
		&--black
			background-color: #000000

.text-center
	text-align: center

.input-block
	position: relative
	&__title
		display: flex
		align-items: center
		justify-content: space-between
	&__date
		position: relative
		max-width: 135px
		flex: 0 0 135px
		svg
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 12px
	&__help
		width: 320px
		position: absolute
		box-sizing: border-box
		border-radius: 8px
		background-color: #fff
		box-shadow: 0 0 10px 1px rgba(#000, .1)
		padding: 12px 15px
		font-weight: normal
		font-size: 12px
		line-height: 18px
		color: #EE505A
		top: 50%
		transform: translateY(-50%)
		left: calc(100% + 20px)
		display: none
		&::before
			content: ""
			display: none
			border: 10px solid transparent
			border-right: 10px solid white
			border-radius: 2px
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: -10px
			background-color: #fff
			box-shadow: 0 0 10px 1px rgba(#000, .1)
	input
		width: 100%
		height: 52px
		border: 1px solid #D5D5D6
		border-radius: 8px
		box-sizing: border-box
		padding-left: 12px
		padding-right: 12px
		font-weight: normal
		font-size: 16px
		color: $text
		font-family: 'ALS Hauss'
		&::placeholder
			color: #AAABAD
	label
		margin-top: 5px
		margin-bottom: 5px
		font-weight: normal
		font-size: 14px
		line-height: 22px
		color: #808185
	&--error
		input
			border-color: #EE505A
			outline-color: #EE505A
			outline-width: 2px
		label
			color: #EE505A

.step-block
	margin-bottom: 30px
	padding-bottom: 30px
	border-bottom: 1px solid #E9EAEA
	&__text
		font-weight: normal
		font-size: 14px
		line-height: 18px
		color: $text
		margin-bottom: 15px
	&__wrap
		display: flex
		align-items: center
	&__title
		font-weight: bold
		font-size: 14px
		line-height: 18px
		color: $text
		margin-bottom: 15px

.form-group 
	display: block
	margin-right: 30px


.form-group input 
	padding: 0
	height: initial
	width: initial
	margin-bottom: 0
	display: none
	cursor: pointer


.form-group label 
	position: relative
	cursor: pointer
	//font-weight: normal
	//font-size: 16px
	color: $text

.form-group label:before 
	content: ''
	-webkit-appearance: none
	background-color: transparent
	border: 2px solid #D5D5D6
	border-radius: 4px
	padding: 10px
	display: inline-block
	position: relative
	vertical-align: middle
	cursor: pointer
	margin-right: 10px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.modal-catolog__main-wrap-1
	display: none

.form-step-5, .form-step-6
	padding-left: 25px
	padding-right: 25px
	display: none

.form-group input:checked + label:after 
	content: ''
	display: block
	position: absolute
	width: 24px
	height: 24px
	top: 0
	border: 0
	background-image: url(../img/check.svg)
	background-size: cover
	background-repeat: no-repeat
	border: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	//margin: 0
	//padding: 0

.form-group input:checked + label:before
	background-color: transparent
	border-color: transparent

.input-load
	background: #F8F8F8
	border: 1px dashed #D5D5D6
	border-radius: 8px
	height: 90px
	display: flex
	position: relative
	align-items: center
	justify-content: center
	input
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		z-index: 1
		width: 100%
	&__format
		font-weight: normal
		font-size: 12px
		line-height: 18px
		color: #AAABAD
		text-align: center
	&__title
		display: flex
		font-weight: normal
		font-size: 14px
		line-height: 22px
		color: #808185
		justify-content: center
		span
			display: inline-flex
			align-items: center
			font-weight: normal
			font-size: 14px
			line-height: 22px
			color: #00809C
			svg
				margin-left: 10px
				margin-right: 6px

.load-file
	margin-top: 30px
	&__item
		display: flex
		margin-bottom: 30px
		position: relative
		&-close
			top: 50%
			transform: translateY(-50%)
			right: 5px
			position: absolute
			cursor: pointer
		&-img
			width: 40px
			flex: 0 0 40px
			height: 40px
			margin-right: 15px
			img
				width: 100%
				height: 100%
				object-fit: cover
		&-block
			max-width: calc(100% - 95px)
			flex: 0 0 calc(100% - 95px)
			position: relative
		&-progres
			border-radius: 8px
			margin-top: 10px
			height: 4px
			background-color: #E9EAEA
			position: absolute
			bottom: -14px
			width: 100%
			&-item
				background-color: #00A5BC
				height: 4px
				border-radius: 8px
				width: 0
		&-title
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: $text
		&-size
			font-weight: normal
			font-size: 12px
			line-height: 18px
			color: #AAABAD

.form-step-2, .form-step-3, .form-step-4
	display: none

.bg-form
	height: calc(100vh - 90px)
	background-image: url(../img/bg.png)
	box-sizing: border-box
	padding: 10px 0
	background-size: cover
	background-repeat: no-repeat

.form-reg
	max-width: 470px
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08)
	border-radius: 16px
	background-color: #fff
	box-sizing: border-box
	padding: 30px
	margin-top: 60px
	&__text
		font-weight: normal
		font-size: 14px
		line-height: 14px
		color: $text
		margin-bottom: 25px
	&__title
		font-weight: bold
		font-size: 26px
		line-height: 26px
		font-family: 'Navigo'
		margin-bottom: 25px
		color: $text
	.input-block
		margin-bottom: 15px
	&__btns
		display: flex
		margin-top: 40px
		align-items: center
		a
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: $text
			text-decoration: none
		button
			outline: none
			background-color: #FED500
			border-radius: 8px
			border: 0
			height: 40px
			width: 180px
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: $text
			font-family: 'ALS Hauss', sans-serif
			margin-right: 30px
			cursor: pointer
			transition: all .3s ease
			&:hover, &:active
				background-color: lighten(#FED500, 15%)
				transition: all .3s ease

.cod
	display: flex
	align-items: center
	justify-content: center
	height: 100%
	&__form
		padding: 30px
		background: #FFFFFF
		box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08)
		border-radius: 16px
		max-width: 420px
		width: 420px
		box-sizing: border-box
	&__title
		font-weight: bold
		font-size: 26px
		line-height: 34px
		color: $text
		font-family: 'Navigo'
		text-align: center
		margin-bottom: 30px
	&__input
		width: 150px
		display: block
		margin-left: auto
		margin-right: auto
		font-family: 'Navigo'
		font-weight: bold
		font-size: 26px
		line-height: 34px
		text-align: center
		border: 0
		outline: none
		height: 48px
		margin-bottom: 10px
		border-bottom: 2px solid #C74952
	&__label
		display: block
		text-align: center
		color: #C74952
		font-weight: normal
		font-size: 14px
		line-height: 22px
	&__repeat
		display: block
		text-align: center
		margin-top: 25px
		margin-bottom: 40px
		font-weight: 500
		font-size: 14px
		line-height: 22px
		color: $text
	&__button
		outline: none
		background-color: #FED500
		border-radius: 8px
		border: 0
		height: 40px
		width: 130px
		font-weight: 500
		font-size: 14px
		line-height: 22px
		color: $text
		font-family: 'ALS Hauss', sans-serif
		margin-left: auto
		margin-right: auto
		display: block
		cursor: pointer
		transition: all .3s ease
		&:hover, &:active
			background-color: lighten(#FED500, 15%)
			transition: all .3s ease

.chat
	&__wrap
		display: flex
		margin-bottom: 55px
	&__sidebar
		flex: 0 0 230px
		max-width: 230px
		margin-right: 30px
	&__content
		max-width: calc(100% - 260px)
		flex: 0 0 calc(100% - 260px)

.online
	background: #CF030A
	border: 1px solid #FFFFFF
	box-sizing: border-box
	border-radius: 100px
	position: absolute
	width: 10px
	height: 10px
	&--active
		background: #018E01

.massage
	height: 100%
	&__wrap
		padding: 25px
		border: 1px solid #E9EAEA
		box-sizing: border-box
		border-radius: 8px
		margin-top: 10px
		height: calc(100% - 105px)
	&__item
		display: flex
		align-items: center
		position: relative
		padding-bottom: 10px
		margin-bottom: 10px
		border-bottom: 1px solid #E9EAEA
		&:last-child
			border-bottom: 0 solid #000
		&-block
			flex: 0 0 calc(100% - 80px)
			max-width: calc(100% - 80px)
		&-num
			position: absolute
			top: 40%
			transform: translateY(-50%)
			right: 0
			background: #EB001B
			border: 1px solid #FFFFFF
			box-sizing: border-box
			border-radius: 100px
			width: 16px
			height: 16px
			font-weight: bold
			font-size: 9px
			line-height: 14px
			text-align: center
			color: #fff
		&-title
			font-weight: 500
			font-size: 14px
			line-height: 22px
			color: #00809C
		&-auto
			font-weight: normal
			font-size: 12px
			line-height: 18px
			color: #AAABAD
		&-img
			flex: 0 0 40px
			max-width: 40px
			margin-right: 15px
			position: relative
			.online
				bottom: 0
				right: 0
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 100%
	&__title
		display: flex
		font-family: 'Navigo'
		font-weight: bold
		font-size: 16px
		line-height: 40px
		color: $text
		align-items: center
		justify-content: space-between
		margin-bottom: 15px
		&-new
			font-weight: normal
			font-size: 12px
			line-height: 28px
			font-family: 'ALS Hauss'
			background-color: #fff
			background: rgba(235, 0, 27, 0.1)
			border-radius: 4px
			height: 28px
			padding-left: 8px
			padding-right: 8px
	&__search
		position: relative
		input
			width: 100%
			box-sizing: border-box
			height: 40px
			padding-left: 40px
			padding-right: 10px
			border: 0
			background-color: #F4F4F4
			border-radius: 8px
			outline: none
			font-size: 14px
			&::placeholder
				font-weight: normal
				font-size: 14px
				line-height: 22px
				color: rgba(43, 45, 51, 0.24)
		button
			position: absolute
			top: 50%
			left: 15px
			transform: translateY(-50%)
			background-color: transparent
			border: 0
			outline: none
			padding: 0
			cursor: pointer

.massage-block__auto-phone-mobile
	display: none

.massage-block
	border: 1px solid #E9EAEA
	box-sizing: border-box
	border-radius: 8px
	&__mobile
		display: none
		&-close
			display: none
	&__send
		display: flex
		justify-content: space-between
		padding-left: 56px
		padding-right: 56px
		padding-bottom: 25px
		padding-top: 20px
		border-top: 1px solid #E9EAEA
		&-attach
			width: 40px
			flex: 0 0 40px
			height: 40px
			background: #D5D5D6
			border-radius: 8px
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
		&-submit
			width: 40px
			flex: 0 0 40px
			height: 40px
			background: #00809C
			border-radius: 8px
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
		&-textarea
			flex: 0 0 calc(100% - 120px)
			max-width: calc(100% - 120px)
			textarea
				height: 40px
				box-sizing: border-box
				padding-top: 10px
				width: 100%
				border: 0
				outline: none
				resize: none
				font-family: 'ALS Hauss'
				font-style: normal
				font-weight: normal
				font-size: 16px
				line-height: 18px
				color: $text
				&::placeholder
					color: #AAABAD
	&__main
		padding-left: 56px
		padding-right: 56px
		height: 500px
		overflow-y: scroll
		padding-bottom: 40px
		box-sizing: border-box
		&::-webkit-scrollbar 
			width: 7px /* ширина для вертикального скролла */
			height: 10px/* высота для горизонтального скролла */
		/* ползунок скроллбара */
		&::-webkit-scrollbar-thumb 
			background-color: #C7C7C7
			border-radius: 10px
			transition: all .3s ease
			-webkit-appearance: none
			&:hover
				background-color: darken(#C7C7C7, 15%)
				transition: all .3s ease
	&__item
		display: flex
		align-items: start
		margin-bottom: 25px
		&-right
			flex-direction: row-reverse
			.massage-block__item-img
				margin-right: 0
				margin-left: 10px
			.massage-block__item-time
				left: auto
				right: 0
			.massage-block__item-text
				background: #FCFCFC
		&-img
			width: 32px
			height: 32px
			flex: 0 0 32px
			margin-right: 10px
			img
				width: 100%
				height: 100%
				border-radius: 100%
				object-fit: cover
		&-text
			flex: 0 0 200px
			max-width: 200px
			box-sizing: border-box
			border: 1px solid #D5D5D6
			border-radius: 8px
			padding-top: 13px
			padding-left: 12px
			padding-right: 12px
			padding-bottom: 13px
			position: relative
		&-time
			position: absolute
			top: calc(100% + 5px)
			left: 0
			color: #AAABAD
			font-weight: normal
			font-size: 14px
			line-height: 22px
	&__auto
		display: flex
		align-items: center
		&-phone
			width: 140px
			height: 40px
			background-color: #19B28D
			border-radius: 8px
			line-height: 40px
			text-align: center
			color: #FFFFFF
			font-weight: 500
			font-size: 14px
			cursor: pointer
			transition: all .3s ease
			&:hover, &:active
				background-color: darken(#19B28D, 5%)
				transition: all .3s ease
		&-img
			width: 42px
			height: 42px
			box-sizing: border-box
			border-radius: 8px
			margin-right: 10px
			img
				border: 1px solid #E9EAEA
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 8px
				vertical-align: bottom
	&__main
		&-day
			text-align: center
			font-weight: normal
			font-size: 14px
			line-height: 22px
			color: #AAABAD
			margin-top: 25px
			margin-bottom: 25px
	&__header
		padding-left: 50px
		padding-right: 50px
		padding-top: 25px
		padding-bottom: 20px
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid #E9EAEA
	&__man
		display: flex
		align-items: center
		&-img
			width: 56px
			height: 56px
			margin-right: 15px
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 100%
		&-title
			font-weight: 500
			font-size: 18px
			line-height: 22px
			color: $text
		&-auto
			font-weight: normal
			font-size: 16px
			line-height: 18px
			color: #AAABAD
			text-decoration: underline

.overflow-hidden
	overflow: hidden

.filter-mobile
	border-radius: 0
	border-left: 0 solid #000
	border-right: 0
	margin-bottom: 0
	margin-top: 0
	padding-top: 0
	border-bottom: 0
	display: none
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08)
	.tabs__button-group
		position: relative
		z-index: 11
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
		padding-top: 15px
	.mew-auto__mobile-wrap
		border: 1px solid #D5D5D6
		box-sizing: border-box
		border-radius: 8px
		width: 100%
		margin-bottom: 15px
	.mew-auto__mobile-btns
		display: flex
		justify-content: space-between
	.mew-auto__mobile
		&-all
			display: flex
			justify-content: center
			align-items: center
			height: 48px
			flex: 0 0 49%
			max-width: 49%
			border-radius: 8px
			background-color: #FED500
			cursor: pointer
			font-weight: 500
			font-size: 14px
			color: $text
			&:hover
				background-color: #ffe24c
				transition: all 0.3s ease
		&-opt
			display: flex
			font-weight: 500
			font-size: 14px
			color: $text
			justify-content: center
			align-items: center
			height: 48px
			flex: 0 0 49%
			max-width: 49%
			border-radius: 8px
			background-color: rgba(254, 213, 0, 0.2)
			cursor: pointer
			transition: all .3s ease
			&:hover
				background-color: darken(rgba(254, 213, 0, 0.2), 10%)
				transition: all .3s ease
			svg
				margin-right: 15px
	.mew-auto__mobile-item
		height: 48px
		display: flex
		justify-content: space-between
		padding-left: 12px
		padding-right: 12px
		box-sizing: border-box
		align-items: center
		line-height: 48px
		border-bottom: 1px solid #D5D5D6
		font-weight: normal
		font-size: 18px
		color: #AAABAD
		cursor: pointer
		&:last-child
			border-bottom: 0 solid #000
	.mew-auto__mobile
		width: 100%




.lk
	margin-bottom: 45px
	&__submit
		display: block
		width: 130px
		margin-top: 25px
		height: 40px
		background-color: #FED500
		border-radius: 8px
		text-align: center
		line-height: 40px
		font-weight: 500
		font-size: 14px
		text-decoration: none
		color: $text
		transition: all .3s ease
		&:hover, &:active
			background-color: lighten(#FED500, 15%)
			transition: all .3s ease
	&__container
		max-width: 500px
	&__inner
		display: flex
		justify-content: space-between
		margin-bottom: 20px
		&-item
			max-width: 48%
			flex: 0 0 48%
	&__title
		font-weight: bold
		font-size: 16px
		line-height: 40px
		font-family: 'Navigo'
		color: $text
	&__header
		display: flex
		align-items: center
		margin-top: 10px
		margin-bottom: 20px
		&-upload
			flex: 0 0 calc(100% - 142px)
			max-width: calc(100% - 142px)
		&-img
			width: 112px
			flex: 0 0 112px
			height: 112px
			margin-right: 30px
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 100%

.humburger
	margin-left: 15px
	cursor: pointer
	display: none

.close-menu
	display: none
	cursor: pointer
	margin-left: 15px
	width: 21px
	text-align: right

.mobile-menu
	position: fixed
	height: calc(100vh - 64px)
	bottom: 0
	width: 100%
	left: 0
	right: 0
	top: 64px
	background-color: #fff
	display: none
	z-index: 11
	&__footer
		&-politic
			font-weight: normal
			font-size: 16px
			line-height: 26px
			color: #808185
			border-bottom: 1px solid #808185
			margin-top: 25px
			margin-bottom: 15px
			display: inline-block
		&-copy
			font-size: 16px
			line-height: 26px
			color: #808185
			font-weight: normal
	&__border
		height: 5px
		background-color: #E9EAEA
		margin-left: -30px
		margin-right: -30px
	&__menu
		margin-top: 30px
		&-favr
			position: absolute
			width: 24px
			height: 24px
			line-height: 24px
			background-color: #EB001B
			font-weight: bold
			font-size: 12px
			color: #fff
			text-align: center
			border: 1px solid #fff
			border-radius: 100px
			top: 50%
			transform: translateY(-50%)
			left: calc(100% + 15px)
		&-messg
			position: absolute
			width: 38px
			height: 24px
			line-height: 24px
			background-color: #EB001B
			font-weight: bold
			font-size: 12px
			color: #fff
			text-align: center
			border: 1px solid #fff
			border-radius: 100px
			top: 50%
			transform: translateY(-50%)
			left: calc(100% + 15px)
		&-item
			display: block
			margin-bottom: 30px
			a
				display: inline-block
				font-weight: 500
				font-size: 24px
				color: #008E7D
				position: relative
				transition: all .3s ease
				&:hover, &:active
					color: darken(#008E7D, 10%)
					transition: all .3s ease
	.header__search
		display: block
		margin-top: 20px
		input
			width: 100%
			box-sizing: border-box
	&__wrap
		max-width: 700px
		padding: 25px 30px 20px
		margin: auto
		height: 100%
		overflow-y: scroll
		box-sizing: border-box
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
	.header__profile
		display: flex
		flex-direction: row-reverse
		&-img
			margin-left: 0
			margin-right: 15px
	.header__out
		display: flex
	&__header
		display: flex
		align-items: center
		justify-content: space-between

.no-reg
	.header__search
		margin-top: 90px
	.mobile-menu__menu
		margin-bottom: 70px
	&__item
		margin-top: 30px
		margin-bottom: 30px
	&__link
		display: block
		height: 48px
		width: 100%
		line-height: 48px
		text-align: center
		border: 2px solid #D5D5D6
		box-sizing: border-box
		border-radius: 8px
		font-weight: 500
		font-size: 14px
		color: $text
	&__title
		font-weight: 500
		text-align: center
		padding: 0 25px
		font-size: 20px
		line-height: 24px
		color: $text
		margin-bottom: 30px

main
	overflow: hidden

.padding_select_input
	padding-left: 25px
	padding-right: 25px
	padding-bottom: 50px

.modal-catolog
	position: fixed
	z-index: 12
	background-color: #fff
	left: 0
	right: 0
	bottom: 0
	top: 0
	display: none
	&__checkbox
		display: flex
		align-items: center
		padding-left: 25px
		padding-right: 25px
		.form-group
			margin-right: 0
		&-text
			font-weight: bold
			flex: 0 0 calc(100% - 54px)
			font-size: 16px
			color: $text
			padding: 15px 0
			border-bottom: 1px solid #E9EAEA
		&-item
			flex: 0 0 24px
			margin-left: 30px
			height: 24px
	.header__search
		display: block
	&__header
		height: 64px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
		line-height: 64px
		text-align: center
		font-weight: 500
		font-size: 16px
		color: $text
		position: relative
		z-index: 13
	&__close
		position: fixed
		top: 25px
		left: 30px
		z-index: 20
	&__auto
		padding: 0 25px
		display: flex
		align-items: center
		&-text
			font-weight: bold
			flex: 0 0 calc(100% - 57px)
			font-size: 16px
			color: $text
			padding: 15px 0
			border-bottom: 1px solid #E9EAEA
		&-img
			flex: 0 0 32px
			margin-right: 25px
			img
				width: 100%
				height: auto
	&__inner
		overflow: hidden
	&__main
		height: calc(100vh - 230px)
		overflow-y: scroll
		overflow-x: hidden
	&__search
		padding: 15px 25px
		background: #FCFCFC
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08)
		margin-bottom: 20px
		input
			width: 100%
			box-sizing: border-box
	&__button
		position: fixed
		bottom: 20px
		left: 20px
		right: 20px
		height: 50px
		background-color: #FED500
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
		border-radius: 8px
		line-height: 50px
		text-align: center
		font-weight: 500
		font-size: 14px
		cursor: pointer
		transition: all .3s ease
		&:hover
			background-color: #ffe24c
			transition: all 0.3s ease

.auto-item-mobile
	padding-bottom: 30px
	margin-bottom: 30px
	margin-left: -25px
	margin-right: -25px
	padding-left: 25px
	padding-right: 25px
	border-bottom: 5px solid #E9EAEA
	display: none
	.auto-item__change
		width: 100%
		flex: 0 0 100%
		max-width: 100%
	.auto-item__change-title
		display: none
	.progres-bar__wrap
		max-width: 100%
	.auto-item__change-edit
		flex: 0 0 100%
		max-width: 100%
		height: 48px
		line-height: 48px
	.auto-item__change-btns
		flex-wrap: wrap
	.auto-item__change-static
		position: inherit
	.auto-item__change-stop
		max-width: calc(100% - 73px)
		flex: 0 0 calc(100% - 73px)
		margin-top: 15px
		height: 48px
		line-height: 48px
	.auto-item__change-static
		margin-left: 25px
		margin-top: 15px
		width: 48px
		height: 48px
	&__title
		font-size: 22px
		line-height: 32px
		color: #2B2D33
		margin-bottom: 10px
	&__dealer
		padding: 14px 12px
		background: #F9F9F9
		border-radius: 8px
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 10px
		margin-top: 10px
		&-img
			width: 50px
			img
				width: 100%
		&-btn
			width: 160px
			height: 50px
			background-color: #19B28D
			border-radius: 8px
			line-height: 50px
			text-align: center
			color: #FFFFFF
			font-weight: 500
			font-size: 14px
			cursor: pointer
			transition: all .3s ease
			&:hover, &:active
				background-color: darken(#19B28D, 5%)
				transition: all .3s ease
		&-rating
			font-weight: 500
			font-size: 12px
			line-height: 26px
			margin-top: 3px
			span
				color: #FF5F00
	&__images
		display: flex
		margin-bottom: 15px
		overflow: hidden
		margin-right: -50px
		overflow-x: scroll
		&::-webkit-scrollbar 
			width: 0px /* ширина для вертикального скролла */
			height: 0px/* высота для горизонтального скролла */
	&__overlay
		&-block
			position: absolute
			top: 0 
			left: 0
			right: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			background: linear-gradient(0deg, #D5D5D6, #D5D5D6)
			border-radius: 8px
			cursor: pointer
		&-item
			text-align: center
			font-weight: bold
			font-size: 12px
			color: #fff
			svg
				display: block
				margin-bottom: 10px
				margin-left: auto
				margin-right: auto
				
	&__img
		flex: 0 0 260px
		height: 170px
		position: relative
		margin-right: 25px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 8px
	&__inner
		display: flex
		justify-content: space-between
		margin-bottom: 15px
		align-items: center
	&__price
		font-weight: bold
		font-size: 18px
		line-height: 44px
		height: 44px
		padding-left: 18px
		padding-right: 18px
		background: #F0F0FE
		border-radius: 8px
	&__comission
		font-weight: 500
		font-size: 12px
		line-height: 22px
		color: #008E7D

@import "_media.sass"