@media (max-width: 1800px)
	.search-page__inner
		padding-left: 40px
@media (max-width: 1650px)
	.search-page__block
		width: 60%
	.search-page__buttons
		padding: 40px 20px
		width: calc(40% - 40px)
		left: 60%
@media (max-width: 1550px)
	.search-page__inner
		padding-left: 20px
		padding-right: 20px
	.footer__left
		max-width: 280px
		flex: 0 0 280px
		flex-wrap: wrap
	.footer__social
		max-width: 100%
		flex: 0 0 100%
		margin-left: 0
		margin-top: 40px
		&-item
			margin-left: 0
			margin-right: 20px
	.footer__right
		max-width: calc(100% - 480px)
		flex: 0 0 calc(100% - 480px)
		flex-wrap: wrap
	.footer__item
		max-width: 47%
		flex: 0 0 47%
		margin-bottom: 30px
@media (max-width: 1300px)
	.search-page__map
		iframe
			position: absolute
			z-index: -1
	.search-page--active .search-page__buttons
		width: calc(100% - 40px)
	.search-page__block
		width: 100%
		height: 45%
		bottom: 0
		top: auto
		box-shadow: -20px 0px 130px rgba(37, 1, 0, 0.15)
		border-radius: 70px 70px 0 0 
	.search-page__buttons
		width: calc(100% - 40px)
		left: 0
		flex-wrap: wrap
	.search-page--active .search-page__block
		width: 100%
		height: 115px
	.search-page__title
		text-align: center
		font-weight: 500
		font-size: 24px
		line-height: 29px
		border-bottom: 1px solid #C4C4C4
		padding-bottom: 30px
		margin-bottom: 40px
	.search-page__inner
		padding-left: 60px
		padding-right: 60px
	.search-page__wrap
		padding-left: 20px
		padding-right: 20px
	.search-page__buttons-filters
		max-width: 100%
		flex: 0 0 100%
		order: 1
		display: none
		justify-content: center
	.search-page__buttons-filters--active
		display: flex
	.search-page__block
		.search-page__filters
			display: none
		&-button
			width: 120px
			height: 7px
			border-radius: 10px
			position: absolute
			left: 50%
			transform: translateX(-50%)
			background-color: #D8D8D8
			top: 30px
@media (max-width: 1200px)
	.footer__сurrency
		max-width: 140px
		flex: 0 0 140px
	.footer__line-inner
		max-width: calc(100% - 200px)
		flex: 0 0 calc(100% - 200px)
		flex-wrap: wrap
	.footer__line-link
		margin-bottom: 10px
	.footer__copy
		order: 1
	.banner
		&__img
			&-1
				display: none
			&-2
				display: block
		&__block
			left: 100px
@media (max-width: 1100px)
	.post__item
		height: 360px
	.post
		margin-bottom: 100px
	.post__title
		font-size: 20px
		line-height: 24px
	.post__text
		font-size: 14px
		line-height: 17px
		padding-left: 0
		height: 48px
		&::before
			content: ""
			width: 0
	.post__inner
		padding: 17px
@media (max-width: 1000px)
	.search-page__item
		flex-wrap: wrap
		position: relative
		padding-top: 110px
	.search-page__item-header
		position: absolute
		top: 0
		flex-wrap: wrap
		display: block
		width: calc(100% - 200px)
	.search-page__item-title
		max-width: 100%
		flex: 0 0 100%
		height: 56px
	.search-page__item-favorites
		position: absolute
		top: 125px
		right: -160px
	.search-page__item-title a
		display: block
		br
			display: none
	.search-page__item-price
		color: $accent
		margin-bottom: 25px
	.search-page__item-status
		position: absolute
		top: 64px
		left: 80px
	.search-page__item-footer
		position: absolute
		top: 0
		right: 0
		margin-top: 0
		flex-direction: column-reverse
	.search-page__item-img, .search-page__item-block
		max-width: 100%
		flex: 0 0 100%
	.footer__right
		max-width: calc(100% - 350px)
		flex: 0 0 calc(100% - 350px)
		flex-wrap: wrap
	.advantages
		margin-top: 210px
		&__item
			border-right: 0
			padding-right: 0
			max-width: 32%
			flex: 0 0 32%
		&__title
			font-size: 24px
			line-height: 29px
			margin-bottom: 5px
		&__text
			font-size: 16px
			line-height: 19px
	.bg-header
		height: 980px
	.selection
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 45px 60px
		margin-top: 550px
		&__block
			left: auto
			right: 0
			&--active
				width: 325px
		&__city-result
			padding-top: 20px
			padding-bottom: 20px
			padding-left: 10px
			padding-right: 5px
			height: calc(100% - 40px)
		&__city-inner
			padding-right: 5px
		&__title
			flex: 0 0 100%
			max-width: 100%
		&__city
			max-width: 48%
			flex: 0 0 48%
		&__calendar
			max-width: 48%
			flex: 0 0 48%
		&__button
			max-width: 250px
			flex: 0 0 250px
			order: 2
		&__wrap
			max-width: calc(100% - 280px)
			flex: 0 0 calc(100% - 280px)
			order: 1

		.calendar
			width: 300px
			&__item
				height: 38px
				flex: 0 0 38px
				max-width: 38px
				margin-right: 4.7px
				line-height: 38px

		.calendar__item--active-color::before
			width: 165%
			left: -37%

@media (max-width: 900px)
	.search-page__button-post-open, .search-page__button-filter
		font-size: 0
		svg
			margin-right: 0
@media (max-width: 768px)
	.search-page__button
		border: 1px solid #C7C7C7
		box-shadow: 0 0 0 0 transparent
	.search-page__resize
		box-shadow: 0 0 0 0 transparent
		border: 1px solid #C7C7C7
	.search-page__buttons-filters
		display: none
		position: absolute
		top: 85px
		background: #fff
		left: -20px
		right: -20px
		width: calc(100% - 40px)
		padding: 20px 40px
		.search-page__filters
			flex-wrap: wrap
			padding: 0
			width: 100%
		.search-page__filter-price-subtitle
			font-size: 22px
			font-weight: 500
		.search-page__filter-feature-modal
			position: relative
			top: 0
			height: 100%
			width: 100%
			box-shadow: 0 0 0 0 transparent
			border-radius: 0
		.search-page__filter-feature-item
			max-width: 100%
			flex: 0 0 100%
			justify-content: space-between
		.search-page__filter
			border-radius: 0
		.search-page__filter-price-modal
			position: relative
			box-shadow: 0 0 0 0 transparent
			border-radius: 0
			height: 100%
			top: 0
			width: calc(100% - 40px)
			padding: 20px
			padding-top: 0
			.range-slider
				width: 100%
		.search-page__filter
			max-width: 100%
			flex: 0 0 100%
			padding: 0
			height: auto
			border: 0
			

	.search-page__resize
		margin-top: 65px
	.search-page__button-help, .search-page__button-full-map
		display: none
	.search-page__button-filter
		position: absolute
		right: 20px
		display: flex
		margin-right: 0
		width: 50px
		height: 50px
		justify-content: center
		padding: 0
	.search-city__input input, .calendar-form__input input
		height: 50px
		width: 100%
	.search-page__buttons
		padding-top: 22px
	.search-page__header
		position: absolute
		top: 20px
		z-index: 1000
		padding: 0
		width: calc(100% - 110px)
		.search-city__button
			display: none
		.header__logo, .header__office, .header__rent, .header__burger
			display: none
		.header__city
			display: block
			.search-city
				height: auto
				padding: 0
		.calendar-form__input
			height: 50px
		.search-city__input
			height: 50px
		.header__calendar
			display: block
			margin-right: 0
			.calendar-form
				height: auto
	.search-page__block
		border-radius: 40px  40px 0 0
	.search-page
		height: 100vh
	.search-page__item-title a
		font-size: 20px
		line-height: 24px
	.search-page__item-price
		font-size: 22px
	.search-page__item-status
		top: 60px
		font-size: 14px
	.search-page__inner
		padding-left: 20px
		padding-right: 20px
	.search-page__item-block
		padding: 0
	.search-page__item-title
		height: 48px
	.footer__left
		max-width: 100%
		flex: 0 0 100%
		padding-bottom: 45px
		border-bottom: 1px solid #C4C4C4
		margin-bottom: 35px
		justify-content: center
	.footer__social
		justify-content: center
		margin-top: 40px
		&-item
			margin: 0 10px
	.footer__right
		max-width: 100%
		flex: 0 0 100%
		justify-content: space-evenly
	.footer__copy
		margin-top: 30px
		flex: 0 0 100%
		max-width: 100%
	.footer__line-inner
		max-width: calc(100% - 100px)
		flex: 0 0 calc(100% - 100px)
	.footer__сurrency
		flex-direction: column-reverse
		max-width: 75px
		flex: 75px
		> svg
			margin-top: 20px
			margin-right: 30px
	.footer__item
		max-width: 40%
		flex: 0 0 40%
	.post
		flex-wrap: wrap
		margin-bottom: 70px
		&__item
			max-width: 100%
			flex: 0 0 100%
			margin-bottom: 20px
		&__title
			font-size: 24px
			line-height: 28px
		&__inner
			padding: 30px
		&__text
			font-size: 16px
			font-weight: 300
			padding-left: 15px
			height: auto
			&::before
				content: ""
				width: 5px
	.banner-2 .banner__button a::after
		content: ""
		background-image: url(../img/baner2/arrow2.svg)
		width: 240px
		height: 160px
	.title
		font-size: 28px
		line-height: 34px
		margin-bottom: 35px
	.advantages
		margin-top: 560px
		flex-wrap: wrap
		margin-bottom: 30px
		&__item
			max-width: 100%
			flex: 0 0 100%
			display: flex
			flex-wrap: wrap
			justify-content: flex-end
			position: relative
			margin-bottom: 70px
		&__icon
			position: absolute
			top: 0
			left: 0
			widows: 100%
		&__title, &__text
			max-width: calc(100% - 100px)
			flex: 0 0 calc(100% - 100px)
	.banner__block
		left: 80px
	.banner__title
		font-size: 28px
		line-height: 34px
		strong
			font-size: 36px
			line-height: 44px
	.banner__text
		font-size: 18px
		line-height: 21px
	.header__rent
		display: block
	.header__office a, .header__rent a
		font-size: 16px
	.selection
		padding: 50px 20px
		margin-left: -20px
		width: 100%
		margin-top: 350px
		&__city, &__calendar, &__wrap
			flex: 0 0 100%
			max-width: 100%
		&__calendar
			order: 2
			&-wrap
				&--active
					margin-top: 470px
					padding-top: 20px
					padding-bottom: 20px
					height: auto
					display: block
					background-color: #fff
					position: relative
					z-index: 2
					.calendar
						margin: auto
		&__city
			&-result
				width: calc(100% - 57px)
				background: #fff
				border: 1px solid $accent
				top: 30px
				margin-top: 210px
				margin-left: auto
				margin-right: auto
				height: 350px
				border-top: 0
				border-radius: 0 0 5px 5px
	.header__logo
		max-width: 65px
		flex: 0 0 65px
		img
			display: none
		svg
			display: block
	.header__btns
		display: none
	.header__burger
		display: block
	.bg-header
		height: 550px
	.selection__block
		background-color: transparent
		box-shadow: 0 0 0 0 transparent
		width: 100%
		height: 0
		overflow: inherit
		&--active
			height: 100%
	.header
		height: auto
	#header-sticky
		padding: 15px 0
	.container
		padding: 0 20px
			


@media (max-width: 550px)
	.search-page__wrap
		padding-left: 0
		padding-right: 0
	.banner-2 .banner__button a::after
		content: ""
		background-image: url(../img/baner2/arrow3.svg)
		width: 230px
		height: 240px
		left: auto
		top: 10px
		right: -100px
		transform: translateY(0px)
	.banner
		overflow: hidden
	.banner__img
		&-3
			display: block
		&-2
			display: none
	.banner__block
		top: 40px
		left: 60px
		transform: translateY(0)
		width: calc(100% - 120px)
	.banner__title
		font-size: 20px
		line-height: 24px
		margin-bottom: 15px
		br
			display: none
		strong
			font-size: 28px
			line-height: 32px
	.banner__text
		position: relative
		padding-left: 15px
		font-size: 16px
		line-height: 19px
		margin-bottom: 30px
		&::before
			content: ""
			position: absolute
			width: 5px
			height: 5px
			border-radius: 100%
			background-color: $accent
			top: 8px
			left: 0
	.banner__button
		a
			width: 200px
			height: 50px
			line-height: 50px
			font-size: 22px
			&::after
				content: ""
				width: 56px
				height: 25px
@media (max-width: 500px)
	.search-city__input input, .calendar-form__input input
		height: 50px
		width: 100%
		padding: 0 15px
		padding-left: 35px
	.search-city__input svg, .calendar-form__input > svg
		left: 10px
	.calendar-form__input input
		padding-left: 40px
@media (max-width: 440px)
	.search-page__item-price
		font-size: 16px
		margin-bottom: 25px
	.search-page__item-options
		display: block
	.search-page__item-option
		font-size: 14px
	.search-page__item-header
		width: calc(100% - 100px)
	.search-page__item-favorites
		right: -75px
	.rent-slider__btn
		display: none
	.rent-slider__dots
		display: flex
	.rent-slider__item
		max-width: 280px
		flex: 0 0 280px
		margin-right: 30px
	.rent-slider__item-title
		font-size: 22px
		line-height: 26px
	.search-page__item-status
		top: 80px
		left: 0
	.header__wrap
		flex-wrap: wrap
		.header__city
			margin-right: 0
			flex: 0 0 100%
			max-width: 100%
			margin-bottom: 20px
		.header__calendar
			max-width: 100%
			flex: 0 0 100%
@media (max-width: 400px)
	.header__office, .header__rent
		margin-right: 20px
	.header__office a
		font-size: 16px
	.banner-2 .banner__button a
		width: 200px
	
@media (max-width: 350px)
	.selection__wrap
		flex-wrap: wrap
		&-item
			max-width: 100%
			flex: 0 0 100%
	.selection
		&__calendar
			&-wrap
				&--active
					margin-top: 520px